
@font-face {font-family: "iconfont-e-course";
  src: url('../../../fonts/fonts/iconfont.eot?t=1496986821131'); /* IE9*/
  src: url('../../../fonts/iconfont.eot?t=1496986821131#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../../fonts/iconfont.woff?t=1496986821131') format('woff'), /* chrome, firefox */
  url('../../../fonts/iconfont.ttf?t=1496986821131') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../../fonts/iconfont.svg?t=1496986821131#iconfont-e-course') format('svg'); /* iOS 4.1- */
}

.iconfont-e-course {
  font-family:"iconfont-e-course" !important;
  font-size:16px;
  font-style:normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xcd-icon-e-course--add:before { content: "\e62f"; }

.xcd-icon-e-course--minus:before { content: "\e68d"; }

.xcd-icon-e-course--fujian:before { content: "\e63b"; }

.xcd-icon-e-course--ask:before { content: "\e6d7"; }

.xcd-icon-e-course--empty:before { content: "\e784"; }

.xcd-icon-e-course--right-2:before { content: "\e604"; }

.xcd-icon-e-course--pan:before { content: "\e60b"; }

.xcd-icon-e-course--video:before { content: "\e607"; }

.xcd-icon-e-course--half:before { content: "\e603"; }

.xcd-icon-e-course--done:before { content: "\e600"; }

.xcd-icon-e-course--del:before { content: "\e615"; }

.xcd-icon-e-course--down:before { content: "\e80d"; }

.xcd-icon-e-course--left:before { content: "\e80e"; }

.xcd-icon-e-course--top:before { content: "\e80f"; }

.xcd-icon-e-course--right:before { content: "\e810"; }

.xcd-icon-e-course--left-2:before { content: "\e811"; }

.xcd-icon-e-course--note:before { content: "\e60c"; }

.xcd-icon-e-course--file:before { content: "\e60e"; }

