$white: #fff;
$greyc: #ccc;
$grey9: #999;
$grey6: #666;
$grey3: #333;

$border-bottom: #0096ff;
$bgc: #38adff;
$color: #fff;

$searchActive: #38adff;

$themeColor: #38adff; //user-list hover color
$themeColor2: #fff; //active border-bottom bgc
$themeColor3: #fff; //hover <a> color

$iconfont-path:"../../";