@font-face {
  font-family: 'enroll';
  src: url('#{$iconfont-path}fonts/enroll.eot?p2hcuy');
  src: url('#{$iconfont-path}fonts/enroll.eot?p2hcuy#iefix') format('embedded-opentype'),
  url('#{$iconfont-path}fonts/enroll.ttf?p2hcuy') format('truetype'),
  url('#{$iconfont-path}fonts/enroll.woff?p2hcuy') format('woff'),
  url('#{$iconfont-path}fonts/enroll.svg?p2hcuy#enroll') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="en-icon-"], [class*=" en-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'enroll' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.en-icon-add:before {
  content: "\e900";
}

.en-icon-min:before {
  content: "\e901";
}

.en-icon-search:before {
  content: "\e902";
}

.en-icon-phone:before {
  content: "\e903";
}

.en-icon-rarrow:before {
  content: "\e904";
}

.en-icon-larrow:before {
  content: "\e905";
}

.en-icon-rsj:before {
  content: "\e906";
}

.en-icon-dsj:before {
  content: "\e907";
}

.en-icon-view:before {
  content: "\e908";
}

.en-icon-user:before {
  content: "\e909";
}

.en-icon-close:before {
  content: "\e90a";
}

.en-icon-play:before {
  content: "\e90b";
}

.en-icon-star2:before {
  content: "\e90c";
}

.en-icon-star1:before {
  content: "\e90d";
}

.en-icon-darrow:before {
  content: "\e90e";
}

.en-icon-uparrow:before {
  content: "\e90f";
}

.en-icon-question:before {
  content: "\e910";
}

.en-icon-document:before {
  content: "\e911";
}

.en-icon-study:before {
  content: "\e912";
}

.en-icon-sort:before {
  content: "\e913";
}

.en-icon-halfstar:before {
  content: "\e914";
}

.en-icon-study2:before {
  content: "\e915";
}

.en-icon-exam2:before {
  content: "\e916";
}

.en-icon-note2:before {
  content: "\e917";
}

.en-icon-answer2:before {
  content: "\e918";
}

.en-icon-auth2:before {
  content: "\e919";
}

.en-icon-sort2:before {
  content: "\e91a";
}

.en-icon-check-yes:before {
  content: "\e91b";
}

.en-icon-radio:before {
  content: "\e91c";
}

.en-icon-gz:before {
  content: "\e91d";
}

.en-icon-finish:before {
  content: "\e91e";
}

.en-icon-half:before {
  content: "\e91f";
}

.en-icon-star:before {
  content: "\e920";
}

.en-icon-write:before {
  content: "\e921";
}

.en-icon-share:before {
  content: "\e922";
}

.en-icon-circle:before {
  content: "\e923";
}

.en-icon-url:before {
  content: "\e924";
}

.en-icon-book:before {
  content: "\e925";
}

.en-icon-review:before {
  content: "\e926";
}

.en-icon-lg-locked:before {
  content: "\e927";
}

.en-icon-vide:before {
  content: "\e928";
}

.en-icon-collection:before {
  content: "\e929";
}

.en-icon-pic:before {
  content: "\e92a";
}

.en-icon-doc:before {
  content: "\e92b";
}

.en-icon-txt:before {
  content: "\e92c";
}

.en-icon-music:before {
  content: "\e92d";
}

.en-icon-locked:before {
  content: "\e92e";
}

.en-icon-dy:before {
  content: "\e92f";
}

.en-icon-catalog:before {
  content: "\e930";
}

.en-icon-vr:before {
  content: "\e931";
}

.en-icon-fail:before {
  content: "\e932";
}

.en-icon-success:before {
  content: "\e933";
}

