$themeColor: #ce3f3f;
$btnhover: lighten($themeColor, 3%);
$iconfont-path:"../";

$red:                   #ce3f3f;
$main:                  $red;
$main-light:            #ae2c2c;
$main-dark:             #d14b4b;