$version: 2016090701;
/** 清除内外边距 **/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
  /* structural elements 结构元素 */
dl,
dt,
dd,
ul,
ol,
li,
  /* list elements 列表元素 */
pre,
  /* text formatting elements 文本格式元素 */
form,
fieldset,
legend,
button,
input,
textarea,
  /* form elements 表单元素 */
th,
td /* table elements 表格元素 */
{
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/
body,
button,
input,
select,
textarea /* for ie */
{
  font: 12px/1.5 "微软雅黑", arial, tahoma, simsun;

  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

/* 将斜体扶正 */
code,
kbd,
pre,
samp {
  font-family: tahoma, arial, "microsoft yahei", simsun, sans-serif;
}

/* 统一等宽字体 */
pre {
  border: none;

  font-size: inherit;

  background: none;
}

small {
  font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul,
ol {
  list-style: none;
}

/** 重置文本格式元素 **/
a {
  text-decoration: none;

  color: #333;
}

a:hover {
  text-decoration: underline;
}

sup {
  vertical-align: text-top;
}

/* 重置，减少对行高的影响 */
sub {
  vertical-align: text-bottom;
}

/** 重置表单元素 **/
legend {
  color: #000;
}

/* for ie6 */
fieldset,
img {
  border: 0;
}

/* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
  // font-size: 100%;
  vertical-align: middle;

  outline: none;
}

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* 重置 HTML5 元素 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block;

  margin: 0;
  padding: 0;
}

mark {
  background: #ff0;
}

.clear {
  clear: both;
}

.bold {
  font-weight: bold;
}

.over-hidden {
  overflow: hidden !important;
}

.required {
  color: #a00;
  &:after {
    content: "  ";
  }
}

.ellipse,
.ellipsis {
  display: block;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.bc_f {
  background: #fff;
}

.container-fluid {
  padding: 20px 20px 50px;
}

.box,
.block {
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 10px 20px;

  background: #fff;
  background: #fff;

  box-shadow: 0 1px 2px 2px #ddd;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;

  height: 0;

  content: "";
}

.clearfix {
  zoom: 1;
}

.cf:before,
.cf:after {
  display: table;

  content: "";
}

.cf:after,
.cl {
  clear: both;
}

.cf {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pos_r {
  position: relative;
}

.pos_a {
  position: absolute;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tc {
  text-align: center !important;
}

.tl {
  text-align: left !important;
}

.tr {
  text-align: right !important;
}

.vm {
  display: inline-block;

  vertical-align: middle;
}

.vb {
  display: inline-block;

  vertical-align: baseline;
}

.vb1 {
  display: inline-block;

  vertical-align: bottom;
}

.vt {
  display: inline-block;

  vertical-align: top;
}

.hidden {
  visibility: hidden;
}

.disabled {
  pointer-events: none !important;
  background-color: #ccc !important;
  cursor: default !important;
  border-color: darken(#ccc, 5%) !important;
}

.mr10 {
  margin-right: 10px;
}

.mr10 {
  margin-right: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mtb20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

@each $fs in 12 14 16 18 20 22 24 26 {
  .fs#{$fs} {
    font-size: $fs+0 !important;
  }
}

@each $minW in 100 200 300 400 500 600 {
  .min-w#{$minW} {
    min-width: $minW*1px;
  }
}

$dir-map: (
        l:left,
        r:right,
        b:bottom,
        t:top
);
@each $dir, $fx in $dir-map {
  @each $px in 5 10 15 20 30 {
    .m#{$dir}#{$px} {
      margin-#{$fx}: $px*1px;
    }
  }
}

.pd8 {
  padding: 0 8px;
}

html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

;
.primary-tip {
  color: $themeColor;
  font-style: normal;
}

.default-tip {
  color: #999;
}

.primary {
  color: $themeColor;
  &:hover {
    color: darken($themeColor, 5%);
  }
}
//.upload-outer{
//  top:42px !important;
//}
.ajaxmask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 9999;
  .spinner {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url('../../images/loading.gif?v=#{$version}') center no-repeat;
    //-webkit-animation: rotateplane 1.2s infinite ease-in-out;
    //animation: rotateplane 1.2s infinite ease-in-out;
  }

  @-webkit-keyframes rotateplane {
    0% {
      -webkit-transform: perspective(120px)
    }
    50% {
      -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
  }

  @keyframes rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
}

@import "scrollBar";
@import "iconfont";
@import "layerui";
