<!--我的笔记-->
<div class="n-ui-note-item person-note">
  <div class="note-item-header">
    <div class="note-icon-txt">
      <!--ko if:biz_data-->
      <a target="_blank" data-bind="attr:{href:biz_data.location.web_link, 'class':'note-icon iconfont-learn '+ resourceClassName}"></a>
      <span class="note-txt" data-bind="text:biz_data.location.location"></span>
      <!--/ko-->
    </div>
    <!--ko if:biz_data-->
    <p class="note-txt-light-gray">
      <!-- ko translate:{key:'noteitem.course'}--> 课程：<!--/ko--><!--ko text:biz_data.course_name--><!--/ko-->
      <!--ko if:biz_data.chapter_name-->
      /  <!-- ko translate:{key:'noteitem.chapter'}--> 章节：<!--/ko--><!--ko text:biz_data.chapter_name.name--><!--/ko-->
      <!--/ko-->
    </p>
    <!--/ko-->
  </div>
  <!--笔记内容-->
  <div class="note-item-body">
    <p data-bind="text:content"></p>
  </div>
  <div class="note-item-footer">
    <!--创建时间-->
    <span class="note-txt-light-gray" data-bind="text:create_time"></span>
    <!--ko if:isFromExcerpt-->
    <div class="note-icon-txt fr" style="display:inline-block;float:none;margin-left:20px;">
      <a class="note-icon  iconfont-learn n-icon-star" style="cursor:default;"></a>
      <span class="note-txt note-txt-light-gray"  data-bind="translate:{key: 'noteitem.form'}" style="cursor:default;">来自摘录</span>
    </div>
    <!--/ko-->
    <div class="btn-wrap fr">
      <!--点赞-->
      <!--ko if:is_open()-->
      <div class="note-icon-txt">
        <a class="note-icon iconfont-learn n-icon-like" data-bind="click:togglePraise"></a>
        <span class="note-txt" data-bind="text: praise_count() > 0 ? praise_count() : i18nHelper.getKeyValue('noteitem.like')" style="cursor:default;"></span>
      </div>
      <!--/ko-->

      <!--ko if:isLogin-->
      <div class="note-icon-txt pdl40">
        <!--ko if:is_mine-->
        <a class="note-icon iconfont-learn n-icon-edit mr10" title="编辑" data-bind="click:edit, attr:{title: i18nHelper.getKeyValue('noteitem.edit') }"></a>
        <!--/ko-->
        <!--ko if:is_mine-->
        <a class="note-icon iconfont-learn n-icon-delete ml10" title="删除" data-bind="click:del, attr:{title: i18nHelper.getKeyValue('noteitem.del') }"></a>
        <!--/ko-->
      </div>
      <!--/ko-->

      <!--ko if:showExcerpt && userId!= user_id() -->
      <div class="note-icon-txt pdl20">
        <!--ko if:!has_excerpted()-->
        <a class="note-txt note-txt-light-gray" data-bind="click:excerpt, translate:{key:'noteitem.excerpt'}">摘录</a>
        <!--/ko-->
        <!--ko if:has_excerpted()-->
        <a class="note-txt note-txt-light-gray" data-bind="translate:{key:'noteitem.excerpted'}">已摘录</a>
        <!--/ko-->
      </div>
      <!--/ko-->

      <!--ko if:showBlowing && userId!= user_id() -->
      <div class="note-icon-txt pdl20">
        <!--ko if:!has_reported()-->
        <a class="note-txt" data-bind="click:whistleBlowing, translate:{key:'noteitem.report'}">举报</a>
        <!--/ko-->
        <!--ko if:has_reported()-->
        <a class="note-txt" data-bind="translate:{key: 'noteitem.reported'}">已被举报</a>
        <!--/ko-->
      </div>
      <!--/ko-->

    </div>
  </div>
</div>
<!--ko if:showLoginTipDlg-->
<div data-bind="component:{
  name: 'x-note-tip',
  params:{
    message: i18nHelper.getKeyValue('noteitem.login'),
    onConfirmCommand: confirmToLogin,
    onCancelCommand:cancelToLogin
  }
}"></div>
<!--/ko-->
<!--ko if:showBlowingDlg-->
<div data-bind="component:{
  name: 'x-note-blowing',
  params: {
    apiHost: apiHost,
    noteId: noteId,
    noteContent: content,
    onBlowed: onBlowed,
    onCanceled: onBlowCancel
  }
}"></div>
<!--/ko-->
<!--ko if:showBlowSuccessDlg-->
<div data-bind="component:{
  name: 'x-note-tip',
  params:{
    message: i18nHelper.getKeyValue('noteitem.reportedSuccess'),
    onConfirmCommand: closeBlowSuccess,
    onCanceled: closeBlowSuccess,
    buttons: ['confirm']
  }
}"></div>
<!--/ko-->