$white: #fff;
$greyc: #ccc;
$grey9: #999;
$grey6: #666;
$grey3: #333;

$border-bottom: #3bb800;
$bgc: #3bb800;
$color: #fff;

$searchActive: #3bb800;

$themeColor: #3bb800; //user-list hover color
$themeColor2: #fff; //active border-bottom bgc
$themeColor3: #fff; //hover <a> color

$iconfont-path:"../../";