@import "./_theme";
@import "../share/faqButton";


.faqCircle{
  .circleFaq{
    background-position: -3px -168px;
  }
  &:hover {
    .circleFaq{
      background-position: -83px -168px;
    }
  }
}
.topCircle{
  .circleTop{
    background-position: -3px -168px;
  }
  &:hover {
    .circleTop{
      background-position: -83px -168px;
    }
  }
}