$themeColor: #3bb800;
$themeColor3:#fff;
$themeColor2:#3bb800;
$btnhover: #3bb800;
$headerborder:#0096ff;
$navaColor:#fff;
$iconfont-path:"../../..";
$orange:#ff6600;
$main:$themeColor;
$main-light:lighten($main, 5%);
$main-dark:darken($main, 5%);