<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
        	      <remove fileExtension=".woff" />
        	      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        	      <remove fileExtension=".woff2" />
        	      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        	    </staticContent>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
