@charset "UTF-8";
.bc-blue,a.mb-btn{border:1px solid #5cb731}
.ellipsis,.header .logined .user-info .user-name,ul.cookie-list li,ul.search-cookie li{text-overflow:ellipsis;white-space:nowrap}
body,html{height:100%;box-sizing:border-box;font:14px/1.5 "Microsoft Yahei","Hiragino Sans GB",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif;color:#333}
em,i{font-style:normal}
body{overflow-y:scroll;background-color:#f2f2f2}
.ellipsis,.layout,.ovh,.search-wrapper .input-holder{overflow:hidden}
.layout{min-height:100%;margin:0 0 -158px}
[data-render]{display:none}
a.l-btn,a.mb-btn,a.s-btn{display:inline-block}
.boxs{box-shadow:0 1px 5px 1px #ccc}
.vm{vertical-align:middle}
.vb{vertical-align:bottom}
.icon-m i{margin-right:8px}
.lh1{line-height:1}
.nodata{min-height:300px;line-height:200px;text-align:center}
.mt20{margin-top:20px!important}
.ml20{margin-left:20px}
.mr20{margin-right:20px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px!important}
.mt30{margin-top:30px!important}
.mb40{margin-bottom:40px!important}
.mtb15{margin:15px 0}
.mtb10{margin:10px 0}
.pd15{padding:15px}
.pos_r{position:relative}
.pos_a{position:absolute}
.bc-f2{background:#f2f2f2}
.bc-c5{background:#c5c5c5}
.bc-f{background:#fff}
.bc-blue{background:#5cb731}
.bc-o{background:#f60}
.bc-transparent{background-color:rgba(0,0,0,.3)}
.blue{color:#5cb731!important}
.fc3{color:#333!important}
.fc6{color:#666!important}
.fc9{color:#999!important}
.fs12{font-size:12px!important}
.fs13{font-size:13px!important}
.fs14{font-size:14px!important}
.fs16{font-size:16px!important}
.fs18{font-size:18px!important}
.fs20{font-size:20px!important}
.fs24{font-size:24px!important}
a.s-btn{padding:0 20px;height:30px;line-height:30px}
a.mb-btn{border-radius:4px;padding:0 50px;height:40px;font-size:18px;line-height:40px}
a.l-btn{box-sizing:border-box;border-radius:4px;padding:0 65px;height:50px;font-size:22px;line-height:50px}
a.l-btn.bc-blue:hover{box-sizing:border-box;border:1px solid #3e7b21;background:#4c9728}
.s-img,.side-pro .s-img{width:80px;height:54px}
a.l-btn.bc-o:hover{background:#e35b00}
a.l-btn.blue:hover{background:rgba(56,173,255,.9);box-shadow:0 1px 3px 1px #ccc}
.borb{border-bottom:1px solid #d8d8d8}
.bor{border:1px solid #d8d8d8}
.l-u-pic,.m-u-pic{border-radius:50%}
.box-flex{display:-webkit-flex;display:-webkit-box;display:-ms-flexbox;display:flex}
.l-u-pic,.m-u-pic,.tip-icon{display:inline-block}
.flex-one{-webkit-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1}
.flex-two{-webkit-box-flex:2;-ms-box-flex:2;-o-box-flex:2;box-flex:2}
.w{width:100%}
.wrap{margin:0 auto;width:1200px}
.container{margin:0 auto 30px;width:1200px;min-height:540px}
.col-center{float:left;width:880px}
.col-right{float:right;width:300px}
.s-u-pic,.s-u-pic img{display:inline-block;border-radius:50%;width:30px;height:30px}
.m-u-pic{width:40px;height:40px}
.l-u-pic{width:50px;height:50px}
.tip-icon{width:18px;height:10px;background:url(../newimages/tip-icon.png) center no-repeat}
.break{display:block;word-break:break-all}

.crumbs-nav{margin-bottom:20px}
.crumbs-nav>div a{color:#666}
.crumbs-nav>div a:hover{color:#5cb731}
.crumbs-nav>div i{margin:0 6px}
.crumbs-nav>span{float:left;color:#999}
.load-box:after{font-size:16px;line-height:50px;color:#999;content:"正在加载"}
.load-ani{position:relative;right:0;left:0;z-index:10;margin-right:40px;width:50px;height:50px;-webkit-transition:all .3s ease-in-out 0;transition:all .3s ease-in-out 0}
.load-box{display:none}
.load-box.animate{display:block}
.sk-circle .sk-child{position:absolute;top:0;left:0;width:100%;height:100%}
.sk-circle .sk-child:before{display:block;margin:0 auto;border-radius:100%;width:15%;height:15%;background-color:#5cb731;-webkit-animation:sk-circleBounceDelay 1.2s infinite ease-in-out both;animation:sk-circleBounceDelay 1.2s infinite ease-in-out both;content:""}
.sk-circle .sk-circle2{-webkit-transform:rotate(30deg);transform:rotate(30deg)}
.sk-circle .sk-circle3{-webkit-transform:rotate(60deg);transform:rotate(60deg)}
.sk-circle .sk-circle4{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.sk-circle .sk-circle5{-webkit-transform:rotate(120deg);transform:rotate(120deg)}
.sk-circle .sk-circle6{-webkit-transform:rotate(150deg);transform:rotate(150deg)}
.sk-circle .sk-circle7{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.sk-circle .sk-circle8{-webkit-transform:rotate(210deg);transform:rotate(210deg)}
.sk-circle .sk-circle9{-webkit-transform:rotate(240deg);transform:rotate(240deg)}
.sk-circle .sk-circle10{-webkit-transform:rotate(270deg);transform:rotate(270deg)}
.sk-circle .sk-circle11{-webkit-transform:rotate(300deg);transform:rotate(300deg)}
.sk-circle .sk-circle12{-webkit-transform:rotate(330deg);transform:rotate(330deg)}
.sk-circle .sk-circle2:before{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.sk-circle .sk-circle3:before{-webkit-animation-delay:-1s;animation-delay:-1s}
.sk-circle .sk-circle4:before{-webkit-animation-delay:-.9s;animation-delay:-.9s}
.sk-circle .sk-circle5:before{-webkit-animation-delay:-.8s;animation-delay:-.8s}
.sk-circle .sk-circle6:before{-webkit-animation-delay:-.7s;animation-delay:-.7s}
.sk-circle .sk-circle7:before{-webkit-animation-delay:-.6s;animation-delay:-.6s}
.sk-circle .sk-circle8:before{-webkit-animation-delay:-.5s;animation-delay:-.5s}
.sk-circle .sk-circle9:before{-webkit-animation-delay:-.4s;animation-delay:-.4s}
.sk-circle .sk-circle10:before{-webkit-animation-delay:-.3s;animation-delay:-.3s}
.sk-circle .sk-circle11:before{-webkit-animation-delay:-.2s;animation-delay:-.2s}
.sk-circle .sk-circle12:before{-webkit-animation-delay:-.1s;animation-delay:-.1s}
@-webkit-keyframes sk-circleBounceDelay{0%,100%,80%{-webkit-transform:scale(0);transform:scale(0)}
40%{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes sk-circleBounceDelay{0%,100%,80%{-webkit-transform:scale(0);transform:scale(0)}
40%{-webkit-transform:scale(1);transform:scale(1)}
}
.pop-mask{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:999;background-color:rgba(0,0,0,.7)}
.side-nodata{font-size:16px;line-height:100px;text-align:center;color:#999}
ul.cookie-list,ul.search-cookie{position:absolute;left:0;top:37px;width:100%;box-sizing:border-box;background:#fff;border:1px solid #d2d2d2;border-top:0;border-radius:5px;z-index:989;display:none}
ul.cookie-list li,ul.search-cookie li{display:block;overflow:hidden;margin:0 15px;height:32px;line-height:32px;text-align:left;padding:0 15px}
ul.cookie-list li:last-child,ul.search-cookie li:last-child{border:none}
ul.cookie-list li.active,ul.cookie-list li:hover,ul.search-cookie li.active,ul.search-cookie li:hover{background:#eee;cursor:pointer}
ul.cookie-list{width:190px;left:15px}