$white: #fff;
$greyc: #ccc;
$grey9: #999;
$grey6: #666;
$grey3: #333;

$border-bottom: #0096ff;
$bgc: #38adff;
$color: #fff;

$searchActive: #38adff;

$themeColor: #38adff; //user-list hover color
$themeColor2: #fff; //active border-bottom bgc
$themeColor3: #fff; //hover <a> color

$baseColor: #38adff;
$baseColor1:#fff;

$color:#fff;

$head_bg: #38adff;
$search_border: #38adff;
$search_hover_border:#38adff;
$search_btn_bg:#eee;
$search_btn_hover_bg: #0090ff;

$btn_bg:#fff;
$btn_hover_bg:#e1f3ff;

$btn_color:#38adff;
$btn_hover_color:#0090ff;

$nav_border:#38adff;

$down_btn_color:#fff;
$down_btn_bg:#38adff;
$down_btn_hover_bg:#0090ff;

$iconfont-path:"../../";