.phonrVerify {
  position: relative;
  padding: 10px 20px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
}
.phonrVerify.drag-placeholder {
  border: 1px dashed #dcdcdc;
}
.phonrVerify label {
  cursor: pointer;
}
.phonrVerify:hover {
  box-shadow: 0 0 0 ;
}
.phonrVerify .row-fluid {
  margin-top: 10px;
}
.phonrVerify .row-fluid:first-child {
  margin-top: 0;
}
