@charset "UTF-8";

/* -------------extend------------- */

/* wordbreak */
%wb {
  word-break: break-all;
  word-wrap: break-word;
}

/* 文字超出显示省略号 */
%tof {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 垂直居中 */
%vm-css3 {
  transform: translate(-50%);
  margin-left: 50%;
  margin-top: 50%;
}

/* 清除浮动 */
%clearfix { 
  display: inline-block;
  &:after {
    content: ''; 
    display: table; 
    clear: both;
  }
  
}

/* 垂直居中 */
%vm {
    &:after {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        content: '';
    }
}
