$form-border: #ddd;
.vm {
  display: inline-block;
  vertical-align: middle;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after, .cl {
  clear: both;
}

.cf {
  zoom: 1;
}

.form, .enroll-form {
  * {
    box-sizing: border-box;
  }
  .label-name {
    width: 72px;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
  }
  width: 580px;
  margin: 0 auto;
  padding-top: 30px;
  .form-control {
    margin-bottom: 25px;
    position: relative;
    .error-box {
      width: 100%;
      position: absolute;
      bottom: -22px;
      text-align: center;
      color: red;
    }
    .label-left {
      width: 92px;
      height: 42px;
      line-height: 42px;
      text-align: right;
      float: left;
      margin-right: 12px;
    }
    .label-right {
      float: right;
      &.fl {
        float: left;
      }
    }
    .input {
      padding-right: 15px;
      display: block;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    .input {
      height: 42px;
      line-height: 42px;
      padding-left: 15px;
      box-shadow: none;
    }
    .input, .select, .textarea {
      display: block;
      border: 1px solid $form-border;
      border-radius: 5px;
    }
    .select {
      height: 42px;
      line-height: 42px;
      padding: 10px 0;
      option {
        line-height: 36px;
        height: 36px;
      }
    }
    .textarea {
      height: 83px;
      width: 473px;
      padding: 15px;
      overflow-x: hidden;
      overflow-y: auto;
      resize: none;
      &:focus {
        outline: none;
      }
    }
    .w227 {
      width: 227px;
    }
    .w473 {
      width: 473px;
    }
    .small-tit {
      color: #999;
      word-break: break-all;
      word-wrap: break-word;
    }
    .radio-tit {
      margin-bottom: 10px;
      min-width: 80px;
      text-align: right;
      display: inline-block;
    }
    .radio-group {
      display: block;
      margin-left: 58px;
      padding-left: 48px;
      position: relative;
      line-height: 18px;
      label {
        margin-bottom: 10px;
        display: block;
        i.before, i.after {
          display: inline-block;
          border: 1px solid $form-border;
        }
        &.radio-box {
          i.before, i.after {
            border-radius: 50%;
          }
        }
        &.check-box {
          i.before {
            border-radius: 2px;
          }
          i.after {
            border-radius: 1px
          }
        }
        &.active {
          i.after {
            display: block;
          }
        }
      }
      .attachment-group, .picture-group {
        &:after {
          content: "";
          display: table;
          clear: both;
          zoom: 1;
        }
      }
      .attachment-group {
        padding-top: 10px;
      }
      .picture-group, .attachment-group {
        margin-bottom: 10px;
      }
      .attachment-group {
        .add-file {
          height: 30px;
          line-height: 28px;
          overflow: hidden;
          position: relative;
          .inner-text {
            margin-top: 0;
          }
        }

      }
      .attachment-group .attachment-box {
        height: 26px;
        line-height: 26px;
        position: relative;
        margin-bottom: 10px;
        .icon-attachment {
          vertical-align: middle;
          background: url('../image/enroll-icon-attachment-small.png');
          width: 22px;
          height: 22px;
          display: inline-block;
        }
        .tit {
          width: 140px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .add-img {
        width: 90px;
        height: 90px;
        line-height: 90px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        border: 1px solid #ececec;
        margin: 10px 10px 0 0;
        background: #f2f2f2;
        color: #666;
        text-align: center;
      }
      .add-attach {
        overflow: inherit !important;
        .inner-text {
          display: inline-block;
          line-height: 1.5;
          vertical-align: middle;
          margin-top: 10px;
          .tip-text {
            font-size: 12px;
          }
        }
        .full-mask, .webuploader-pick {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
        }
        .add-btn {
          display: inline-block;
          border-radius: 3px;
          color: #38adff;
          line-height: 26px;
          height: 28px;
          border: 1px solid #38adff;
          text-align: center;
          padding: 0 10px;
        }
      }
      .picture-group .img-box {
        width: 90px;
        height: 90px;
        line-height: 90px;
        overflow: hidden;
        display: inline-block;
        position: relative;
        border: 1px solid #ececec;
        margin: 10px 10px 0 0;
        vertical-align: middle;
        text-align: center;
        img {
          vertical-align: middle;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
        }
        .enroll-close {
          position: absolute;
          right: 5px;
          top: 5px;
        }
      }
      .no-data {
        margin-top: 10px;
      }
    }
  }
}

.enroll-close {
  display: inline-block;
  background: rgba(0, 0, 0, .4);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  i {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background: url(../image/enroll-icon-close.png) no-repeat center center;
    background-size: 14px;
  }
}

.error {
  color: #ff0000;
}

.required {
  color: #f00;
}

.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.upload-progress {
  display: block;
  clear: both;
  text-align: left;
}
