@charset "UTF-8";
@font-face {
  font-family: catalog;
  src: url(../fonts/catalog.eot?jq404w);
  src: url(../fonts/catalog.eot?jq404w#iefix) format("embedded-opentype"),url(../fonts/catalog.ttf?jq404w) format("truetype"),url(../fonts/catalog.woff?jq404w) format("woff"),url(../fonts/catalog.svg?jq404w#catalog) format("svg");
  font-weight: 400;
  font-style: normal
}
[class*=" cl-icon-"],
[class^=cl-icon-] {
  font-family: catalog!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.cl-icon-add:before {
  content: "\e900"
}
.cl-icon-min:before {
  content: "\e901"
}
.cl-icon-search:before {
  content: "\e902"
}
.cl-icon-phone:before {
  content: "\e903"
}
.cl-icon-rarrow:before {
  content: "\e904"
}
.cl-icon-larrow:before {
  content: "\e905"
}
.cl-icon-rsj:before {
  content: "\e906"
}
.cl-icon-dsj:before {
  content: "\e907"
}
.cl-icon-view:before {
  content: "\e908"
}
.cl-icon-user:before {
  content: "\e909"
}
.cl-icon-close:before {
  content: "\e90a"
}
.cl-icon-play:before {
  content: "\e90b"
}
.cl-icon-star2:before {
  content: "\e90c"
}
.cl-icon-darrow:before {
  content: "\e90e"
}
.cl-icon-uparrow:before {
  content: "\e90f"
}
.cl-icon-document:before {
  content: "\e911"
}
.proFilter {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 6px 30px;
  margin-bottom: 35px;
  -webkit-box-shadow: 0 1px 2px 2px #ddd;
  box-shadow: 0 1px 2px 2px #ddd;
  margin: 0 auto;
  width: 1200px
}
.catalogs {
  margin-top: 30px;
  padding: 6px 30px
}
.catalogs .catalog-column {
  position: relative;
  padding: 15px 10px 7px 0;
  border-top: 1px dotted #dedede
}
.catalogs .catalog-column:first-child {
  border-top: none
}
.catalogs .catalog-column .column-list,
.catalogs .catalog-column .column-title,
.catalogs .catalog-column .item-all {
  display: block;
  float: left
}
.catalogs .catalog-column .column-title {
  line-height: 26px;
  word-break: break-all;
  padding-top: 2px;
  width: 90px;
  font-weight: 700;
  text-align: right;
  color: #333
}
.catalogs .catalog-column .item-all {
  margin-left: 10px;
  padding-top: 2px
}
.catalogs .catalog-column .item-all a {
  display: block;
  line-height: 26px;
  padding: 0 15px;
  color: #666;
  font-size: 13px;
  text-decoration: none;
  border-radius: 3px
}
.catalogs .catalog-column .item-all.active a,
.catalogs .catalog-column .item-all:hover a {
  color: #fff;
  background-color: #38adff;
  text-decoration: none
}
.catalogs .catalog-column .column-list {
  overflow: visible;
  position: relative;
  width: -webkit-calc(100% - 185px);
  height: auto;
  max-width: 905px;
  padding-left: 8px
}
.catalogs .catalog-column .column-list li {
  float: left;
  margin-left: 2px;
  padding-top: 2px;
  margin-bottom: 8px
}
.catalogs .catalog-column .column-list li a {
  min-width: 50px;
  display: block;
  height: 26px;
  line-height: 26px;
  padding: 0 15px;
  color: #333;
  font-size: 13px;
  text-align: center;
  border-radius: 3px
}
.catalogs .catalog-column .column-list li.active a,
.catalogs .catalog-column .column-list li:hover a {
  color: #fff;
  background-color: #38adff;
  text-decoration: none
}
.catalogs .catalog-column .column-list li b.warn {
  display: block;
  float: right;
  vertical-align: middle;
  width: 15px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #fff;
  background-image: url(/elearningweb/templates.admin/images/warn.png)
}
.catalogs .catalog-column .attr-more {
  color: #38adff;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 18px
}
.catalogs .catalog-column .attr-more:before {
  content: attr(data-up)
}
.catalogs .catalog-column .attr-more .cl-icon-darrow {
  display: inline-block;
  margin-left: 10px;
  color: #8c8c8c;
  cursor: default
}
.catalogs .on .column-list {
  height: 34px;
  overflow: hidden
}
.catalogs .on .attr-more:before {
  content: attr(data-down)
}
.catalogs .on .attr-more .cl-icon-darrow {
  display: inline-block;
  margin-left: 8px;
  color: #8c8c8c;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  cursor: default
}