<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nd.tool" type="Nd.Tool.ToolSection, Nd.Tool" restartOnExternalChanges="false"/>
    <section name="nd.hostconfig" type="UcTokenWindowsForms.HostConfigHandler,UcTokenWindowsForms" />
  </configSections>
  <nd.tool>
    <!--获取服务器时间接口-->
    <time url="http://cron.gwy.91up.com/cron/globalservertime"/>
    <!--JSON序列化器-->
    <util jsonProvider="Nd.Tool.NewtonsoftJsonProvider.JsonConverterProvider, Nd.Tool.NewtonsoftJsonProvider"/>
  </nd.tool>
  <nd.hostconfig>
    <uchosts>
      <uchost url="https://ucbetapi.101.com"/>
      <uchost url="https://aqapi.101.com"/>
      <uchost url="https://awsuc.101.com/"/>
      <uchost url="https://uc-awsca.101.com/"/>
    </uchosts>
    <hosts>
      <host url="elearning-gateway.debug.web.nd"/>
      <host url="e.api.java.test100.huayu.nd"/>
      <host url="elearning-gateway.dev.web.nd"/>
      <host url="elearning-gateway.beta.web.sdp.101.com"/>
      <host url="elearning-gateway.edu.web.sdp.101.com"/>
    </hosts>
  </nd.hostconfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
