<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>问答组件</title>
</head>
<body>
<h1 class="demo-title">个人中心</h1>
<div class="demo-wild">
  <div data-bind="component:{name:'x-qas-question', params:question_params_1}"></div>
  <div data-bind="component:{name:'x-qas-question', params:question_params_2}"></div>

</div>

<!--<div class="demo-narrow">
  <div data-bind="component:{name:'x-qas-answer-rel-nar'}"></div>
</div>-->

<!--<div data-bind="component:{name:'x-qas-pop-replies', params:pop_replies_params}"></div>-->

</body>
</html>