$main:                  $main;


.qaui-load {
    display: block;
    line-height: 32px;
    font-size: 12px;
    color: #999;
    text-align: center;
    &:hover {
        color: $main;
    }
    &:active {
        color: $main-dark;
    }
}
