
.qaui-result {
    overflow: hidden;
    padding: 0 20px 0 10px;
    height: 56px;
    border-bottom: 1px solid #e5e5e5;
    .qaui-btn {
        float: right;
        margin-top: 15px;
        margin-left: 20px;
    }
    .result__text {
        overflow: hidden;
        line-height: 56px;
        font-size: 14px;
        color: #666;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}