$main:                  $main;


.qaui-accept{
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 39px;
    height: 39px;
    background: url(../images/_base64/qaicon-accept.png) no-repeat center center;
    text-indent: -999em;
}
