$themeMainColor:#2a2d34;
$themeMainColorLeft:#353942;
$themeColor:#0097DA;
$fontColor333:#333;
$fontColor666:#666;
$fontColor999:#999;
$white:#fff;
$red:#ff3434;
$border1:#35383e;
$border2:#24262c;
$colorEd:#ededed;
$tipsColor:#ff8762;