$themeColor: #38adff;
$themeColor3:#fff;
$themeColor2:#38adff;
$btnhover: #0090ff;
$headerborder:#0096ff;
$headerborder:#0096ff;
$navaColor:#fff;
$iconfont-path:"../../";
$orange:#ff6600;
$main:$themeColor;
$main-light:lighten($main, 5%);
$main-dark:darken($main, 5%);