/* CSS Reset */
/*body, div, span, object, iframe,input, h1, h2, h3, h4, h5, h6, p, pre, a, acronym, address, code, del, em, font, img, ins, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
ins{ text-decoration: none;}
del{ text-decoration: line-through;}
input,select{ vertical-align:middle;}
input,textarea,select{font:12px/1.5 "microsoft yahei", Arial, sans-serif;}
fieldset, img { border: 0; }
address,code,th,em{font-style:normal;}
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 {font-size: 100%; }*/