<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/list.css">
</head>

<body>
    <div class="course-wrap">
        <!-- 知识点目录带有搜索框，在 course-side 上添加类名 has-search -->
        <div class="course-side has-search">
            <div class="course__tab--menu">
                <a href="###" class="menu-tab ">课程目录</a>
                <a href="###" class="menu-tab state-on">知识点目录</a>
            </div>
            <div class="course__search--wrap">
                <div class="course__search">
                    <input class="search-input" type="text" placeholder="请输入知识点名称">
                    <i class="search-btn iconfont-e-course icon-e-course-del"></i>
                </div>
            </div>
            <!-- 列表无内容，缺省状态 -->
            <div class="course__no-menu hide">
                <p class="no-menu-word">没有搜索到知识点</p>
                <p class="no-menu-word">可以试着更换搜索词</p>
            </div>
        </div>
        <div class="course-content">
            <div class="course__tool-wrap">
                <span class="ndui-btn-label state-no-standard">未达标</span>
                <span class="ndui-btn-label state-no-study">未学习</span>
                <span class="ndui-btn-label state-standard">已达标</span>
                <a href="javascript:;" class="ndui-btn-ghost ">练习</a>
                <a href="javascript:;" class="ndui-btn-ghost ">评测</a>
            </div>
            <div class="course__chapter--intro">
                <p class="chapter-name">物理基本性质</p>
                <p class="chapter-word">细胞膜又称细胞质膜。细胞表面的一层薄膜。细胞膜又称细胞质膜。细胞表面的一层薄膜细胞膜又称细胞质膜。细胞表面的一层薄膜。细胞膜又称细胞质膜。细胞表面的一层薄膜细胞膜又称细胞质膜。细胞表面的一层薄膜。细胞膜又称细胞质膜。细胞表面的一层薄膜细胞膜又称细胞质膜。细胞表面的一层薄膜。细胞膜又称细胞质膜。细胞表面的一层薄膜细胞膜又称细胞质膜。细胞表面的一层薄膜...</p>
                <!-- 展开后，变成  收起< -->
                <span class="chapter-btn">收起</span>
            </div>
            <div class="course__resource">
                <!-- 课程资源列表 -->
                <ul class="course__resource--list clearfix ">
                    <li class="course__resource--item">
                        <a class="course__resource--card" href="javascript:;" title="php从基础到高级认证培训">
                            <!-- 预览图 -->
                            <div class="card-img">
                                <img class="img" src="../pics/cover.png" alt="php从基础到高级认证培训" style="display: inline;">
                            </div>
                            <!-- 进度 -->
                            <div class="card-process">
                                <div class="card-process-word">
                                    <p class="process-word">已学：<span>1002</span>/<span>2000</span>学时</p>
                                </div>
                                <div class="card-process-strip">
                                    <span class="card-process-value" style="width: 40%;"></span>
                                </div>
                            </div>
                            <!-- 文字信息 -->
                            <div class="card-info">
                                <div class="card-info-title">php从基础到高级认证培训</div>
                                <div class="card-info-other">
                                    <i class="iconfont-e-course icon-e-course-video"></i>
                                    <span class="other-txt">04:15</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="course__resource--item">
                        <a class="course__resource--card" href="javascript:;" title="php从基础到高级认证培训">
                            <div class="card-img">
                                <img class="img" src="../pics/cover2.png" alt="php从基础到高级认证培训" style="display: inline;">
                            </div>
                            <div class="card-process">
                                <div class="card-process-word">
                                    <p class="process-word">已学：<span>1002</span>/<span>2000</span>学时</p>
                                </div>
                                <div class="card-process-strip">
                                    <span class="card-process-value" style="width: 40%;"></span>
                                </div>
                            </div>
                            <div class="card-info">
                                <div class="card-info-title">php从基础到高级认证培训</div>
                                <div class="card-info-other">
                                    <i class="iconfont-e-course icon-e-course-note"></i>
                                    <span class="other-txt">3题</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="course__resource--item">
                        <a class="course__resource--card" href="javascript:;" title="php从基础到高级认证培训">
                            <div class="card-img">
                                <img class="img" src="../pics/cover3.png" alt="php从基础到高级认证培训" style="display: inline;">
                            </div>
                            <div class="card-process">
                                <div class="card-process-word">
                                    <p class="process-word">已学：<span>1002</span>/<span>2000</span>学时</p>
                                </div>
                                <div class="card-process-strip">
                                    <span class="card-process-value" style="width: 40%;"></span>
                                </div>
                            </div>
                            <div class="card-info">
                                <div class="card-info-title">php从基础到高级认证培训</div>
                                <div class="card-info-other">
                                    <i class="iconfont-e-course icon-e-course-file"></i>
                                    <span class="other-txt">14页</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="course__resource--item">
                        <a class="course__resource--card" href="javascript:;" title="php从基础到高级认证培训">
                            <div class="card-img">
                                <img class="img" src="../pics/cover4.png" alt="php从基础到高级认证培训" style="display: inline;">
                            </div>
                            <div class="card-process">
                                <div class="card-process-word">
                                    <p class="process-word">已学：<span>1002</span>/<span>2000</span>学时</p>
                                </div>
                                <div class="card-process-strip">
                                    <span class="card-process-value" style="width: 40%;"></span>
                                </div>
                            </div>
                            <div class="card-info">
                                <div class="card-info-title">php从基础到高级认证培训</div>
                                <div class="card-info-other">
                                    <i class="iconfont-e-course icon-e-course-video"></i>
                                    <span class="other-txt">04:15</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

                <!-- 无课程资源，缺省 -->
                <div class="course__nores--wrap hide">
                    <div class="course__nores-lb">
                        <i class="nores-icon"></i>
                        <p class="nores-word">暂无学习资源</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../addins/jquery/v1.7.1/jquery.min.js"></script>
    <script src="../../../addins/lodash/v4.17.4/lodash.js"></script>
    <script src="./../dist/index.js"></script>
    <script>
        function knowledges() {
            var url = "http://business-course-gateway.dev.web.nd/v1/business_courses/eb029d5d-2889-4698-bb9e-5d9dc3885f39/knowledges";
            return $.ajax({
                url: url,
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', TokenUtils.getMacToken('GET', url, location.host));
                    xhr.setRequestHeader('X-Gaea-Authorization', TokenUtils.getGaeaId());
                }
            });
        }

        $(".course-side").knowledgeTree({
            data: [{
                "id": "111",
                "ref_id": "1535234",
                "parent_id": null,
                "title": "test1",
                "extend_data": {}
            }, {
                "id": "222",
                "ref_id": "312313",
                "parent_id": "111",
                "title": "test2",
                "extend_data": {}
            }, {
                "id": "333",
                "ref_id": "312313",
                "parent_id": "222",
                "title": "test3",
                "extend_data": {}
            }, {
                "id": "444",
                "ref_id": "1535234",
                "parent_id": null,
                "title": "444",
                "extend_data": {}
            }, {
                "id": "555",
                "ref_id": "312313",
                "parent_id": "444",
                "title": "555",
                "extend_data": {}
            }, {
                "id": "666",
                "ref_id": "312313",
                "parent_id": "555",
                "title": "666",
                "extend_data": {}
            }]
        });

    </script>
</body>

</html>
