$themeColor: #38adff;
$themeColor3: #fff;
$themeColor2: #38adff;
$btnhover: lighten($themeColor, 5%);
$headerborder: #0096ff;
$navaColor: #fff;
$iconfont-path: "../../css";
$path-img:"../../../images";