@charset "UTF-8";
@font-face {font-family: "iconfont-learn";
  src: url('../../fonts/elearing-note.eot?t=1493203212336'); /* IE9*/
  src: url('../../fonts/elearing-note.eot?t=1493203212336#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/elearing-note.woff?t=1493203212336') format('woff'), /* chrome, firefox */
  url('../../fonts/elearing-note.ttf?t=1493203212336') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../fonts/elearing-note.svg?t=1493203212336#iconfont-learn') format('svg'); /* iOS 4.1- */
}

.iconfont-learn {
  font-family:"iconfont-learn" !important;
  color: #b7b7b7;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    font-size: 20px;
  }
}

.n-icon-delete:before { content: "\e600"; }

.n-icon-add:before { content: "\e60f"; }

.n-icon-del:before { content: "\e627"; }

.n-icon-like:before { content: "\e610"; }

.n-icon-report:before { content: "\e6e2"; }

.n-icon-minus:before { content: "\e603"; }

.n-icon-topic:before { content: "\e62d"; }

.n-icon-edit:before { content: "\e66f"; }

.n-icon-pen:before { content: "\e60b"; }

.n-icon-chapter:before { content: "\e70c"; }

.n-icon-star:before { content: "\e60e"; }

.n-icon-down:before { content: "\e809"; }

.n-icon-search:before { content: "\e601"; }

.n-icon-video:before { content: "\e6b8"; }

.n-icon-check:before { content: "\e80a"; }

.n-icon-left:before { content: "\e80b"; }

.n-icon-up:before { content: "\e80c"; }


