$orange:#ff6600;
@import "_theme";
@import "_base";
@import "_iconfont";
@import "_common";
@import "_side";
@import "_base_info";
@import "_detail";
@import "_review";
@import "_catalog";
.pop-box{
	width: 550px;
}
.pop-box .tit{
	height: 50px;
	line-height: 50px;
	color: #666;
	font-size: 16px;
	position: relative;
	padding: 0 30px;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
}
.pop-box .tit .icon-close{
	font-size: 22px;
	color: #b7b7b7;
}
.pop-box .content{
	padding: 30px;
	background: #f9f9f9;
}
.pop-btn{
	margin-top: 25px;
}