@charset "UTF-8";
html * {
  box-sizing: border-box; }

i,
em {
  font-style: normal; }

html {
  height: 100%; }

body {
  overflow-y: scroll;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 157px;
  min-width: 1200px;
  background-color: #f2f2f2;
  min-height: 100%; }

*[data-render] {
  display: none; }

.boxs {
  box-shadow: 0 1px 2px 1px #ddd; }

/*item box shadow*/
.vm {
  vertical-align: middle;
  display: inline-block; }

/* 垂直居中常用 */
.vb {
  vertical-align: bottom; }

/* 垂直居底常用 */
.ovh {
  overflow: hidden; }

/* 溢出隐藏 */
.icon-m i {
  margin-right: 8px; }

.lh1 {
  line-height: 1; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* 溢出省略号 */
.nodata {
  min-height: 300px;
  line-height: 200px;
  text-align: center; }

/* margin padding */
.mt20 {
  margin-top: 20px !important; }

.mt30 {
  margin-top: 30px; }

.ml20 {
  margin-left: 20px; }

.ml10 {
  margin-left: 10px; }

.mr20 {
  margin-right: 20px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px !important; }

.mt30 {
  margin-top: 30px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mtb15 {
  margin: 15px 0; }

.mtb10 {
  margin: 10px 0; }

.pd15 {
  padding: 15px; }

.pos_r {
  position: relative; }

.pos_a {
  position: absolute; }

/* background */
.bc-f2 {
  background: #f2f2f2; }

.bc-c5 {
  background: #c5c5c5; }

.bc-f {
  background: #fff; }

.bc-blue {
  border: 1px solid #3bb800;
  background: #3bb800; }

.bc-o {
  background: #f60; }

.bc-transparent {
  background-color: rgba(0, 0, 0, 0.3); }

/* font color */
.blue {
  color: #3bb800 !important; }

/*hover:#0096ff*/
.fc3 {
  color: #333 !important; }

.fc6 {
  color: #666 !important; }

.fc9 {
  color: #999 !important; }

.white {
  color: #fff; }

.fs12 {
  font-size: 12px !important; }

.fs13 {
  font-size: 13px !important; }

.fs14 {
  font-size: 14px !important; }

.fs16 {
  font-size: 16px !important; }

.fs18 {
  font-size: 18px !important; }

.fs20 {
  font-size: 20px !important; }

.fs24 {
  font-size: 24px !important; }

/*button*/
a.s-btn {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  color: #fff; }

a.mb-btn {
  display: inline-block;
  border: 1px solid #3bb800;
  border-radius: 4px;
  padding: 0 50px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  color: #fff; }

a.l-btn {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 65px;
  height: 50px;
  font-size: 22px;
  line-height: 50px;
  color: #fff; }

a.l-btn.bc-blue:hover {
  box-sizing: border-box;
  border: 1px solid #226c00;
  background: #2e8f00; }

.s-img,
.side-pro .s-img {
  width: 80px;
  height: 54px; }

a.l-btn.bc-o:hover {
  background: #e35b00; }

a.l-btn.blue:hover {
  background: rgba(56, 173, 255, 0.9);
  box-shadow: 0 1px 3px 1px #ccc; }

a.l-btn.blue:hover {
  background: rgba(56, 173, 255, 0.9);
  box-shadow: 0 1px 3px 1px #ccc; }

.hide {
  display: none; }

.hidden {
  visibility: hidden; }

.show {
  display: block; }

.fl {
  float: left; }

.fr {
  float: right; }

.tc {
  text-align: center; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after, .cl {
  clear: both; }

.cf {
  zoom: 1; }

.w {
  width: 100%; }

.wrap {
  margin: 0 auto;
  width: 1200px; }

.container {
  margin: 15px auto 30px;
  width: 1200px;
  min-height: 540px; }

/*.col-left{width: mpx;float: left;}*/
.col-center {
  float: left;
  width: 880px; }

.col-right {
  float: right;
  width: 300px; }

.bt-primary,
a.bt-primary,
.udialog .bt-primary, .bt-default,
a.bt-default,
.udialog .bt-default, .bt-tips,
a.bt-tips,
.udialog .bt-tips, .bt-save,
a.bt-save,
.udialog .bt-save, .bt-nobg,
a.bt-nobg,
.udialog .bt-nobg, .bt-disabled,
a.bt-disabled,
.udialog .bt-disabled, .bt-sm,
a.bt-sm, .udialog .bt-sm, .bt-md,
a.bt-md, .udialog .bt-md, .bt-lg,
a.bt-lg, .udialog .bt-lg, .bt-wsm,
a.bt-wsm, .udialog .bt-wsm, .bt-wmd,
a.bt-wmd, .udialog .bt-wmd, .bt-wlg,
a.bt-wlg, .udialog .bt-wlg {
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center; }

.bt-primary,
a.bt-primary,
.udialog .bt-primary {
  border-color: #3bb800;
  color: #fff;
  background: #3bb800;
  transition: background .3s; }
  .bt-primary:hover,
  a.bt-primary:hover,
  .udialog .bt-primary:hover {
    text-decoration: none;
    color: #fff;
    background: #2e8f00; }

.bt-default,
a.bt-default,
.udialog .bt-default {
  border-color: #e5e5e5;
  color: #333;
  background: #e5e5e5;
  transition: background .3s; }
  .bt-default:hover,
  a.bt-default:hover,
  .udialog .bt-default:hover {
    text-decoration: none;
    color: #333;
    background: #d1d1d1; }

.bt-tips,
a.bt-tips,
.udialog .bt-tips {
  border-color: #f60;
  color: #fff;
  background: #f60;
  transition: background .3s; }
  .bt-tips:hover,
  a.bt-tips:hover,
  .udialog .bt-tips:hover {
    text-decoration: none;
    color: #fff;
    background: #d65600; }

.bt-save,
a.bt-save,
.udialog .bt-save {
  border-color: #7fd729;
  color: #fff;
  background: #7fd729;
  transition: background .3s; }
  .bt-save:hover,
  a.bt-save:hover,
  .udialog .bt-save:hover {
    text-decoration: none;
    color: #fff;
    background: #6bb522; }

.bt-nobg,
a.bt-nobg,
.udialog .bt-nobg {
  border-color: #3bb800;
  color: #3bb800;
  background: #fff;
  transition: background .3s; }
  .bt-nobg:hover,
  a.bt-nobg:hover,
  .udialog .bt-nobg:hover {
    text-decoration: none;
    color: #3bb800;
    background: #ebebeb; }

.bt-disabled,
a.bt-disabled,
.udialog .bt-disabled {
  border-color: #999;
  color: #fff;
  background: #999;
  transition: background .3s; }
  .bt-disabled:hover,
  a.bt-disabled:hover,
  .udialog .bt-disabled:hover {
    text-decoration: none;
    color: #fff;
    background: #858585; }

.bt-sm,
a.bt-sm, .udialog .bt-sm {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  min-width: 0; }

.bt-md,
a.bt-md, .udialog .bt-md {
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
  min-width: 0; }

.bt-lg,
a.bt-lg, .udialog .bt-lg {
  padding: 0 0;
  height: 42px;
  line-height: 42px;
  min-width: 160px; }

.bt-wsm,
a.bt-wsm, .udialog .bt-wsm {
  width: 140px;
  height: 42px;
  line-height: 42px; }

.bt-wmd,
a.bt-wmd, .udialog .bt-wmd {
  width: 100%;
  height: 50px;
  line-height: 50px; }

.bt-wlg,
a.bt-wlg, .udialog .bt-wlg {
  width: 160px;
  height: 50px;
  line-height: 50px; }

.bt-group [class^="bt-"] + [class^="bt-"] {
  margin-left: 20px; }

.bt-disabled {
  cursor: default; }
  .bt-disabled:hover {
    background-color: #999; }

@font-face {
  font-family: 'elearning-meth';
  src: url("../fonts/elearning-meth.eot?ijp56r");
  src: url("../fonts/elearning-meth.eot?ijp56r#iefix") format("embedded-opentype"), url("../fonts/elearning-meth.ttf?ijp56r") format("truetype"), url("../fonts/elearning-meth.woff?ijp56r") format("woff"), url("../fonts/elearning-meth.svg?ijp56r#elearning-meth") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="meticon-"], [class*=" meticon-"] {
  font-family: 'elearning-meth';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^=meticon-]:before, [class*=" meticon-"]:before {
  display: inline-block; }

.meticon-add:before {
  content: "\e900"; }

.meticon-min:before {
  content: "\e901"; }

.meticon-search:before {
  content: "\e902"; }

.meticon-phone:before {
  content: "\e903"; }

.meticon-rarrow:before {
  content: "\e904"; }

.meticon-larrow:before {
  content: "\e905"; }

.meticon-rsj:before {
  content: "\e906"; }

.meticon-dsj:before {
  content: "\e907"; }

.meticon-view:before {
  content: "\e908"; }

.meticon-user:before {
  content: "\e909"; }

.meticon-close:before {
  content: "\e90a"; }

.meticon-play:before {
  content: "\e90b"; }

.meticon-star2:before {
  content: "\e90c"; }

.meticon-star1:before {
  content: "\e90d"; }

.meticon-darrow:before {
  content: "\e90e"; }

.meticon-uparrow:before {
  content: "\e90f"; }

.meticon-question:before {
  content: "\e910"; }

.meticon-document:before {
  content: "\e911"; }

.meticon-study:before {
  content: "\e912"; }

.meticon-sort:before {
  content: "\e913"; }

.meticon-halfstar:before {
  content: "\e914"; }

.meticon-study2:before {
  content: "\e915"; }

.meticon-exam2:before {
  content: "\e916"; }

.meticon-note2:before {
  content: "\e917"; }

.meticon-answer2:before {
  content: "\e918"; }

.meticon-auth2:before {
  content: "\e919"; }

.meticon-sort2:before {
  content: "\e91a"; }

.meticon-check-yes:before {
  content: "\e91b"; }

.meticon-radio:before {
  content: "\e91c"; }

.meticon-gz:before {
  content: "\e91d"; }

.meticon-finish:before {
  content: "\e91e"; }

.meticon-half:before {
  content: "\e91f"; }

.meticon-star:before {
  content: "\e920"; }

.meticon-write:before {
  content: "\e921"; }

.meticon-share:before {
  content: "\e922"; }

.meticon-circle:before {
  content: "\e923"; }

.meticon-url:before {
  content: "\e924"; }

.meticon-book:before {
  content: "\e925"; }

.meticon-review:before {
  content: "\e926"; }

.meticon-lg-locked:before {
  content: "\e927"; }

.meticon-vide:before {
  content: "\e928"; }

.meticon-collection:before {
  content: "\e929"; }

.meticon-pic:before {
  content: "\e92a"; }

.meticon-doc:before {
  content: "\e92b"; }

.meticon-txt:before {
  content: "\e92c"; }

.meticon-music:before {
  content: "\e92d"; }

.meticon-locked:before {
  content: "\e92e"; }

.meticon-dy:before {
  content: "\e92f"; }

.meticon-catalog:before {
  content: "\e930"; }

.sub-head {
  background: #fff;
  border-bottom: 1px solid #d9d9d9; }

.head-inner {
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  position: relative; }
  .head-inner .tit {
    font-size: 24px;
    margin-right: 38px;
    color: #666; }
  .head-inner .name {
    color: #555;
    width: 950px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .head-inner .meticon-close {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 23px;
    color: #9f0f0f;
    transition: all 0.3s; }
    .head-inner .meticon-close:hover {
      transform: rotate(90deg);
      cursor: pointer; }

.sub-inner {
  width: 750px;
  padding: 60px 0;
  margin: 0 auto; }
  .sub-inner [class^="bt-"], .sub-inner [class^="bt-"] {
    font-size: 16px; }
  .sub-inner .bt-group {
    margin: 50px 0 20px; }
  .sub-inner .upload-tips {
    font-size: 16px;
    color: #f60; }

.end-time {
  text-align: center; }
  .end-time .name {
    font-size: 20px;
    color: #999;
    margin-bottom: 20px; }
  .end-time .time-box {
    font-weight: bold;
    margin-bottom: 60px; }
    .end-time .time-box dt, .end-time .time-box dd {
      display: inline-block;
      font-size: 50px;
      font-weight: bold;
      height: 80px;
      line-height: 80px; }
    .end-time .time-box dt {
      width: 80px;
      border: 1px solid #cfcfcf;
      border-radius: 3px;
      background: #f6f6f6; }
    .end-time .time-box dd {
      margin: 0 7px; }

.upload-box {
  border: 1px dashed #b2b2b2;
  padding: 75px 115px; }
  .upload-box .intro {
    margin-bottom: 30px;
    font-size: 16px; }
    .upload-box .intro li {
      list-style: disc inside;
      color: #999;
      font-size: 14px;
      line-height: 1.75; }
  .upload-box .succes-tip {
    height: 64px;
    line-height: 64px;
    color: #999;
    font-size: 0;
    margin-bottom: 50px; }
    .upload-box .succes-tip i {
      font-size: 64px;
      color: #b2b2b2; }
    .upload-box .succes-tip span {
      font-size: 24px;
      margin-left: 30px; }
  .upload-box .succes-text {
    margin-bottom: 50px;
    font-size: 16px; }
  .upload-box .file-bt {
    position: relative; }
    .upload-box .file-bt input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0; }
  .upload-box .filename {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
