@font-face {
  font-family: 'enroll';
  src: url('../../fonts/enroll.eot?448hqk');
  src: url('../../fonts/enroll.eot?448hqk#iefix') format('embedded-opentype'),
  url('../../fonts/enroll.ttf?448hqk') format('truetype'),
  url('../../fonts/enroll.woff?448hqk') format('woff'),
  url('../../fonts/enroll.svg?448hqk#enroll') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="en-icon-"], [class*=" en-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'enroll' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  //line-height: 1;
  vertical-align: middle;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: none;
  height: auto;
  width: auto;
}

.en-icon-add:before {
  content: "\e900";
}

.en-icon-article:before {
  content: "\e901";
}

.en-icon-change:before {
  content: "\e902";
}

.en-icon-Chart:before {
  content: "\e903";
}

.en-icon-chat:before {
  content: "\e904";
}

.en-icon-clear:before {
  content: "\e905";
}

.en-icon-close:before {
  content: "\e906";
}

.en-icon-yes:before {
  content: "\e907";
}

.en-icon-home:before {
  content: "\e908";
}

.en-icon-xiasanjiao:before {
  content: "\e909";
}

.en-icon-new-course:before {
  content: "\e90a";
}

.en-icon-delcourse:before {
  content: "\e90b";
}

.en-icon-online:before {
  content: "\e90c";
}

.en-icon-popup:before {
  content: "\e90d";
}

.en-icon-set:before {
  content: "\e90e";
}

.en-icon-Settings:before {
  content: "\e90f";
}

.en-icon-Users:before {
  content: "\e910";
}

.en-icon-View:before {
  content: "\e911";
}

.en-icon-offline:before {
  content: "\e912";
}

.en-icon-pro:before {
  content: "\e913";
}

.en-icon-sanjiao:before {
  content: "\e914";
}

.en-icon-search:before {
  content: "\e915";
}

.en-icon-larrow:before {
  content: "\e916";
}

.en-icon-rarrow:before {
  content: "\e917";
}

.en-icon-uparrow:before {
  content: "\e918";
}

.en-icon-darrow:before {
  content: "\e919";
}

.en-icon-star:before {
  content: "\e91a";
}

.en-icon-list:before {
  content: "\e91b";
}

.en-icon-gouxuan:before {
  content: "\e91c";
}

.en-icon-remarks:before {
  content: "\e91d";
}

.en-icon-warning:before {
  content: "\e91e";
}

.en-icon-close2:before {
  content: "\e91f";
}



