%ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-resource {
  line-height: 400px;
  font-size: 32px;
  color: #999;
  text-align: center;
}

.resource-list {
  max-height: 600px;
  overflow-y: scroll;
  .cell {
    position: relative;
    float: left;
    width: 23%;
    overflow: hidden;
    margin: 0 1% 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3px;
    color: #999;
    font-size: 16px;
    &-resource-type {
      position: absolute;
      left: 3px;
      bottom: 3px;
      color: #fff;
      background-color: #ff9617;
      z-index: 10;
      padding: 3px 5px;
      font-size: 12px;
    }
    &-img {
      float: left;
      width: 45%;
      img {
        width: 100%;
      }
    }
    &-info {
      float: left;
      width: 55%;
      padding: 3% 2% 0;
      &-title {
        width: 100%;
        font-size: 1em;
        color: $themeColor;
        @extend %ellipsis;
        &:hover {

        }
      }
      &-other {
        margin-top: 6%;
        font-size: 0.875em;
        @extend %ellipsis;
        .strong {
          color: $themeColor;
        }
        em {
          height: 8px;
          width: 1px;
          background: #ccc;
          display: inline-block;
          vertical-align: middle;
          margin: 0 1%;
        }
      }
      &-user {
        font-size: 0.875em;
        margin-top: 4%;
      }
    }
    &-check {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 26px;
      height: 26px;
      background-color: #ddd;
      text-align: center;
      line-height: 26px;
      border-radius: 5px;
      color: #fff;
      &:hover {
        background-color: $themeColor;
      }
    }
    &-dropdown {
      display: none;
      position: absolute;
      right: 1px;
      top: 1px;
      width: 26px;
      height: 26px;
      background-color: #ddd;
      text-align: center;
      line-height: 26px;
      border-radius: 5px;
      color: #fff;
      padding-left: 1px;
      &:hover {
        background-color: $themeColor;
        .cell-dropdown-menu {
          display: block;
        }
      }
    }
    &-dropdown-menu {
      display: none;
      position: absolute;
      top: 26px;
      right: 12px;
      color: $themeColor;
      border: 1px solid #ddd;
      background-color: #fff;
      opacity: 0.9;
      filter: alpha(opacity=90);
      border-radius: 5px;
      overflow: hidden;
      .menu-btn {
        display: block;
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 0.875em;
        &:hover {
          background-color: darken(#fff, 5%);
        }
      }
    }
    &:hover {
      .cell-info-title {
        color: darken($themeColor, 5%);
      }
      .cell-check {
        display: block;
      }
      .cell-dropdown {
        display: block;
      }
    }
    &.active {
      border: 1px solid $themeColor;
      .cell-check {
        display: block;
        background-color: $themeColor;
      }
      .cell-mask {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $themeColor;
        opacity: 0.1;
        filter: alpha(opacity=10);
      }
    }
  }
}

@media (max-width: 1600px) {
  .resource-list {
    .cell {
      font-size: 14px;
    }
  }
}

@media (max-width: 1440px) {
  .resource-list {
    .cell {
      font-size: 16px;
      width: 31.33%;
    }
  }
}

@media (max-width: 1280px) {
  .resource-list {
    .cell {
      font-size: 14px;
    }
  }
}

@media (max-width: 1000px) {
  .resource-list {
    .cell {
      font-size: 16px;
      width: 48%;
    }
  }
}

@media (max-width: 860px) {
  .resource-list {
    .cell {
      font-size: 14px;
    }
  }
}