.x-tree-selector-list li{
    padding: 5px 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.x-tree-selector-list-close{
    float: right;
}

.x-tree-selector-component{
    width: 400px;
    height: 400px;
}

.x-tree-notfound{
    padding: 10px 0;
    text-align: center;
    font-size:14px;
}