/*!
 * 无数据通用样式
 */
.item-nodata {
    height: 200px;
    font-size: 22px;
    line-height: 200px;
    text-align: center;
	font-size: 36px;
    color: #777;
    &:after {
        content: " -_- !";
    }
}
