@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/utils";
.statistics-content {
    position: relative;
    padding: 30px;
    .data-box {
        @include clearfix;
        .data-item {
            float: left;
            position: relative;
            border: 1px solid #ccc;
            border-radius: 2px;
            padding: 15px 0;
            width: 30%;
            text-align: center;
            @include clearfix;
            &:not(:last-child) {
                margin-right: 5%;
            }
            &.half {
                width: 49%;
            }
            &.half:not(:last-child) {
                margin-right: 2%;
            }
            .item-block {
                float: left;
                width: 25%;
            }
            span,
            i {
                display: block;
                font-style: normal;
            }
            i {
                margin-top: 8px;
                font-size: 24px;
                font-weight: bold;
                color: #1c9ad2;
            }
            .item-more {
                position: absolute;
                top: 50%;
                right: 10px;
                width: 100px;
                height: 50px;
                font-size: 50px;
                font-style: normal;
                line-height: 40px;
                text-align: right;
                color: #999;
                transform: translateY(-50%);
                cursor: pointer;
                &:hover {
                    color: #1c9ad2;
                }
            }
        }
    }
    .header-bar {
        margin: 20px 0;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 16px;
        box-shadow: 3px 0 0 #f40000 inset;
        .header-tit {
            font-size: 15px;
            font-weight: bold;
        }
    }
    .toggle-group {
        padding: 5px 0;
        font-size: 0;
        .btn-item {
            display: inline-block;
            border: 1px solid #ccc;
            padding: 6px 0;
            width: 80px;
            font-size: 14px;
            text-align: center;
            text-decoration: none;
            color: #333;
            &:hover {
                text-decoration: none;
                color: #1c9ad2;
            }
            &.active {
                border-color: darken(#1c9ad2, 5%);
                color: #fff;
                background-color: #1c9ad2;
            }
            &:not(:last-child) {
                border-right: none;
            }
        }
    }
    .margin-middle {
        margin: 0 auto;
    }
    .trend-block,
    .rank-block {
        margin-top: 20px;
    }
    .trend-block {
        width: 1200px;
        height: 450px;
    }
    .rank-block>.part-rank {
        float: left;
        width: 450px;
        width: 50%;
        height: 400px;
        &:not(:first-child) {
            padding-left: 30px;
        }
    }
    .tips {
        float: right;
        position: relative;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            .tip-block {
                display: block;
            }
        }
        .tip-block {
            display: none;
            position: absolute;
            top: 19px;
            left: -370px;
            z-index: 1;
            border: 1px solid #000;
            padding: 1em;
            width: 420px;
            background: #fff;
        }
    }
    .time-box,
    .label-group,
    .time-group {
        @extend %v-middle;
    }
    .time-box {
        .label-group>span {
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 4px 10px;
            cursor: pointer;
            &:hover {
                border-color: #337ab7;
                color: #337ab7;
            }
            &.active {
                border-color: darken(#337ab7, 5%);
                color: #fff;
                background: #337ab7;
            }
        }
    }
    .ztree {
        overflow-y: auto;
        max-height: 600px;
    }
    .nav-tabs {
        margin-top: 30px;
    }
    .up {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url(../img/up.png) center no-repeat;
    }
    .down {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url(../img/down.png) center no-repeat;
    }
    .trend-table {
        td {
            vertical-align: middle !important;
        }
    }
}