@charset "UTF-8";
@import "../shared/_mixin.scss";
@import "../shared/_utilities.scss";
@import "../shared/_iconfont.scss";
@import "../shared/_pagination.scss";

$version: 2017090502;
%ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body {
  background-color: #f2f2f2;
}

.banner-container {
  height: 572px;
}

.sku {
  &-container {
    width: 1200px;
    margin: 60px auto 0;
  }

  &-wrap {
    width: 1240px;
  }
  &-cell {
    position: relative;
    display: block;
    float: left;
    width: 250px;
    height: 320px;
    background-color: #fff;
    margin: 0 40px 40px 0;
    transition: all .2s;
    overflow: hidden;
    padding: 10px;
    &:hover {
      transform: translate3d(0, -2px, 0);
      box-shadow: #ddd 0 15px 30px 0;
      img {
        transform: scale(1.2) translate3d(-1px, 0, 0);
      }
      .sku-info-title {
        color: $themeColor;
      }
    }
  }
  &-price-badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 57px;
    height: 22px;
    padding-right: 8px;
    background: url("../../images/badge.png?#{$version}") no-repeat;
    color: #fff;
    text-align: right;
  }
  &-img-wrap {
    height: 180px;
    margin-bottom: 16px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition: all .3s;
    }
  }
  &-info-title {
    width: 100%;
    font-size: 13px;
    margin-bottom: 19px;
    @extend %ellipsis;
  }
  &-info-other {
    font-size: 12px;
    color: #b6b6b6;
  }
  &-combine-hint {
    position: absolute;
    color: #f85552;
    right: 90px;
    bottom: 80px;
  }
  &-btn {
    position: absolute;
    right: 10px;
    bottom: 70px;
    width: 70px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: $themeColor;
    border-radius: 2px;
    &:hover {
      background-color: $btnHover;
    }
  }
  &-foot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 49px;
    border-top: 1px solid #ececec;
    line-height: 49px;
    &-user {
      display: inline-block;
      margin-left: 10px;
      .icon-user {
        display: inline-block;
        width: 26px;
        height: 26px;
        vertical-align: middle;
        background: url("../../images/icon.png?#{$version}") no-repeat;
      }
      span {
        vertical-align: middle;
      }
    }
    &-price {
      position: absolute;
      display: inline-block;
      right: 10px;
      .o-price {
        text-decoration: line-through;
        color: #b6b6b6;
      }
      .n-price {
        font-size: 14px;
        color: #f85552;
      }
    }
  }
}