$itemWidth: 160px;
.tern-list {
    display: inline-block;

    width: $itemWidth*6+1px;
    .tern-item {
        float: left;

        margin: 0 5px 5px 0;
        border: 1px solid darken(#f2f2f2,5%);
        border-radius: 2px;
        padding: 10px 0;
        width: $itemWidth;

        text-align: center;

        background-color: #f2f2f2;

        cursor: pointer;
        &.active {
            color: #fff;
            background-color: #0cadb7;

            cursor: default;
        }
        i{
            display: none;
        }
        &:hover {
            i{
                display: block;
            }
            color: darken(#fff,5%);
            background-color: lighten(#0cadb7,3%);
        }
    }
}
.pre-view {
    float: right;
}
.modal.preview-modal.in {
    top: 30%;

    margin: 0;
    width: 1000px;

    transform: translate(-50%,-50%);
}
