.load-more{
    clear:both;
    display:block;
    margin:0 auto;
    width:200px;
    text-align:center;
    padding:10px 0;
    color:$themeColor;
    font-size:13px;
    cursor:pointer;
    border:1px solid $themeColor;
    border-radius:3px;
    &:hover{
      background:$themeColor;
      color:#fff;
    }
    &.disable{
      color:#eee;
      border-color:#eee;
      cursor:default;
      &:hover{
        background:#fff;
        color:#eee;
      }
    }
  }