/*分页*/
.pagination-box{margin: 10px 0;}
.pagination-box .pagination {
  text-align: center;
  position:inherit;
}
.pagination-box .pagination:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.pagination-box .pagination span,
.pagination-box .pagination a {
  display: inline-block;
  float: left;
  margin-right: 10px;
  border-radius: 2px;
  padding: 0 18px;
  height: 37px;
  line-height: 37px;
  background: #ddd;
}

.pagination-box .pagination a:hover,
.pagination-box .pagination span {
  background: $themeColor;
  color: #fff;
}

.pagination-box .pagination .prev {
  width: 80px;
  margin: 0
  10px 0 0
}

.pagination-box .pagination .next {
  width: 80px;
  margin: 0
  0 0 10px
}

.pagination-box .pagination span.current {
  border-color: $themeColor;
  background: $themeColor;
  color: #fff
}

.pagination-box .pagination span.prev,
.pagination-box .pagination span.next {
  background: #fff;
  color: #c8c8c8
}

.pagination-box .page-input {
  display: inline-block;
  margin: 0
  0 0 40px;
  color: #808080;
  font-size: 14px;
  *display: inline;
  *zoom:1;vertical-align: middle;
  float:right;
}

.pagination-box .page-input input {
  width: 46px;
  height: 21px;
  line-height: 21px;
  margin: 0
  5px;
  padding: 7px
  5px;
  border: 1px
  solid #d8d8d8;
  outline: 0;
  vertical-align: middle;
  border-radius: 3px;
}
.pagination-box .page-input input:focus{
  border-color: $themeColor;
}
.pagination-box .page-input input.select-page-btn {
  width: 58px;
  height: 36px;
  border: 1px
  solid #d8d8d8;
  background: #fff;
  color: #808080
}

.pagination-box .page-input input.select-page-btn:active {
  border-color: #d8d8d8;
  outline-color: #d8d8d8
}

.pagination-box .page-input input.select-page-btn:hover {
  color: #fff;
  cursor: pointer;
  background:$themeColor;
  border:1px solid $themeColor;
}

.pagination-box .pagination-info {
  margin: 24px
  0 0;
  font-size: 14px
}

.pagination-box .pull-left {
  float: left
}

.pagination-box .pull-right {
  float: right
}

.page-input .page-text {
  padding: 7px 5px;
  box-sizing: content-box;
}
