@font-face {
    font-family: 'exam-center-admin';
    src:    url('../fonts/exam-center-admin.eot?me95au');
    src:    url('../fonts/exam-center-admin.eot?me95au#iefix') format('embedded-opentype'),
        url('../fonts/exam-center-admin.ttf?me95au') format('truetype'),
        url('../fonts/exam-center-admin.woff?me95au') format('woff'),
        url('../fonts/exam-center-admin.svg?me95au#exam-center-admin') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'exam-center-admin';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
	vertical-align: middle;
	display: inline-block;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: none;
    height: auto;
    width: auto;
}
[class^=icon-]:before, [class*=" icon-"]:before {
	display: inline-block;
}

.icon-add:before {
    content: "\e900";
}
.icon-article:before {
    content: "\e901";
}
.icon-change:before {
    content: "\e902";
}
.icon-Chart:before {
    content: "\e903";
}
.icon-chat:before {
    content: "\e904";
}
.icon-clear:before {
    content: "\e905";
}
.icon-close:before {
    content: "\e906";
}
.icon-yes:before {
    content: "\e907";
}
.icon-home:before {
    content: "\e908";
}
.icon-xiasanjiao:before {
    content: "\e909";
}
.icon-new-course:before {
    content: "\e90a";
}
.icon-delcourse:before {
    content: "\e90b";
}
.icon-online:before {
    content: "\e90c";
}
.icon-popup:before {
    content: "\e90d";
}
.icon-set:before {
    content: "\e90e";
}
.icon-Settings:before {
    content: "\e90f";
}
.icon-Users:before {
    content: "\e910";
}
.icon-View:before {
    content: "\e911";
}
.icon-offline:before {
    content: "\e912";
}
.icon-pro:before {
    content: "\e913";
}
.icon-sanjiao:before {
    content: "\e914";
}
.icon-search:before {
    content: "\e915";
}
.icon-larrow:before {
    content: "\e916";
}
.icon-rarrow:before {
    content: "\e917";
}
.icon-uparrow:before {
    content: "\e918";
}
.icon-darrow:before {
    content: "\e919";
}
.icon-star:before {
    content: "\e91a";
}
.icon-list:before {
    content: "\e91b";
}
.icon-gouxuan:before {
    content: "\e91c";
}
.icon-tj:before {
    content: "\e608";
}
.icon-ctj:before {
    content: "\e607";
}
.icon-ts:before {
    content: "\e609";
}
.icon-run:before {
    content: "\e605";
}
.icon-czd:before {
    content: "\e606";
}
.icon-approve:before {
    content: "\e60a";
}
.icon-plan:before {
    content: "\e603";
}
.icon-course:before {
    content: "\e602";
}
.icon-class:before {
    content: "\e601";
}
.icon-time:before {
    content: "\e91d";
}
.icon-arrow-right:before {
    content: "\e91e";
}
.icon-arrow-left:before {
    content: "\e91f";
}