@import "mixins";

.tool-list{
  padding: 5px 8px;
  font-size: 12px;
  float: left;
  @include clearfix();
  a{
    padding: 0px 8px;
    height: 28px;
    line-height: 28px;
    display: block;
    float: left;
    &.active{
      background-color: #b00;
      color: #fff;
    }
    &:hover{
      text-decoration: none;
    }
  }
  input{
    padding-left: 3px;
    height: 25px
  }
}