@import "banner_header";
@import "base";
@import "pagination";
@import "titbar";
html,body{
	height: 100%;
  overflow: auto;
}
input[type='text']{
  height:26px;
}
.nodata{
  text-align: center;
  margin:32px 0;
}

    span.control-span{
      display: inline-block;
      margin-top: 4px;
    }