@font-face {
  font-family: 'train';
  src: url('../../../fonts/train.eot?uvube9');
  src: url('../../../fonts/train.eot?uvube9#iefix') format('embedded-opentype'), url('../../../fonts/train.ttf?uvube9') format('truetype'), url('../../../fonts/train.woff?uvube9') format('woff'), url('../../../fonts/train.svg?uvube9#train') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="tr-icon-"],
[class*=" tr-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'train' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tr-icon-add:before {
  content: "\e900";
}

.tr-icon-min:before {
  content: "\e901";
}

.tr-icon-search:before {
  content: "\e902";
}

.tr-icon-phone:before {
  content: "\e903";
}

.tr-icon-rarrow:before {
  content: "\e904";
}

.tr-icon-larrow:before {
  content: "\e905";
}

.tr-icon-rsj:before {
  content: "\e906";
}

.tr-icon-dsj:before {
  content: "\e907";
}

.tr-icon-view:before {
  content: "\e908";
}

.tr-icon-user:before {
  content: "\e909";
}

.tr-icon-close:before {
  content: "\e90a";
}

.tr-icon-play:before {
  content: "\e90b";
}

.tr-icon-star2:before {
  content: "\e90c";
}

.tr-icon-star1:before {
  content: "\e90d";
}

.tr-icon-darrow:before {
  content: "\e90e";
}

.tr-icon-uparrow:before {
  content: "\e90f";
}

.tr-icon-question:before {
  content: "\e910";
}

.tr-icon-document:before {
  content: "\e911";
}

.tr-icon-study:before {
  content: "\e912";
}

.tr-icon-sort:before {
  content: "\e913";
}

.tr-icon-halfstar:before {
  content: "\e914";
}

.tr-icon-study2:before {
  content: "\e915";
}

.tr-icon-exam2:before {
  content: "\e916";
}

.tr-icon-note2:before {
  content: "\e917";
}

.tr-icon-answer2:before {
  content: "\e918";
}

.tr-icon-auth2:before {
  content: "\e919";
}

.tr-icon-sort2:before {
  content: "\e91a";
}

.tr-icon-check-yes:before {
  content: "\e91b";
}

.tr-icon-radio:before {
  content: "\e91c";
}

.tr-icon-gz:before {
  content: "\e91d";
}

.tr-icon-finish:before {
  content: "\e91e";
}

.tr-icon-half:before {
  content: "\e91f";
}

.tr-icon-star:before {
  content: "\e920";
}

.tr-icon-write:before {
  content: "\e921";
}

.tr-icon-share:before {
  content: "\e922";
}

.tr-icon-circle:before {
  content: "\e923";
}

.tr-icon-book:before {
  content: "\e925";
}

.tr-icon-review:before {
  content: "\e926";
}

.tr-icon-vide:before {
  content: "\e928";
}

.tr-icon-collection:before {
  content: "\e929";
}

.tr-icon-pic:before {
  content: "\e92a";
}

.tr-icon-doc:before {
  content: "\e92b";
}

.tr-icon-txt:before {
  content: "\e92c";
}

.tr-icon-music:before {
  content: "\e92d";
}

.tr-icon-fav:before {
  content: "\e929";
}
