.list-filter {
  color: #666;
  margin: 35px 0 28px 0;
  .filter-lf {
    float: left;
    font-size: 0;
    .filter-btn {
      width: 98px;
      height: 24px;
      text-align: center;
      color: #666;
      display: inline-block;
      border: 1px solid #eee;
      font-size: 14px;
      line-height: 24px;
      background-color: #fff;
      margin-left: -1px;
      &:first-child {
        margin-left: 0;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }
      &.last-child {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
      &.active {
        color: $themeColor;
        font-weight: bold;
        &:hover {
          background-color: darken(#fff, 2%);
        }
      }
      &:hover {
        color: $themeColor;
        background-color: darken(#fff, 2%);
      }
    }
  }
  .filter-rt {
    float: right;
    font-size: 14px;
    .filter-btn {
      margin-left: 20px;
      padding: 2px 10px;
      color: #333;
      border-radius: 4px;
      display: inline-block;
      &:first-child {
        margin-left: 0;
      }
      &.active {
        color: #fff;
        background-color: $themeColor;
        &:hover {
          color: #fff;
          background-color: $themeColor;
        }
      }
      &:hover {
        color: $themeColor;
        background-color: #ddd;
      }
    }
    .select-item {
      position: relative;
      display: inline-block;
      margin-right: 25px;
      vertical-align: middle;
      &:hover {
        .select-list {
          display: block;
        }
        .select-value:after {
          @include iconfont;
          line-height: 30px;
          content: '\e90f';
        }
      }
    }
    .select-value {
      position: relative;
      display: inline-block;
      height: 39px;
      min-width: 40px;
      background: #fff;
      padding: 0 45px 0 15px;
      border: 1px solid #ddd;
      border-radius: 4px;
      line-height: 39px;
      cursor: pointer;
      color: #999;
      &:after {
        @include iconfont;
        content: '\e90e';
        position: absolute;
        width: 44px;
        height: 30px;
        top: 4px;
        right: 0;
        text-align: center;
        line-height: 30px;
        border-left: 1px solid #ddd;
      }
    }
    .select-list {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      z-index: 15;
      padding: 0 10px;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      overflow: hidden;
      display: none;
      padding-bottom: 5px;
      li {
        padding: 5px 0;
        cursor: pointer;
        &:hover, &.on {
          color: $themeColor;
        }
        span {
          line-height: 30px;
          display: block;
          padding: 0 4px;
          height: 30px;
        }
        &.on span {
          background: #eee;
        }
      }
    }
  }

}