.tag-filter {
  padding: 0 30px;
  font-size: 14px;
  color: #333;
  background: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .1);
  margin-top: 30px;
  .tag-filter-row {
    position: relative;
    padding: 10px 0 10px 80px;
    border-top: 1px dotted #dcdcdc;
    line-height: 30px;
    &:first-child {
      border-top: 0;
    }
  }
  .tag-view-row {
    padding: 10px 0 10px 80px;
    @include bgOpacity($themeColor, 5);
    margin-left: -80px;
  }
  .tag-filter-lab {
    position: absolute;
    left: 0;
    top: 18px;
    width: 79px;
    color: #999;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
  }
  .tag-filter-cell {
    display: inline-block;
    line-height: 1;
    padding: 0 20px;
    border-left: 1px solid #ddd;
    cursor: pointer;
    &:first-child {
      border-left: 0;
    }
    &:hover, &.current {
      color: $themeColor;
    }
  }
}