$white: #fff;
$greyc: #ccc;
$grey9: #999;
$grey6: #666;
$grey3: #333;

$border-bottom: #d8d8d8;
$bgc: #fff;
$color: #fff;

$searchActive: #38adff;

$themeColor: #38adff; //user-list hover color
$themeColor2: #38adff; //active border-bottom bgc
$themeColor3: #fff; //hover <a> color

$baseColor: #fff;
$baseColor1:#38adff;
$color:#333;
$head_bg: #fff;
$search_border: #9bd6ff;
$search_hover_border:#0090ff;
$search_btn_bg:#38adff;
$search_btn_hover_bg: #0090ff;

$btn_bg:#fff;
$btn_hover_bg:#0090ff;

$btn_color:#38adff;
$btn_hover_color:#fff;

$nav_border:#38adff;

$down_btn_color:#fff;
$down_btn_bg:#38adff;
$down_btn_hover_bg:#0090ff;

$iconfont-path:"../../";