@charset "UTF-8";
a.s-btn, a.m-btn, a.gs-btn, a.gs-btn:hover, a.gm-btn, a.gm-btn:hover {
  text-align: center; }

.rotate18 {
  transform: rotate(180deg); }

.rotate9 {
  transform: rotate(-90deg); }

.w120 {
  width: 120px; }

a.btn i, a.btn span {
  vertical-align: middle; }
a.btn i {
  margin-right: 5px; }
a.btn:hover {
  text-decoration: none; }

a.s-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  background: #CA0000;
  color: #fff; }
  a.s-btn:hover {
    color: #fff; }

a.m-btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  background: #CA0000;
  color: #fff; }
  a.m-btn:hover {
    color: #fff; }

a.gs-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  background: #b3b3b3;
  color: #fff; }
  a.gs-btn:hover {
    background: #4d4d4d;
    color: #fff; }

a.gm-btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  background: #b3b3b3;
  color: #fff; }
  a.gm-btn:hover {
    background: #4d4d4d;
    color: #fff; }

.catalogs {
  padding: 20px 20px 10px; }
  .catalogs .catalog-column:last-child {
    border-bottom: none; }

.catalogs .catalog-column {
  padding: 15px 10px 7px;
  border-bottom: 1px dashed #dedede; }
  .catalogs .catalog-column .column-list, .catalogs .catalog-column .column-title, .catalogs .catalog-column .item-all {
    display: block;
    float: left; }
  .catalogs .catalog-column span.column-title:after {
    content: "："; }
  .catalogs .catalog-column .column-title {
    height: 26px;
    line-height: 26px;
    word-break: break-all;
    padding-top: 2px;
    width: 175px;
    font-weight: bold;
    text-align: right;
    overflow: hidden;
    color: #333; }
  .catalogs .catalog-column .item-all {
    margin-left: 8px;
    padding-top: 2px; }
    .catalogs .catalog-column .item-all a {
      display: block;
      height: 26px;
      line-height: 26px;
      padding: 0 15px;
      color: #666;
      font-size: 13px;
      text-decoration: none;
      border-radius: 3px; }
    .catalogs .catalog-column .item-all:hover a, .catalogs .catalog-column .item-all.active a {
      color: #fff;
      background-color: #CA0000;
      text-decoration: none; }
  .catalogs .catalog-column .column-list {
    -webkit-width: calc(100% - 270px);
    -moz-width: calc(100% - 270px);
    -ms-width: calc(100% - 270px);
    -o-width: calc(100% - 270px);
    width: calc(100% - 270px);
    padding-left: 8px; }
    .catalogs .catalog-column .column-list li {
      float: left;
      margin-left: 2px;
      padding-top: 2px;
      margin-bottom: 8px; }
      .catalogs .catalog-column .column-list li a {
        min-width: 50px;
        display: block;
        height: 26px;
        line-height: 26px;
        padding: 0 15px;
        color: #444;
        font-size: 13px;
        text-align: center;
        border-radius: 3px; }
      .catalogs .catalog-column .column-list li:hover a, .catalogs .catalog-column .column-list li.active a {
        color: #fff;
        background-color: #CA0000;
        text-decoration: none; }
      .catalogs .catalog-column .column-list li b.warn {
        display: block;
        float: right;
        vertical-align: middle;
        width: 15px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-color: #fff;
        background-image: url(/elearningweb/admin/images/warn.png); }

/*# sourceMappingURL=catalog.css.map */
