
.article {
    .article-title {
        font: 16px/24px 'microsoft yahei';
        color: #333;
        //max-height: 48px;
    }
    .article-source {
        font: 12px/28px 'microsoft yahei';
        color: #ccc;
    }
    .article-content {
        font: 14px/21px 'microsoft yahei';
        color: #999;
    }
    .article-author {
        font: 12px/28px 'microsoft yahei';
        color: #ccc;
    }
}