
.question {
    padding: 25px 30px;
    p {
        font: 14px/normal 'microsoft yahei';
        color: #333;
    }
    .control {
        margin: 13px 0 0;
    }
    .question-input {
        position: relative;
        .question-input-size {
            float: right;
            font: 12px/normal 'microsoft yahei';
            color: #ccc;
            &.invalid {
                color: #e33e2b;
            }
        }
    }
    .droplist {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: -1px;
        p {
            max-width: 630px;
        }
    }
    .question-detail {
        margin: 36px 0 0;
        textarea {
            height: 280px;
        }
    }
    .question-oper {
        overflow: hidden;
        padding: 10px 0;
        .oper-pic, .oper-full{
            float: left;
            line-height: 30px;
            padding-left: 5px;
            cursor: pointer;
            transition: all 0.05s; 
            &:hover{
                color: #ce3f3f;
                transform: scale(1.05)
            }
        }
        button.btn {
            border: none;
        }
    }
    .question-btn {
        margin: 20px 0 0;
        color:#fff;
        @extend %clearfix;
        .btn {
            float: right;
            &:hover,
            &:link{
                color:#fff;
            }
        }
    }
}