$white: #fff;
$greyc: #ccc;
$grey9: #999;
$grey6: #666;
$grey3: #333;

$border-bottom: #ce0000;
$bgc: #ce3f3f;
$color: #fff;

$searchActive: #ce3f3f;

$themeColor: #ce3f3f; //user-list hover color
$themeColor2: #fff; //active border-bottom bgc
$themeColor3: #fff; //hover <a> color

$iconfont-path:"../../";