.reg-layer {
  width: 95%;
  margin: 0 auto; }
  .reg-layer .reg-layer-hd {
    padding: 0 0 20px;
    font-size: 28px;
    text-align: center; }
  .reg-layer .reg-layer-control-group {
    position: relative;
    margin: 0 0 20px; }
    .reg-layer .reg-layer-control-group .reg-layer-label {
      position: absolute;
      top: 14px;
      left: 11px;
      font-size: 15px;
      color: #999999;
      cursor: text; }
  .reg-layer .reg-layer-input {
    float: left;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden; }
    .reg-layer .reg-layer-input input {
      width: 95.1%;
      padding: 14px 10px 17px;
      font-size: 15px;
      border: 0 none;
      outline: none;
      vertical-align: middle; }
  .reg-layer .input-mobile-country {
    width: 100%;
    height: 46px;
    font-size: 15px;
    border: none;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center; }
  .reg-layer .reg-layer-code .reg-layer-input {
    width: 64.5%;
    margin: 0 5% 0 0; }
  .reg-layer .reg-layer-code-send {
    float: left;
    width: 30.1%;
    height: 48px;
    line-height: 48px;
    border: 1px solid #ddd;
    font-size: 15px;
    text-align: center;
    color: #38adff; }
    .reg-layer .reg-layer-code-send:hover {
      text-decoration: none;
      color: #0096ff; }
  .reg-layer .reg-layer-code-disabled {
    background-color: #999;
    color: #fff;
    cursor: default; }
    .reg-layer .reg-layer-code-disabled:hover {
      background-color: #999;
      color: #fff; }
  .reg-layer .reg-layer-ft {
    text-align: center; }
    .reg-layer .reg-layer-ft .reg-layer-button {
      display: inline-block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 15px;
      border-radius: 5px;
      background-color: #38adff;
      color: #fff; }
      .reg-layer .reg-layer-ft .reg-layer-button:hover {
        background-color: #0096ff;
        text-decoration: none; }
    .reg-layer .reg-layer-ft .reg-layer-link {
      padding: 20px 0 0;
      text-align: right;
      font-size: 15px; }
      .reg-layer .reg-layer-ft .reg-layer-link a {
        color: #38adff; }
  .reg-layer .reg-layer-error-text {
    display: none;
    color: #ff6f6f;
    font-size: 14px; }
  .reg-layer .reg-layer-error .reg-layer-input {
    border-color: #ff6f6f; }
  .reg-layer .reg-layer-error .reg-layer-error-text {
    display: block; }

.en-US .reg-layer-control-group .password-label {
  top: 3px; }
