@charset "UTF-8";
/*!
 * 页面公共样式类
 * @type {css}
 *//*!
 * 滚动条优化样式
 */
.mask, .yuncourse-loading {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute
}


.mask {
    z-index: 100;
    background-color: #000;
    opacity: 0;
    filter: alpha(opacity=0)
}

.ellipsis {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis
}

.clearfix:after, .clearfix:before {
    display: table;
    content: ""
}

.clearfix:after {
    clear: both;
    overflow: hidden
}

.hide {
    display: none !important
}

.fl {
    float: left !important
}

.fr {
    float: right !important
}

.show {
    display: block !important
}

.tc {
    text-align: center !important
}

.tl {
    text-align: left !important
}

.tr {
    text-align: right !important
}

.vm {
    display: inline-block;
    vertical-align: middle
}

.fs12 {
    font-size: 12 !important
}

.fs14 {
    font-size: 14 !important
}

.fs16 {
    font-size: 16 !important
}

.fs18 {
    font-size: 18 !important
}

.fs20 {
    font-size: 20 !important
}

.fs22 {
    font-size: 22 !important
}

.fs24 {
    font-size: 24 !important
}

.fs26 {
    font-size: 26 !important
}

.auxo-opencourse * {
    font: 14px/1.5 tahoma, arial, "microsoft yahei", simsun, sans-serif
}

.yuncourse-loading {
    display: none;
    margin: 40% auto;
    width: 32px;
    height: 32px;
    background: url(../../images/loading.gif?v=20160520) center center no-repeat
}

@font-face {
    font-family: opencourse;
    src: url(../../fonts/opencourse.eot?mwa98m);
    src: url(../../fonts/opencourse.eot?mwa98m#iefix) format("embedded-opentype"), url(../../fonts/opencourse.ttf?mwa98m) format("truetype"), url(../../fonts/opencourse.woff?mwa98m) format("woff"), url(../../fonts/opencourse.svg?mwa98m#opencourse) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=" oc-icon-"], [class^=oc-icon-] {
    font-family: opencourse !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.oc-icon-add:before {
    content: "\e901"
}

.oc-icon-min:before {
    content: "\e902"
}

.oc-icon-search:before {
    content: "\e903"
}

.oc-icon-phone:before {
    content: "\e904"
}

.oc-icon-rarrow:before {
    content: "\e905"
}

.oc-icon-larrow:before {
    content: "\e906"
}

.oc-icon-rsj:before {
    content: "\e907"
}

.oc-icon-dsj:before {
    content: "\e908"
}

.oc-icon-view:before {
    content: "\e909"
}

.oc-icon-user:before {
    content: "\e90a"
}

.oc-icon-close:before {
    content: "\e90b"
}

.oc-icon-play:before {
    content: "\e90c"
}

.oc-icon-star2:before {
    content: "\e90d"
}

.oc-icon-star1:before {
    content: "\e90e"
}

.oc-icon-darrow:before {
    content: "\e90f"
}

.oc-icon-uparrow:before {
    content: "\e910"
}

.oc-icon-question:before {
    content: "\e911"
}

.oc-icon-document:before {
    content: "\e912"
}

.oc-icon-study:before {
    content: "\e913"
}

.oc-icon-sort:before {
    content: "\e914"
}

.oc-icon-halfstar:before {
    content: "\e915"
}

.oc-icon-study2:before {
    content: "\e916"
}

.oc-icon-exam2:before {
    content: "\e917"
}

.oc-icon-note2:before {
    content: "\e918"
}

.oc-icon-answer2:before {
    content: "\e919"
}

.oc-icon-auth2:before {
    content: "\e91a"
}

.oc-icon-sort2:before {
    content: "\e91b"
}

.oc-icon-check-yes:before {
    content: "\e91c"
}

.oc-icon-radio:before {
    content: "\e91d"
}

.oc-icon-gz:before {
    content: "\e91e"
}

.oc-icon-finish:before {
    content: "\e91f"
}

.oc-icon-half:before {
    content: "\e920"
}

.oc-icon-star:before {
    content: "\e921"
}

.oc-icon-write:before {
    content: "\e922"
}

.oc-icon-share:before {
    content: "\e923"
}

.oc-icon-circle:before {
    content: "\e924"
}

.oc-icon-book:before {
    content: "\e925"
}

.oc-icon-review:before {
    content: "\e926"
}

.oc-icon-vide:before {
    content: "\e928"
}

.oc-icon-collection:before {
    content: "\e929"
}

.oc-icon-pic:before {
    content: "\e92a"
}

.oc-icon-doc:before {
    content: "\e92b"
}

.oc-icon-txt:before {
    content: "\e92c"
}

.oc-icon-music:before {
    content: "\e92d"
}

.oc-icon-time:before {
    content: "\e900"
}