.x-question-list {
  font-size: 14px;
  border-left: 1px solid rgba(0, 0, 0, .05);
  padding: 0 10px 15px;
  .question-item {
    padding: 20px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    &:first-child {
      border-top: none;
      margin-top: 0;
    }
  }
  .btn-group-question {
    width: 230px;
    margin: 0 0 0 auto;
  }
  .block-mark {
    border-top: 1px solid #ddd;
    padding: 20px;
  }
  .vm {
    display: inline-block;
    vertical-align: middle;
  }
  .input {
    display: inline-block;
    vertical-align: middle;
    box-sizing: content-box;
    margin-bottom: 0;
  }
  .ml {
    margin-left: 100px;
  }
  .nqti-extras-answer {
    span {
      display: block;
      padding-left: 0;
    }
  }
}