.fullSlide, .wh-header, .wh-nav, .wh-second-nav {
    min-width: 1200px
}
.wh-second-nav {
    height: 50px;
    background: #fff
}

.wh-second-nav ul {
    width: 1200px;
    margin: 0 auto;
    height: 50px;
    overflow: hidden
}

.fullSlide .bd li, .fullSlide .bd ul {
    width: 100% !important
}

.wh-second-nav ul li {
    float: left;
    height: 50px
}

.wh-second-nav ul li a {
    display: block;
    height: 34px;
    line-height: 34px;
    margin-top: 8px;
    padding: 0 22px;
    font-size: 14px
}

.wh-second-nav ul li a:hover {
    background: #7bb4fc;
    color: #fff
}

.wh-second-nav ul .cur a {
    background: #5095eb;
    color: #fff
}