@charset "UTF-8";
code,kbd,samp,sub,sup,tt{font-size:100%}
:link,:visited,a:hover,ins{text-decoration:none}
:focus,a.hidefocus,a:focus{outline:0}
h3,h5{line-height:2}
a:link,a:visited,body,html{color:#333}
.pos_r,body{position:relative}
.ellipsis,.item .item-icon span i{text-overflow:ellipsis;white-space:nowrap}
.cf:after,.cl,.item .item-icon:after{clear:both}
blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,optgroup,strong,th,var{font-style:normal;font-weight:400}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;font-family:"Microsoft YaHei"}
abbr,acronym{border:0;font-variant:normal}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sub,sup{vertical-align:baseline}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a:active{color:#666}
a:hover{color:#ce3f3f}
.hide{display:none}
.hidden{visibility:hidden}
.show{display:block}
.fl{float:left}
.fr{float:right}
.tc{text-align:center}
.tl{text-align:left}
.tr{text-align:right}
.cf:after,.cf:before{content:"";display:table}
.cf{zoom:1}
button.hidefocus::-moz-focus-inner{border:none}
.bc-blue,a.mb-btn{border:1px solid #ce3f3f}
a:focus{-moz-outline:none}
input,textarea{outline:0}
h2{font-size:20px}
h3{font-size:16px}
h5{font-size:14px}
@font-face{font-family:elearning-course;src:url(../../fonts/elearning-course.eot?f2su1j);src:url(../../fonts/elearning-course.eot?f2su1j#iefix) format("embedded-opentype"),url(../../fonts/elearning-course.ttf?f2su1j) format("truetype"),url(../../fonts/elearning-course.woff?f2su1j) format("woff"),url(../../fonts/elearning-course.svg?f2su1j#elearning-course) format("svg");font-weight:400;font-style:normal}
i[class*=" icon-"],i[class^=icon-]{font-family:elearning-course!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;vertical-align:middle;display:inline-block;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
[class*=" icon-"]:before,[class^=icon-]:before{display:inline-block}
.icon-add:before{content:"\e900"}
.icon-min:before{content:"\e901"}
.icon-search:before{content:"\e902"}
.icon-phone:before{content:"\e903"}
.icon-rarrow:before{content:"\e904"}
.icon-larrow:before{content:"\e905"}
.icon-rsj:before{content:"\e906"}
.icon-dsj:before{content:"\e907"}
.icon-view:before{content:"\e908"}
.icon-user:before{content:"\e909"}
.icon-close:before{content:"\e90a"}
.icon-play:before{content:"\e90b"}
.icon-star2:before{content:"\e90c"}
.icon-star1:before{content:"\e90d"}
.icon-darrow:before{content:"\e90e"}
.icon-uparrow:before{content:"\e90f"}
.icon-question:before{content:"\e910"}
.icon-document:before{content:"\e911"}
.icon-study:before{content:"\e912"}
.icon-sort:before{content:"\e913"}
.icon-halfstar:before{content:"\e914"}
.icon-study2:before{content:"\e915"}
.icon-exam2:before{content:"\e916"}
.icon-note2:before{content:"\e917"}
.icon-answer2:before{content:"\e918"}
.icon-auth2:before{content:"\e919"}
.icon-sort2:before{content:"\e91a"}
.icon-check-yes:before{content:"\e91b"}
.icon-radio:before{content:"\e91c"}
.icon-gz:before{content:"\e91d"}
.icon-finish:before{content:"\e91e"}
.icon-half:before{content:"\e91f"}
.icon-star:before{content:"\e920"}
.icon-write:before{content:"\e921"}
.icon-share:before{content:"\e922"}
.icon-circle:before{content:"\e923"}
.icon-url:before{content:"\e924"}
.icon-book:before{content:"\e925"}
.icon-review:before{content:"\e926"}
.icon-lg-locked:before{content:"\e927"}
.icon-vide:before{content:"\e928"}
.icon-collection:before{content:"\e929"}
.icon-pic:before{content:"\e92a"}
.icon-doc:before{content:"\e92b"}
.icon-txt:before{content:"\e92c"}
.icon-music:before{content:"\e92d"}
.icon-locked:before{content:"\e92e"}
.icon-dy:before{content:"\e92f"}
.icon-catalog:before{content:"\e930"}
.icon-vr:before{content:"\e931"}
.icon-forward:before{content:"\e969"}
.icon-edit:before{content:"\f044"}
.icon-trash:before{content:"\f1f8"}
.icon-fav:before{content:"\e929"}
body,html{-webkit-box-sizing:border-box;box-sizing:border-box;font:14px/1.5 "Microsoft Yahei","Hiragino Sans GB",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif}
a.l-btn,body{-webkit-box-sizing:border-box}
em,i{font-style:normal}
html{height:100%}
body{overflow-y:scroll;box-sizing:border-box;padding-bottom:157px;min-width:1200px;height:auto!important;background-color:#f2f2f2;min-height:100%}
.ellipsis,.item .item-icon,.item .item-img,.ovh{overflow:hidden}
[data-render]{display:none}
a.l-btn,a.mb-btn,a.s-btn{display:inline-block}
.boxs{-webkit-box-shadow:0 1px 2px 1px #ddd;box-shadow:0 1px 2px 1px #ddd}
.vm{vertical-align:middle}
.vb{vertical-align:bottom}
.icon-m i{margin-right:8px}
.lh1{line-height:1}
.nodata{min-height:300px;line-height:200px;text-align:center}
.mt20{margin-top:20px!important}
.ml20,.mr20{margin-left:20px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px!important}
.mt30{margin-top:30px!important}
.mb40{margin-bottom:40px!important}
.mtb15{margin:15px 0}
.mtb10{margin:10px 0}
.pd15{padding:15px}
.pos_a{position:absolute}
.bc-f2{background:#f2f2f2}
.bc-c5{background:#c5c5c5}
.bc-f{background:#fff}
.bc-blue{background:#ce3f3f}
.bc-o{background:#f60}
.bc-transparent{background-color:rgba(0,0,0,.3)}
.blue{color:#ce3f3f!important}
.fc3{color:#333!important}
.fc6{color:#666!important}
.fc9{color:#999!important}
.white,a.l-btn,a.mb-btn,a.s-btn{color:#fff}
.fs12{font-size:12px!important}
.fs13{font-size:13px!important}
.fs14{font-size:14px!important}
.fs16{font-size:16px!important}
.fs18{font-size:18px!important}
.fs20{font-size:20px!important}
.fs24{font-size:24px!important}
.fb{font-weight:700}
.lh2{line-height:2}
a.s-btn{padding:0 20px;height:30px;line-height:30px}
a.mb-btn{border-radius:4px;padding:0 50px;height:40px;font-size:18px;line-height:40px}
a.l-btn{box-sizing:border-box;border-radius:4px;padding:0 65px;height:50px;font-size:20px;line-height:50px}
a.l-btn.bc-blue:hover{-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #992727;background:#b62e2e}
.s-img,.side-pro .s-img{width:80px;height:54px}
a.l-btn.bc-o:hover{background:#e35b00}
a.l-btn.blue:hover{background:rgba(56,173,255,.9);-webkit-box-shadow:0 1px 3px 1px #ccc;box-shadow:0 1px 3px 1px #ccc}
.borb{border-bottom:1px solid #d8d8d8}
.bor{border:1px solid #d8d8d8}
.l-u-pic,.m-u-pic{border-radius:50%}
.box-flex{display:-webkit-box;display:-ms-flexbox;display:flex}
.l-u-pic,.m-u-pic,.tip-icon{display:inline-block}
.flex-one{-webkit-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1}
.flex-two{-webkit-box-flex:2;-ms-box-flex:2;-o-box-flex:2;box-flex:2}
.w{width:100%}
.wrap{margin:0 auto;width:1200px}
.container{margin:15px auto 30px;width:1200px;min-height:540px}
.col-center{float:left;width:880px}
.col-right{float:right;width:300px}
.s-u-pic,.s-u-pic img{display:inline-block;border-radius:50%;width:30px;height:30px}
.m-u-pic{width:40px;height:40px}
.l-u-pic{width:50px;height:50px}
.tip-icon{width:18px;height:10px;background:url(../../newimages/tip-icon.png) center no-repeat}
.break{display:block;word-break:break-all}
.crumbs-nav>div i,.crumbs-nav>span,.load-ani,.load-box:after{display:inline-block}
.crumbs-nav{margin:0 0 15px}
.crumbs-nav>div{float:left}
.crumbs-nav>div a{color:#666}
.crumbs-nav>div a:hover{color:#ce3f3f}
.crumbs-nav>div i{margin:0 6px}
.crumbs-nav>span{float:left;color:#999}
.load-box:after{font-size:16px;line-height:50px;vertical-align:middle;color:#999;content:"正在加载"}
.load-ani{position:relative;right:0;left:0;z-index:10;margin-right:40px;width:50px;height:50px;vertical-align:middle;-webkit-transition:all .3s ease-in-out 0;transition:all .3s ease-in-out 0}
.load-box{display:none}
.load-box.animate{display:block}
.sk-circle .sk-child{position:absolute;top:0;left:0;width:100%;height:100%}
.sk-circle .sk-child:before{display:block;margin:0 auto;border-radius:100%;width:15%;height:15%;background-color:#ce3f3f;-webkit-animation:sk-circleBounceDelay 1.2s infinite ease-in-out both;animation:sk-circleBounceDelay 1.2s infinite ease-in-out both;content:""}
.mod-content,.pop-mask{display:none}
.sk-circle .sk-circle2{-webkit-transform:rotate(30deg);transform:rotate(30deg)}
.sk-circle .sk-circle3{-webkit-transform:rotate(60deg);transform:rotate(60deg)}
.sk-circle .sk-circle4{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.sk-circle .sk-circle5{-webkit-transform:rotate(120deg);transform:rotate(120deg)}
.sk-circle .sk-circle6{-webkit-transform:rotate(150deg);transform:rotate(150deg)}
.sk-circle .sk-circle7{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.sk-circle .sk-circle8{-webkit-transform:rotate(210deg);transform:rotate(210deg)}
.sk-circle .sk-circle9{-webkit-transform:rotate(240deg);transform:rotate(240deg)}
.sk-circle .sk-circle10{-webkit-transform:rotate(270deg);transform:rotate(270deg)}
.sk-circle .sk-circle11{-webkit-transform:rotate(300deg);transform:rotate(300deg)}
.sk-circle .sk-circle12{-webkit-transform:rotate(330deg);transform:rotate(330deg)}
.sk-circle .sk-circle2:before{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.sk-circle .sk-circle3:before{-webkit-animation-delay:-1s;animation-delay:-1s}
.sk-circle .sk-circle4:before{-webkit-animation-delay:-.9s;animation-delay:-.9s}
.sk-circle .sk-circle5:before{-webkit-animation-delay:-.8s;animation-delay:-.8s}
.sk-circle .sk-circle6:before{-webkit-animation-delay:-.7s;animation-delay:-.7s}
.sk-circle .sk-circle7:before{-webkit-animation-delay:-.6s;animation-delay:-.6s}
.sk-circle .sk-circle8:before{-webkit-animation-delay:-.5s;animation-delay:-.5s}
.sk-circle .sk-circle9:before{-webkit-animation-delay:-.4s;animation-delay:-.4s}
.sk-circle .sk-circle10:before{-webkit-animation-delay:-.3s;animation-delay:-.3s}
.sk-circle .sk-circle11:before{-webkit-animation-delay:-.2s;animation-delay:-.2s}
.sk-circle .sk-circle12:before{-webkit-animation-delay:-.1s;animation-delay:-.1s}
@-webkit-keyframes sk-circleBounceDelay{0%,100%,80%{-webkit-transform:scale(0);transform:scale(0)}
40%{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes sk-circleBounceDelay{0%,100%,80%{-webkit-transform:scale(0);transform:scale(0)}
40%{-webkit-transform:scale(1);transform:scale(1)}
}
.pop-mask{position:fixed;top:0;left:0;width:100%;height:100%;z-index:995;background-color:#000;opacity:.6;filter:alpha(opacity=60)}
.side-nodata{font-size:16px;line-height:100px;text-align:center;color:#999}
.l-btn.disabled{pointer-events:none;background-color:#ccc;border-color:#ccc}
.item-box{width:1240px;margin-left:-20px;padding-top:8px}
.item-box li{float:left;margin:0 20px 40px}
.item{width:270px;position:relative;-webkit-transition:all .2s linear;transition:all .2s linear}
.item a{display:block;width:100%;height:100%}
.item:hover{-webkit-box-shadow:0 15px 30px rgba(0,0,0,.1);box-shadow:0 15px 30px rgba(0,0,0,.1);-webkit-transform:translate3d(0,-2px,0);transform:translate3d(0,-2px,0)}
.item .item-info{padding:15px;background:#fff}
.item .item-img,.item .item-img img{width:270px;height:180px;display:block;background:#fff}
.item .item-img img{-webkit-transition:all .3s;transition:all .3s}
.item:hover .item-img img{transform:scale(1.2);-webkit-transform:scale(1.2)}
.item .item-name{font-size:18px}
.item .item-icon{line-height:1;height:15px}
.item .item-icon:after,.item .item-icon:before{content:"";display:table}
.item .item-icon em,.pro-info .pro-dd span em,.side-pro .info em{height:8px;width:1px;background:#ccc;display:inline-block;margin:0 8px}
.item .item-icon span{display:inline-block;color:#999;float:left}
.item .item-icon span i{color:#ce3f3f;display:inline-block;vertical-align:middle;overflow:hidden}
.item .item-view{color:#999;font-size:12px}
.item .item-view em{display:inline-block;vertical-align:middle}
.item .item-view i{font-size:16px;color:#b7b7b7;margin-right:5px}
.item .item-label{display:inline-block;height:24px;line-height:24px;color:#fff;font-size:12px;padding:0 10px;background:#49a8ed;position:absolute;top:0;left:0}
.item-label-box .item-dd{margin-left:10px;vertical-align:middle;font-size:12px;color:#999;cursor:pointer;display:inline-block}
.item-label-box .item-dd:hover{text-decoration:underline}
.pagination-box{margin-bottom:30px}
.pagination-box .pagination{text-align:center;position:inherit}
.pagination-box .pagination:after{content:"";display:block;height:0;clear:both}
.pagination-box .pagination a,.pagination-box .pagination span{display:inline-block;float:left;margin-right:10px;border-radius:2px;padding:0 18px;height:37px;line-height:37px;background:#ddd}
.pagination-box .pagination a:hover,.pagination-box .pagination span{background:#ce3f3f;color:#fff}
.pagination-box .pagination .prev{width:80px;margin:0 10px 0 0}
.pagination-box .pagination .next{width:80px;margin:0 0 0 10px}
.pagination-box .pagination span.current{border-color:#ce3f3f;background:#ce3f3f;color:#fff}
.pagination-box .pagination span.next,.pagination-box .pagination span.prev{background:#fff;color:#c8c8c8}
.pagination-box .page-input{display:inline-block;margin:0 0 0 40px;color:grey;font-size:14px;vertical-align:middle;float:right}
.pagination-box .page-input input{width:46px;height:21px;line-height:21px;margin:0 5px;padding:7px 5px;border:1px solid #d8d8d8;outline:0;vertical-align:middle;border-radius:3px}
.pagination-box .page-input input:focus{border-color:#ce3f3f}
.pagination-box .page-input input.select-page-btn{width:58px;height:36px;border:1px solid #d8d8d8;background:#fff;color:grey}
.pagination-box .page-input input.select-page-btn:active{border-color:#d8d8d8;outline-color:#d8d8d8}
.pagination-box .page-input input.select-page-btn:hover{color:#fff;cursor:pointer;background:#ce3f3f;border:1px solid #ce3f3f}
.pagination-box .pagination-info{margin:24px 0 0;font-size:14px}
.pagination-box .pull-left{float:left}
.pagination-box .pull-right{float:right}