@charset "UTF-8";
@font-face{font-family:iconfont;src:url(../font/iconfont.eot?t=1501484015284);src:url(../font/iconfont.eot?t=1501484015284#iefix) format("embedded-opentype"),url(../font/iconfont.woff?t=1501484015284) format("woff"),url(../font/iconfont.ttf?t=1501484015284) format("truetype"),url(../font/iconfont.svg?t=1501484015284#iconfont) format("svg")}
.ui-btn{display:inline-block;min-width:100px;height:42px;padding:0 20px;background:#38adff;border-radius:3px;color:#fff;font-size:18px;line-height:42px;text-align:center;cursor:pointer}
.ui-btn:hover{background:#52b8ff}
.ui-btn:active{background:#1fa2ff}
.ui-btn2{display:inline-block;min-width:100px;height:40px;padding:0 20px;border:1px solid #38adff;border-radius:3px;color:#38adff;font-size:18px;line-height:40px;text-align:center;cursor:pointer}
.ui-btn2:hover{border-color:#52b8ff;color:#52b8ff}
.ui-btn2:active{border-color:#1fa2ff;color:#1fa2ff}
.ui-radio{display:inline-block;position:relative;padding-left:30px;cursor:pointer}
.ui-radio:after,.ui-radio:before{position:absolute;left:0;top:50%;border-radius:50%}
.ui-radio:before{content:'';margin-top:-10px;width:18px;height:18px;border:1px solid #cdcdcd}
.ui-radio.checked:before{border-color:#38adff}
.ui-radio.checked:after{content:'';background:#38adff;width:10px;height:10px;left:5px;margin-top:-5px}
.ui-ipt{height:39px;padding:0 15px;border:1px solid #ddd;outline:0;border-radius:4px}
.ui-ipt:focus{border-color:#38adff}
.ui-link{color:#38adff}
.ui-link:hover{color:#52b8ff;text-decoration:underline}
.ui-link:active{color:#1fa2ff}
.ui-nothing{padding:200px 0;font-size:30px;color:#999;line-height:1.5;text-align:center}
.ui-nothing:before{content:'';display:block;height:167px;margin-bottom:35px;background:url(../images/_base64/icon_nothing.png) no-repeat center center}
.ui-card{position:relative;display:inline-block;width:268px;margin:40px 20px 0;background:#fff;border:1px solid #ddd;font-size:12px;cursor:pointer}
.ui-card:hover{-webkit-box-shadow:0 4px 4px 0 rgba(0,0,0,.15);box-shadow:0 4px 4px 0 rgba(0,0,0,.15)}
.ui-card:hover .views-item img{-webkit-transform:scale(1.2);transform:scale(1.2)}
.ui-card:hover .desc-item .name{color:#38adff}
.ui-card:hover .edit-select,.ui-card:hover .reason-item{display:block}
.ui-card .views-item{position:relative;margin:-1px;height:180px;background:#ddd;font-size:0;text-align:center;line-height:180px;overflow:hidden}
.ui-card .views-item img{max-width:100%;max-height:100%;-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s;vertical-align:middle}
.ui-card .views-item .tip-statu{position:absolute;bottom:0;right:0;padding:0 12px;height:24px;background:#38adff;color:#fff;font-size:12px;line-height:24px}
.ui-card .desc-item{padding:10px 15px;line-height:24px;color:#999;font-size:12px}
.ui-card .desc-item .name{color:#333;font-size:14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.ui-card .desc-item .info-cell{display:inline-block;padding-right:10px;margin-right:10px;border-right:1px solid #ccc;line-height:12px}
.ui-card .desc-item .info-cell:last-child{border-right:0}
.ui-card .desc-item .info-cell .highlight{color:#38adff}
.ui-card .card-ft{overflow:hidden;border-top:1px solid #eee;padding:10px 15px;line-height:22px;color:#999;font-size:12px}
.ui-card .card-ft .income-num{float:right}
.ui-card .card-ft .income-num .highlight{color:#ff9617;font-size:16px}
.ui-card .card-ft .view-num:before{content:'';display:inline-block;width:16px;height:16px;margin-right:5px;background:url(../images/_base64/icon_user.png);vertical-align:text-bottom}
.ui-card .card-ft .price{float:right;font-size:14px;color:#f85552}
.ui-card .card-ft .price.free{color:#5fb41b}
.ui-card .edit-select{display:none;position:absolute;top:-1px;left:-1px;right:-1px}
.ui-card .edit-select .btn-toggle{position:relative;display:block;background:#fff;border:1px solid #ddd;height:30px}
.ui-card .edit-select .btn-toggle:before{content:'';position:absolute;top:5px;left:8px;width:20px;height:20px;background:#38adff;border-radius:4px}
.ui-card .edit-select .btn-toggle:after{content:'';position:absolute;top:12px;left:13px;border-top:7px solid #fff;border-left:5px solid transparent;border-right:5px solid transparent}
.ui-card .edit-select .edit-list{background:#fff;position:absolute;top:31px;left:0;width:106px;background:#fff;border:1px solid #ddd}
.ui-card .edit-select .edit-list li{height:36px;padding:0 10px;line-height:36px;color:#666;font-size:14px}
.ui-card .edit-select .edit-list li:before{content:'';display:inline-block;width:20px;height:20px;margin-right:8px;background-repeat:no-repeat;background-position:center center;vertical-align:text-top}
.ui-card .edit-select .edit-list li.edit:before{background-image:url(../images/_base64/icon_edit.png)}
.ui-card .edit-select .edit-list li.del:before{background-image:url(../images/_base64/icon_del.png)}
.ui-card .edit-select .edit-list li.upload:before{background-image:url(../images/_base64/icon_upload.png)}
.ui-card .edit-select .edit-list li:hover{background:#f4f4f4}
.ui-card .reason-item{display:none;position:absolute;left:-1px;right:-1px;bottom:300px;padding:15px 20px;background:#fff;border:1px solid #ddd;-webkit-box-shadow:0 4px 4px 0 rgba(0,0,0,.1);box-shadow:0 4px 4px 0 rgba(0,0,0,.1);font-size:14px;line-height:21px}
.ui-card .reason-item:before{content:'';position:absolute;left:50%;bottom:-10px;border-top:10px solid #ddd;border-left:10px solid transparent;border-right:10px solid transparent}
.ui-card .reason-item:after{content:'';position:absolute;left:50%;bottom:-9px;border-top:10px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent}
.ui-card .reason-item .highlight{color:#f85552}
.d-layout-wrap{width:980px;margin:0 auto}
.uc-head{padding:30px 0;border-bottom:1px solid #d7d7d7;text-align:center;color:#666}
.uc-head .total-item{float:left;width:390px;border-right:1px solid #ddd}
.uc-head .uc-head-tit{padding-top:10px;line-height:55px;font-size:20px}
.uc-head .icome-item{overflow:hidden}
.uc-head .uc-head-info{display:inline-block;width:150px;line-height:40px;font-size:14px}
.uc-head .uc-head-info .num{margin:0 5px;color:#38adff;font-size:24px}
.uc-tab-item{border-bottom:1px solid #d7d7d7}
.uc-tab-item li{display:inline-block;margin-bottom:-1px;padding:0 30px;height:61px;line-height:59px;font-size:14px;color:#666;cursor:pointer}
.uc-tab-item li.active,.uc-tab-item li:hover{color:#38adff}
.uc-tab-item li.active{height:59px;border-bottom:2px solid #38adff}
.uc-tab-item li.tab-lab{font-weight:700;color:#333}
.uc-mymsg-list{font-size:14px;min-height:400px;padding-bottom:50px;line-height:2;-webkit-clip-path:#333;clip-path:#333}
.uc-mymsg-list .mymsg-cell{padding:20px 0;border-bottom:1px dashed #e0e0e0}
.uc-mymsg-list .mymsg-time{color:#999}
.uc-mymsg-list .mymsg-info{padding:5px 0;line-height:1.5}
.uc-course-list{padding:0 20px 40px}
.pagination-box{margin:10px 0}
.pagination-box .pagination{text-align:center;position:inherit}
.pagination-box .pagination:after{content:"";display:block;height:0;clear:both}
.pagination-box .pagination a,.pagination-box .pagination span{display:inline-block;float:left;margin-right:10px;border-radius:2px;padding:0 18px;height:37px;line-height:37px;background:#ddd}
.pagination-box .pagination a:hover,.pagination-box .pagination span{background:#3bb800;color:#fff}
.pagination-box .pagination .prev{width:80px;margin:0 10px 0 0}
.pagination-box .pagination .next{width:80px;margin:0 0 0 10px}
.pagination-box .pagination span.current{border-color:#3bb800;background:#3bb800;color:#fff}
.pagination-box .pagination span.next,.pagination-box .pagination span.prev{background:#fff;color:#c8c8c8}
.pagination-box .page-input{display:inline-block;margin:0 0 0 40px;color:grey;font-size:14px;*display:inline;*zoom:1;vertical-align:middle;float:right}
.pagination-box .page-input input{width:46px;height:21px;line-height:21px;margin:0 5px;padding:7px 5px;border:1px solid #d8d8d8;outline:0;vertical-align:middle;border-radius:3px}
.pagination-box .page-input input:focus{border-color:#3bb800}
.pagination-box .page-input input.select-page-btn{width:58px;height:36px;border:1px solid #d8d8d8;background:#fff;color:grey}
.pagination-box .page-input input.select-page-btn:active{border-color:#d8d8d8;outline-color:#d8d8d8}
.pagination-box .page-input input.select-page-btn:hover{color:#fff;cursor:pointer;background:#3bb800;border:1px solid #3bb800}
.pagination-box .pagination-info{margin:24px 0 0;font-size:14px}
.pagination-box .pull-left{float:left}
.pagination-box .pull-right{float:right}
.page-input .page-text{padding:7px 5px;-webkit-box-sizing:content-box;box-sizing:content-box}
.load-more{clear:both;display:block;margin:0 auto;width:200px;text-align:center;padding:10px 0;color:#3bb800;font-size:13px;cursor:pointer;border:1px solid #3bb800;border-radius:3px}
.load-more:hover{background:#3bb800;color:#fff}
.load-more.disable{color:#eee;border-color:#eee;cursor:default}
.load-more.disable:hover{background:#fff;color:#eee}