@import "./mixins";
$borderColor: #e6e6e6 !default;
$hoverColor: #efefef !default;
%table-list {
    .table-list {
        width: 100%;
        thead td {
            padding: 0 5px;

            font-weight: 600;

            @include text-middle(50px);
        }
        thead tr {
            border-bottom: 1px solid $borderColor;
        }
        tbody tr {
            border-bottom: 1px dashed $borderColor;
            td {
                padding: 10px 5px;

                vertical-align: middle;
                white-space: pre-wrap;
                word-break: break-all;
            }
        }
        tbody tr:hover {
            background-color: $hoverColor;
        }
    }
}
