.catalog-list{
	padding:20px;
	.chapter-group{
		margin-bottom: 10px;
	}
	.chapter-tit,.cate-tit.bc-tit{
		font-weight: bold;
		background: #f9f9f9;
		height: 36px;
		line-height: 36px;
		border-radius: 5px;
		padding: 0 25px;
		position: relative;
		.op-btn{
			// position: absolute;
			
			// top:9px;
			// display: inline-block;
			// width: 18px;
			// height: 18px;
			// line-height: 18px;
			text-align: center;
			right: 10px;
			width: 36px;
		    height: 36px;
		    display: block;
		    line-height: 36px;
		    float: right;
		}
	}
	.chapter-container{
		overflow: hidden;
		display: none;
		.catalog-resource{
			display: block;
		}
	}
	.open{
		.chapter-container{
			display: block;
			height: auto;
		}
	}
	.tit-li{
		height: 49px;
		line-height: 49px;
		border-bottom: 1px solid #f5f5f5;
		position: relative;
		padding:0 25px;
		overflow: hidden;
	}
	.cate-twolink{
		display: block;
		&:hover{
			background: #fbfbfb;
		}
	}
	.cate-two{
		padding-left: 36px;
	}
	.tit-l{
		width: 75%;
		@extend %ellipsis;
		float: left;
		i{
			color:#b7b7b7;
			font-size: 15px;
			margin-right: 5px;
		}
	}
	.tit-r{
		float: right;
		i{
			color: #cecece;
			font-size: 21px;
			margin-left: 10px;
		}
	}
	i.icon-half,i.icon-finish{
		color: $themeColor;
	}
}
