@charset "UTF-8";
/*分页*/
.pagination-box {
    margin-bottom: 30px;
}

.pagination-box .pagination {
    text-align: center;
    position: inherit;
}

.pagination-box .pagination:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.pagination-box .pagination span,
.pagination-box .pagination a {
    display: inline-block;
    float: left;
    margin-right: 10px;
    border-radius: 2px;
    padding: 0 18px;
    height: 37px;
    line-height: 37px;
    background: #ddd;
}

.pagination-box .pagination a:hover,
.pagination-box .pagination span {
    background: #38adff;
    color: #fff;
}

.pagination-box .pagination .prev {
    width: 80px;
    margin: 0 10px 0 0;
}

.pagination-box .pagination .next {
    width: 80px;
    margin: 0 0 0 10px;
}

.pagination-box .pagination span.current {
    border-color: #38adff;
    background: #38adff;
    color: #fff;
}

.pagination-box .pagination span.prev,
.pagination-box .pagination span.next {
    background: #fff;
    color: #c8c8c8;
}

.pagination-box .page-input {
    display: inline-block;
    margin: 0 0 0 40px;
    color: #808080;
    font-size: 14px;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    float: right;
}

.pagination-box .page-input input {
    width: 46px;
    height: 21px;
    line-height: 21px;
    margin: 0 5px;
    padding: 7px 5px;
    border: 1px solid #d8d8d8;
    outline: 0;
    vertical-align: middle;
    border-radius: 3px;
}

.pagination-box .page-input input:focus {
    border-color: #38adff;
}

.pagination-box .page-input input.select-page-btn {
    width: 58px;
    height: 36px;
    border: 1px solid #d8d8d8;
    background: #fff;
    color: #808080;
}

.pagination-box .page-input input.select-page-btn:active {
    border-color: #d8d8d8;
    outline-color: #d8d8d8;
}

.pagination-box .page-input input.select-page-btn:hover {
    color: #fff;
    cursor: pointer;
    background: #38adff;
    border: 1px solid #38adff;
}

.pagination-box .pagination-info {
    margin: 24px 0 0;
    font-size: 14px;
}

.pagination-box .pull-left {
    float: left;
}

.pagination-box .pull-right {
    float: right;
}

/*!
 * 无数据通用样式
 */
.item-nodata {
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.container {
    margin: 15px auto 30px;
    width: 1200px;
    min-height: 540px;
}

.list-tool {
    color: #666;
    margin: 35px 0 20px 0;
}

.list-tool:before {
    content: "";
    display: table;
}

.list-tool .tool-l {
    float: left;
}

.list-tool .tool-r {
    float: right;
}

.list-tool .tool-r a {
    margin-left: 20px;
    padding: 2px 10px;
    color: #333;
    border-radius: 4px;
    display: inline-block;
}

.list-tool .tool-r a:hover {
    color: #38adff;
    background-color: #ddd;
}

.list-tool .tool-r .active {
    color: #fff;
    background-color: #38adff;
}

.list-tool .tool-r .active:hover {
    color: #fff;
    background-color: #38adff;
}




/* item */
.train-item-box  {
    width: 1240px;
    margin-left: -10px;
    padding-top: 8px;
}

.train-item-box li {
    float: left;
    margin: 0 20px 40px 20px;
}

.train-item-box .item {
    width: 270px;
    /*height: 300px;*/
    position: relative;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background-color: #fff;
}

.train-item-box .item a {
    display: block;
    width: 100%;
    height: 100%;
}

.train-item-box .item:hover {
    /*box-shadow: 0 0 5px 4px #ddd;
    border-radius:3px;*/
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.train-item-box .item:hover .item-name {
    color: #38adff;
}

.train-item-box .item .item-info {
    padding: 15px;
    background: #fff;
}

.train-item-box .item .item-img {
    overflow: hidden;

}

.train-item-box .item .item-img,
.train-item-box .item .item-img img {
    width: 270px;
    height: 180px;
    display: block;
    background: transparent;
}

.train-item-box .item .item-img img {
    -webkit-transition: all .3s;
    transition: all .3s;
    position: absolute;
    z-index: 5;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
}

.train-item-box .item:hover .item-img img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.train-item-box .item .item-name {
    font-size: 18px;
}

.train-item-box .item .item-icon {
    line-height: 1;
    max-height: 15px;
    font-size: 13px;
}

.train-item-box .item .item-icon em,
.pro-info .pro-dd span em,
.side-pro .info em {
    height: 8px;
    width: 1px;
    background: #ccc;
    display: inline-block;
    margin: 0 6px;
}

.train-item-box .item .item-icon span {
    display: inline-block;
    color: #999;
}

.train-item-box .item .item-icon span i {
    color: #38adff;
    display: inline-block;
    vertical-align: -1px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 3px;
}

.train-item-box .item .item-icon span.sp i {
    max-width: 36px
}

.train-item-box .item .item-view {
    color: #999;
    font-size: 12px;
}

.train-item-box .item .item-view em {
    display: inline-block;
    vertical-align: middle;
}

.train-item-box .item .item-view i {
    font-size: 16px;
    color: #b7b7b7;
    margin-right: 5px;
}

.oc-icon-view:before {
    content: "\e909"
}

.train-item-box .item .item-label {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
    padding: 0 10px;
    background: #49a8ed;
    position: absolute;
    top: 0;
    left: 0
}

.item-label-box .item-dd {
    margin-left: 10px;
    vertical-align: middle;
    font-size: 12px;
    color: #999;
}

.item-label-box .item-dd:hover {
    text-decoration: underline;
}

.mtb15{
    margin: 15px 0;
}

em,i{
    font-style:normal
}

.ellipsis,ul .cookie-list li,ul .search-cookie li {
    text-overflow: ellipsis;
    white-space: nowrap
}

.ellipsis,.laymod,.ovh {
    overflow: hidden;
}
