@charset "UTF-8";
/*!
 * 页面公共样式类
 * @type {css}
 */
/*!
 * 滚动条优化样式
 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0
}
::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:start:decrement {
  display: block
}
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:vertical:start:increment {
  display: none
}
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-track:vertical {
  border-style: solid;
  border-color: transparent;
  border-radius: 8px
}
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
  border-style: solid;
  border-color: transparent;
  border-radius: 8px
}
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-track:vertical {
  border-style: solid;
  border-color: transparent;
  border-radius: 8px
}
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
  border-style: solid;
  border-color: transparent;
  border-radius: 8px
}
::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
  background-color: #fff;
  background-clip: padding-box
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  padding-top: 100px;
  min-height: 28px;
  background-color: rgba(0,0,0,.2);
  background-clip: padding-box;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,.4);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25)
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.35)
}
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-track:vertical {
  border-width: 0
}
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
  border-width: 0
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0,0,0,.05);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1)
}
::-webkit-scrollbar-track:active {
  background-color: rgba(0,0,0,.05);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07)
}
.mask {
  z-index: 100;
  background-color: #000;
  opacity: 0!important;
  filter: alpha(opacity=0)!important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute
}
.ellipsis {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: ""
}
.clearfix:after {
  clear: both;
  overflow: hidden
}
.hide {
  display: none!important
}
.fl {
  float: left!important
}
.fr {
  float: right!important
}
.show {
  display: block!important
}
.tc {
  text-align: center!important
}
.tl {
  text-align: left!important
}
.tr {
  text-align: right!important
}
.vm {
  display: inline-block;
  vertical-align: middle
}
.fs12 {
  font-size: 12!important
}
.fs14 {
  font-size: 14!important
}
.fs16 {
  font-size: 16!important
}
.fs18 {
  font-size: 18!important
}
.fs20 {
  font-size: 20!important
}
.fs22 {
  font-size: 22!important
}
.fs24 {
  font-size: 24!important
}
.fs26 {
  font-size: 26!important
}
.study-container {
  font: 14px/1.5 tahoma,arial,"microsoft yahei",simsun,sans-serif
}
.study-container a {
  text-decoration: none
}
.study-container * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.study-container i {
  font-style: normal
}
@font-face {
  font-family: mystudy;
  font-weight: 400;
  font-style: normal;
  src: url(../../fonts/mystudy.eot?bl30yc);
  src: url(../../fonts/mystudy.eot?bl30yc#iefix) format("embedded-opentype"),url(../../fonts/mystudy.ttf?bl30yc) format("truetype"),url(../../fonts/mystudy.woff?bl30yc) format("woff"),url(../../fonts/mystudy.svg?bl30yc#mystudy) format("svg")
}
@font-face {
  font-family: iconfont;
  src: url(../../fonts/iconfont.eot?t=1497258396299);
  src: url(../../fonts/iconfont.eot?t=1497258396299#iefix) format("embedded-opentype"),url(../../fonts/iconfont.woff?t=1497258396299) format("woff"),url(../../fonts/iconfont.ttf?t=1497258396299) format("truetype"),url(../../fonts/iconfont.svg?t=1497258396299#iconfont) format("svg")
}
[class*=" ms-icon-"],
[class^=ms-icon-] {
  font-family: mystudy!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.iconfont {
  font-family: iconfont!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.ms-icon-topic:before {
  content: "\e900"
}
.ms-icon-collection:before {
  content: "\e901"
}
.ms-icon-homework:before {
  content: "\e902"
}
.ms-icon-resource:before {
  content: "\e903"
}
.ms-icon-setting:before {
  content: "\e904"
}
.ms-icon-question-empty:before {
  content: "\e905"
}
.ms-icon-exam-empty:before {
  content: "\e906"
}
.ms-icon-course-empty:before {
  content: "\e907"
}
.ms-icon-common-empty:before {
  content: "\e908"
}
.ms-icon-cart:before {
  content: "\e909"
}
.ms-icon-rank:before {
  content: "\e90a"
}
.ms-icon-question:before {
  content: "\e90b"
}
.ms-icon-exam:before {
  content: "\e90c"
}
.ms-icon-note:before {
  content: "\e90d"
}
.ms-icon-book:before {
  content: "\e90e"
}
.ms-icon-voucher:before {
  content: "\e90f"
}
.ms-icon-search:before {
  content: "\e910"
}
.ms-icon-enroll:before {
  content: "\e911"
}
.ms-icon-rarrow:before {
  content: "\e917"
}
.ms-icon-ring-verse:before {
  content: "\e91e"
}
.ms-icon-circle-empty:before {
  content: "\e924"
}
.ms-icon-circle-full:before {
  content: "\e930"
}
.ms-icon-subscribe:before {
  content: "\e603"
}
.ms-icon-remark:before {
  content: "\e609"
}