.pop-box {
  width: 550px;
  position: fixed;
  top: 50%;
  left: 50%;
  //transform: translate(-50%,-50%);
  margin-left: -275px;
  margin-top: -170px;
  z-index: 997;
}

.pop-box .tit {
  height: 50px;
  line-height: 50px;
  color: #666;
  font-size: 16px;
  position: relative;
  padding: 0 30px;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.pop-box .tit .ia-icon-close {
  font-size: 22px;
  color: #b7b7b7;
  cursor: pointer;
  float: right;
  margin-top: 10px;
  margin-right: -20px;
  transition: all 0.3s;
}

.pop-box .tit .ia-icon-close:hover {
  color: $themeColor;
  transform: rotate(360deg);
}

.pop-box .content {
  padding: 30px;
  background: #f9f9f9;
}

.pop-btn {
  margin-top: 25px;
  a.mb-btn {
    display: inline-block;
    border: 1px solid $themeColor;
    border-radius: 4px;
    padding: 0 50px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
  }
}

.tc {
  text-align: center;
}

.bc-blue {
  border: 1px solid $themeColor;

  background: $themeColor;
}

a.l-btn.bc-blue:hover {
  box-sizing: border-box;
  border: 1px solid darken($themeColor, 15%);

  background: darken($themeColor, 8%);
}

.blue {
  color: $themeColor !important;
}

.hide {
  display: none;
}

.pop-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  //background-color: rgba(0,0,0,.7);
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}