@charset "UTF-8";
a,a:hover{text-decoration:none}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
a,body,button,input,select,textarea{font:14px/1.5 tahoma,arial,"microsoft yahei",simsun,sans-serif;color:#333}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ol,ul{list-style:none}
a{outline:0}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-spacing:0;border-collapse:collapse}
article,aside,audio,details,figcaption,figure,footer,header,hgroup,mark,menu,nav,section,summary,time,video{display:block;margin:0;padding:0}
mark{background:#ff0}