@charset "UTF-8";
/*!
 * 单个课程样式
 */
.basebox .base-item {
  /*!
 * 课程标签样式组
 * @type {[type]}
 */
  /*!
 * i课程标签样式
 */ }
  .basebox .base-item a.s-btn, .basebox .base-item a.m-btn, .basebox .base-item a.gs-btn, .basebox .base-item a.gm-btn {
    text-align: center; }
  .basebox .base-item .rotate18 {
    transform: rotate(180deg); }
  .basebox .base-item .rotate9 {
    transform: rotate(-90deg); }
  .basebox .base-item .w120 {
    width: 120px; }
  .basebox .base-item a.btn i, .basebox .base-item a.btn span {
    vertical-align: middle; }
  .basebox .base-item a.btn i {
    margin-right: 5px; }
  .basebox .base-item a.btn:hover {
    text-decoration: none; }
  .basebox .base-item a.s-btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    background: #CA0000;
    color: #fff; }
    .basebox .base-item a.s-btn:hover {
      color: #fff; }
  .basebox .base-item a.m-btn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 3px;
    background: #CA0000;
    color: #fff; }
    .basebox .base-item a.m-btn:hover {
      color: #fff; }
  .basebox .base-item a.gs-btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    background: #b3b3b3;
    color: #fff; }
    .basebox .base-item a.gs-btn:hover {
      background: #4d4d4d;
      color: #fff; }
  .basebox .base-item a.gm-btn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 3px;
    background: #b3b3b3;
    color: #fff; }
    .basebox .base-item a.gm-btn:hover {
      background: #4d4d4d;
      color: #fff; }
  .basebox .base-item .label-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left; }
  .basebox .base-item .label-important, .basebox .base-item .label-warning, .basebox .base-item .label-success, .basebox .base-item .label-info, .basebox .base-item .label-reverse {
    display: inline-block;
    margin-right: 5px;
    padding: 0 10px;
    height: 21px;
    font-size: 12px;
    line-height: 21px;
    vertical-align: middle;
    white-space: nowrap;
    color: #fff;
    background-color: #999;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px; }
  .basebox .base-item .label-important {
    background-color: #ff3434; }
    .basebox .base-item .label-important:hover {
      background-color: #ff3434; }
  .basebox .base-item .label-warning {
    background-color: #c3c3c3; }
    .basebox .base-item .label-warning:hover {
      background-color: #c3c3c3; }
  .basebox .base-item .label-success {
    background-color: #ff8762; }
    .basebox .base-item .label-success:hover {
      background-color: #ff8762; }
  .basebox .base-item .label-info {
    background-color: #CA0000; }
    .basebox .base-item .label-info:hover {
      background-color: #CA0000; }
  .basebox .base-item .label-reverse {
    background-color: #c3c3c3; }
    .basebox .base-item .label-reverse:hover {
      background-color: #c3c3c3; }
  .basebox .base-item .item-label-box {
    position: absolute;
    right: 0;
    bottom: 0; }
  .basebox .base-item i.item-label {
    display: inline-block;
    margin-left: 3px;
    padding: 0 10px;
    height: 21px;
    font-size: 12px;
    font-style: normal;
    line-height: 21px;
    color: #fff;
    background: #8cc951; }
    .basebox .base-item i.item-label.off {
      background: #c3c3c3; }
    .basebox .base-item i.item-label.zd {
      background: #CA0000; }
    .basebox .base-item i.item-label.tj {
      background: #ff3434; }
    .basebox .base-item i.item-label.gk {
      background: #970000; }
    .basebox .base-item i.item-label:hover {
      cursor: default; }
  .basebox .base-item .l {
    float: left;
    position: relative;
    margin-right: 20px; }
  .basebox .base-item .item-label {
    position: absolute;
    top: 0;
    right: 0; }
  .basebox .base-item .item-img,
  .basebox .base-item img {
    width: 240px;
    height: 160px; }
  .basebox .base-item .item-info {
    overflow: hidden;
    margin-left: 260px; }
    .basebox .base-item .item-info .item-name {
      font-size: 20px;
      font-weight: bold;
      color: #333; }
    .basebox .base-item .item-info p.item-desc,
    .basebox .base-item .item-info .item-desc {
      overflow: hidden;
      padding: 10px 0;
      max-height: 124px;
      font-size: 14px;
      line-height: 1.2;
      word-break: break-all;
      color: #666; }
    .basebox .base-item .item-info .item-dd {
      margin-top: 5px;
      color: #999; }

.basebox .base-item a.s-btn, .basebox .base-item a.m-btn, .basebox .base-item a.gs-btn, .basebox .base-item a.gs-btn:hover, .basebox .base-item a.gm-btn, .basebox .base-item a.gm-btn:hover, a.s-btn, a.m-btn, a.gs-btn, a.gs-btn:hover, a.gm-btn, a.gm-btn:hover {
  text-align: center; }

.rotate18 {
  transform: rotate(180deg); }

.rotate9 {
  transform: rotate(-90deg); }

.w120 {
  width: 120px; }

a.btn i, a.btn span {
  vertical-align: middle; }

a.btn i {
  margin-right: 5px; }

a.btn:hover {
  text-decoration: none; }

a.s-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  background: #CA0000;
  color: #fff; }
  a.s-btn:hover {
    color: #fff; }

a.m-btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  background: #CA0000;
  color: #fff; }
  a.m-btn:hover {
    color: #fff; }

a.gs-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  background: #b3b3b3;
  color: #fff; }
  a.gs-btn:hover {
    background: #4d4d4d;
    color: #fff; }

a.gm-btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  background: #b3b3b3;
  color: #fff; }
  a.gm-btn:hover {
    background: #4d4d4d;
    color: #fff; }

.bt-primary,
a.bt-primary, .bt-default,
a.bt-default, .bt-tips,
a.bt-tips, .bt-save,
a.bt-save, .bt-disabled,
a.bt-disabled, .bt-sm,
a.bt-sm, .bt-md,
a.bt-md, .bt-lg,
a.bt-lg {
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
  padding: 0 15px;
  cursor: pointer; }

.bt-primary,
a.bt-primary {
  border-color: #b10000;
  color: #fff;
  background: #CA0000;
  transition: all .3s; }
  .bt-primary:hover,
  a.bt-primary:hover {
    text-decoration: none;
    color: #fff;
    background: #b10000; }

.bt-default,
a.bt-default {
  border-color: #d8d8d8;
  color: #333;
  background: #e5e5e5;
  transition: all .3s; }
  .bt-default:hover,
  a.bt-default:hover {
    text-decoration: none;
    color: #333;
    background: #d8d8d8; }

.bt-tips,
a.bt-tips {
  border-color: #e65c00;
  color: #fff;
  background: #f60;
  transition: all .3s; }
  .bt-tips:hover,
  a.bt-tips:hover {
    text-decoration: none;
    color: #fff;
    background: #e65c00; }

.bt-save,
a.bt-save {
  border-color: #7fc33e;
  color: #fff;
  background: #8cc951;
  transition: all .3s; }
  .bt-save:hover,
  a.bt-save:hover {
    text-decoration: none;
    color: #fff;
    background: #7fc33e; }

.bt-disabled,
a.bt-disabled {
  border-color: #8c8c8c;
  color: #fff;
  background: #999;
  transition: all .3s; }
  .bt-disabled:hover,
  a.bt-disabled:hover {
    text-decoration: none;
    color: #fff;
    background: #8c8c8c; }

.bt-sm,
a.bt-sm {
  padding: 0 15px;
  height: 28px;
  line-height: 28px; }

.bt-md,
a.bt-md {
  padding: 0 20px;
  height: 32px;
  line-height: 32px; }

.bt-lg,
a.bt-lg {
  padding: 0 25px;
  height: 36px;
  line-height: 36px; }

.bt-group [class^="bt-"] + [class^="bt-"] {
  margin-left: 20px; }

.basebox .base-item a.s-btn, .basebox .base-item a.m-btn, .basebox .base-item a.gs-btn, .basebox .base-item a.gs-btn:hover, .basebox .base-item a.gm-btn, .basebox .base-item a.gm-btn:hover, a.s-btn, a.m-btn, a.gs-btn, a.gs-btn:hover, a.gm-btn, a.gm-btn:hover {
  text-align: center; }

.rotate18 {
  transform: rotate(180deg); }

.rotate9 {
  transform: rotate(-90deg); }

.w120 {
  width: 120px; }

a.btn i, a.btn span {
  vertical-align: middle; }

a.btn i {
  margin-right: 5px; }

a.btn:hover {
  text-decoration: none; }

a.s-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  background: #CA0000;
  color: #fff; }
  a.s-btn:hover {
    color: #fff; }

a.m-btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  background: #CA0000;
  color: #fff; }
  a.m-btn:hover {
    color: #fff; }

a.gs-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  background: #b3b3b3;
  color: #fff; }
  a.gs-btn:hover {
    background: #4d4d4d;
    color: #fff; }

a.gm-btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  background: #b3b3b3;
  color: #fff; }
  a.gm-btn:hover {
    background: #4d4d4d;
    color: #fff; }

.banner-header {
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 0 10px 5px;
  box-shadow: 4px 0 0 #fff,-4px 0 0 #fff,0 2px 5px #ddd;
  *zoom: 1; }
  .banner-header:before, .banner-header:after {
    content: "";
    display: table; }
  .banner-header:after {
    clear: both;
    overflow: hidden; }
  .banner-header:before {
    display: inline-block;
    margin-right: 10px;
    border: 2px solid #CA0000;
    border-radius: 50%;
    width: 10px;
    height: 10px; }
  .banner-header h2 {
    display: inline-block;
    font-size: 18px;
    font-weight: bold; }
  .banner-header a:hover {
    text-decoration: none; }
  .banner-header a.btn,
  .banner-header button {
    float: right;
    margin-right: 5px;
    vertical-align: bottom; }
    .banner-header a.btn:hover,
    .banner-header button:hover {
      text-decoration: none; }

.tool-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  border-top: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px 20px 12px 230px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 2px 2px #ddd; }
  .tool-footer a.btn,
  .tool-footer button {
    margin-left: 20px; }
    .tool-footer a.btn.left,
    .tool-footer button.left {
      float: left; }
    .tool-footer a.btn.right,
    .tool-footer button.right {
      float: right; }

.message-tip {
  position: absolute;
  padding: 0px 10px;
  color: #b94a48;
  background: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  line-height: 30px; }
  .message-tip.left {
    margin-left: 30px;
    background: #eee;
    top: 5px;
    left: 40px; }
    .message-tip.left:after {
      top: 8px;
      left: -15px;
      bottom: auto;
      border-width: 8px;
      border-color: transparent #eee transparent transparent; }
  .message-tip:after {
    content: "";
    position: absolute;
    left: 30px;
    bottom: -10px;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #eee transparent;
    display: block;
    width: 0; }

form input:disabled, form textarea:disabled {
  cursor: default; }

.box {
  margin: 10px; }

.pos_r {
  position: relative; }

.switch-btn {
  position: absolute;
  left: 200px;
  top: 15px; }
  .switch-btn label {
    display: inline-block;
    cursor: pointer; }

.hide {
  display: none; }

.hidden {
  visibility: hidden; }

.show {
  display: block; }

.fl {
  float: left; }

.fr {
  float: right; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after, .cl {
  clear: both; }

.cf {
  zoom: 1; }

i {
  font-style: normal; }

.fs12 {
  font-size: 12px; }

.fs14 {
  font-size: 14px; }

.fs16 {
  font-size: 16px; }

.fs18 {
  font-size: 18px; }

.fs20 {
  font-size: 20px; }

.fs24 {
  font-size: 24px; }

.fb {
  font-weight: bold; }

.red {
  color: red;
  font-weight: bold; }

.box .box-content {
  padding: 10px 0px; }

.fr-box {
  margin-bottom: 10px;
  font-size: 14px; }
  .fr-box span {
    display: inline-block;
    width: 125px;
    text-align: right;
    font-weight: bold;
    margin-right: 10px; }
  .fr-box .fr-text {
    float: left;
    width: 550px;
    color: #666; }

.label-box {
  width: 300px;
  float: left; }
  .label-box .tit {
    margin-left: 53px; }
    .label-box .tit input {
      veralign: middle;
      display: inline-block; }
    .label-box .tit span {
      veralign: middle;
      margin-left: 5px;
      display: inline-block; }
  .label-box li {
    height: 40px;
    line-height: 40px;
    display: block;
    *zoom: 1; }
    .label-box li .label-l {
      display: inline-block;
      text-align: right;
      margin-right: 5px;
      font-weight: bold; }
    .label-box li .label-r {
      width: 210px;
      display: inline-block;
      color: #666;
      position: relative; }
      .label-box li .label-r input {
        height: 26px;
        border-radius: 3px;
        display: inline-block;
        width: 60px;
        margin-right: 5px;
        veralign: middle;
        padding: 0 10px; }
      .label-box li .label-r select {
        height: 26px;
        border-radius: 3px;
        display: inline-block;
        width: 80px;
        margin-right: 5px;
        veralign: middle; }
      .label-box li .label-r span {
        display: inline-block;
        veralign: middle; }
    .label-box li:before, .label-box li:after {
      content: "";
      display: table; }
    .label-box li:after {
      clear: both;
      overflow: hidden; }

.label-tip {
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid #c2c2c2;
  width: 500px;
  min-height: 250px; }
  .label-tip li .label-r {
    width: auto;
    text-align: right; }

.item-img {
  width: 242px;
  height: 160px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: #1ECBD6;
  position: relative;
  margin-right: 20px; }
  .item-img img {
    width: 100%;
    height: 100%; }
  .item-img ul.course-status-label {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0; }
    .item-img ul.course-status-label .label {
      background-color: #999;
      border-radius: 3px;
      color: #fff;
      display: inline;
      font-size: 14px;
      font-weight: bold;
      line-height: 10px;
      padding: 1px 4px 2px;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      vertical-align: middle;
      white-space: nowrap; }
    .item-img ul.course-status-label .label:hover {
      color: #fff;
      text-decoration: none; }
    .item-img ul.course-status-label .label.label-important {
      background-color: #b94a48; }
    .item-img ul.course-status-label .label.label-important:hover {
      background-color: #953b39; }
    .item-img ul.course-status-label .label.label-warning {
      background-color: #f89406; }
    .item-img ul.course-status-label .label.label-warning:hover {
      background-color: #c67605; }
    .item-img ul.course-status-label .label.label-success {
      background-color: #61a7ed; }
    .item-img ul.course-status-label .label.label-success:hover {
      background-color: #51a7ae; }
    .item-img ul.course-status-label .label.label-info {
      background-color: #3a87ad; }
    .item-img ul.course-status-label .label.label-info:hover {
      background-color: #2d6987; }
    .item-img ul.course-status-label .label.label-inverse {
      background-color: #333; }
    .item-img ul.course-status-label .label.label-inverse:hover {
      background-color: #1a1a1a; }

.course-item .item-desc {
  float: left;
  max-width: 600px;
  padding: 10px; }
  .course-item .item-desc .item-detail {
    max-height: 120px;
    overflow: hidden;
    padding: 10px 0; }

.course-item .item-desc h2 {
  display: inline;
  font-size: 22px; }

.course-item .item-desc small {
  margin-left: 20px; }
