// 整体结构
.user__selector-layout {
    width: 100%;
    height: 100%;
    padding: 40px 12px 30px;
    .u__content {
        min-height: 400px;
        height: 690px;
        .u__box-group {
            position: relative;
            height: 100%;
            .u__btn-group {
                width: 80px;
                padding: 15px;
                position: absolute;
                left: 50%;
                margin-left: -40px;
                top: 35%;
                button {
                    width: 50px;
                    margin: 6px 0;
                    letter-spacing: 0;
                    box-sizing: border-box;
                }
            }
            .u__box-g-i {
                width: 50%;
                height: inherit;
                float: left;
            }
            .u__box-g-l {
                padding-right: 40px;
            }
            .u__box-g-r {
                padding-left: 40px
            }
        }
        .u__box {
            height: 100%;
            border-color: #ccc;
            .u__header {
                font-size: 16px;
                height: 50px;
                padding: 15px 20px 10px;
                a {
                    font-size: 14px;
                    float: right;
                    color: #08c;
                }
            }
            .u__filter {
                height: 40px;
                position: relative;
                input {
                    width: 100%;
                    height: 100%;
                    padding: 4px 60px 4px 16px;
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    border-left: none;
                    border-right: none;
                    border-radius: 0px;
                    outline: none;
                }
                .u__search {
                    position: absolute;
                    right: 9px;
                    top: 4px;
                }
            }
            .u__body {
                &.u__list {
                    width: 100%;
                    height: 100%;
                    padding: 0 0 90px;
                    .u__list-layout {
                        width: 100%;
                        height: 100%;
                        padding: 14px 16px;
                        .u__item {
                            position: relative;
                            cursor: pointer;
                            height: 40px;
                            padding: 0 12px;
                            line-height: 40px;
                        }
                        .u__item-focus {
                            background: $themeColor;
                        }
                        .u__item-text {
                            margin-left: 30px;
                            display: block;
                            @extend %tof;
                        }
                        .u__avatar {
                            position: absolute;
                            margin-top: 8px;
                            display: inline-block;
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
                padding: 12px;
                display: inline-block;
                .u__tree-selector-component {}
                .u__tree-notfound {
                    @extend %vm-css3;
                    padding: 10px 0;
                    text-align: center;
                    font-size: 16px;
                }
            }
        }
    }
}