html, body {
    background: #ebebeb;
}
.wrapper {
    padding: 40px 0 60px;
}
.certificate {
    width: 850px;
    margin: 0 auto;
    padding: 50px;
    background: #fff;
}

.certificate h1 {
    font: bold 36px/56px "宋体";
    color: #333;
    text-align: center;
}

.certificate h2 {
    font: 22px/42px "宋体";
    color: #333;
    text-align: center;
}

.certificate .table th {
    line-height: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.sign {
    overflow: hidden;
    min-height: 120px;
}