$themeColor: #38adff;
$btnhover: lighten($themeColor, 5%);
$iconfont-path: "../";

$blue:                   #38adff;
$main:                  $blue;
$main-light:            #52b8ff;
$main-dark:             #1e9af1;