.opencourse-yunke-detail {
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  z-index: 103;
  $header-height: 70px;
  .cc-dlg-header {
    height: $header-height;
  }
  .cc-dlg-body {
    top: $header-height;
    bottom: 0;
  } // 详情
  .course-detail {
    padding: 20px 50px;
    td,
    th {
      padding: 8px;
      vertical-align: top;
      font-size: 14px;
      min-width: 100px;
      word-break: break-all;
      word-wrap: break-word;
    }
    th {
      text-align: right;
      color: #999;
    }
    img {
      border: 1px solid #eee;
    }
  }
}
