@font-face{font-family:platform_dev;src:url(../../../fonts/platform_dev.eot?ba2mlv);src:url(../../../fonts/platform_dev.eot?ba2mlv#iefix) format("embedded-opentype"),url(../../../fonts/platform_dev.ttf?ba2mlv) format("truetype"),url(../../../fonts/platform_dev.woff?ba2mlv) format("woff"),url(../../../fonts/platform_dev.svg?ba2mlv#platform_dev) format("svg");font-weight:400;font-style:normal}
[class*=" pd-icon-"],[class^=pd-icon-]{font-family:platform_dev!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.pd-icon-add:before{content:"\e900"}
.pd-icon-min:before{content:"\e901"}
.pd-icon-search:before{content:"\e902"}
.pd-icon-phone:before{content:"\e903"}
.pd-icon-rarrow:before{content:"\e904"}
.pd-icon-larrow:before{content:"\e905"}
.pd-icon-rsj:before{content:"\e906"}
.pd-icon-dsj:before{content:"\e907"}
.pd-icon-view:before{content:"\e908"}
.pd-icon-user2:before{content:"\e909"}
.pd-icon-close:before{content:"\e90a"}
.pd-icon-play:before{content:"\e90b"}
.pd-icon-star2:before{content:"\e90c"}
.pd-icon-star1:before{content:"\e90d"}
.pd-icon-darrow:before{content:"\e90e"}
.pd-icon-uparrow:before{content:"\e90f"}
.pd-icon-question:before{content:"\e910"}
.pd-icon-document:before{content:"\e911"}
.pd-icon-study:before{content:"\e912"}
.pd-icon-sort:before{content:"\e913"}
.pd-icon-halfstar:before{content:"\e914"}
.pd-icon-study2:before{content:"\e915"}
.pd-icon-exam2:before{content:"\e916"}
.pd-icon-note2:before{content:"\e917"}
.pd-icon-answer2:before{content:"\e918"}
.pd-icon-auth2:before{content:"\e919"}
.pd-icon-sort2:before{content:"\e91a"}
.pd-icon-check-yes:before{content:"\e91b"}
.pd-icon-radio:before{content:"\e91c"}
.pd-icon-gz:before{content:"\e91d"}
.pd-icon-mic:before{content:"\e91e"}
.pd-icon-finish:before{content:"\e91f"}
.pd-icon-half:before{content:"\e920"}
.pd-icon-star:before{content:"\e921"}
.pd-icon-write:before{content:"\e922"}
.pd-icon-share:before{content:"\e923"}
.pd-icon-circle:before{content:"\e924"}
.pd-icon-url:before{content:"\e925"}
.pd-icon-book:before{content:"\e926"}
.pd-icon-review:before{content:"\e927"}
.pd-icon-lg-locked:before{content:"\e928"}
.pd-icon-vide:before{content:"\e929"}
.pd-icon-collection:before{content:"\e92a"}
.pd-icon-pic:before{content:"\e92b"}
.pd-icon-doc:before{content:"\e92c"}
.pd-icon-txt:before{content:"\e92d"}
.pd-icon-music:before{content:"\e92e"}
.pd-icon-locked:before{content:"\e92f"}
.pd-icon-dy:before{content:"\e930"}
.pd-icon-catalog:before{content:"\e931"}
.pd-icon-vr:before{content:"\e932"}
.pd-icon-fail:before{content:"\e933"}
.pd-icon-success:before{content:"\e934"}
.pd-icon-compass2:before{content:"\e94a"}
.pd-icon-bubble:before{content:"\e96b"}
.pd-icon-bubbles:before{content:"\e96c"}
.pd-icon-bubbles2:before{content:"\e96d"}
.pd-icon-bubble2:before{content:"\e96e"}
.pd-icon-bubbles3:before{content:"\e96f"}
.pd-icon-bubbles4:before{content:"\e970"}
.pd-icon-user:before{content:"\e971"}
.pd-icon-users:before{content:"\e972"}
.pd-icon-user-plus:before{content:"\e973"}
.pd-icon-user-minus:before{content:"\e974"}
.pd-icon-user-check:before{content:"\e975"}
.pd-icon-user-tie:before{content:"\e976"}
.pd-icon-cog:before{content:"\e994"}
.pd-icon-cloud:before{content:"\e9c1"}
.pd-icon-link:before{content:"\e9cb"}
.pd-icon-circle-up:before{content:"\ea41"}
.pd-icon-circle-right:before{content:"\ea42"}
.pd-icon-circle-down:before{content:"\ea43"}
.pd-icon-circle-left:before{content:"\ea44"}
.pd-icon-checkbox-checked:before{content:"\ea52"}
.pd-icon-checkbox-unchecked:before{content:"\ea53"}
.pd-icon-radio-checked:before{content:"\ea54"}
.pd-icon-radio-checked2:before{content:"\ea55"}
.pd-icon-radio-unchecked:before{content:"\ea56"}
.pd-icon-safari:before{content:"\eadd"}
input[disabled],input[readonly],select[disabled],select[readonly],textarea[disabled],textarea[readonly]{background-color:#eee;border-color:#ddd;cursor:not-allowed}
input[readonly],select[readonly],textarea[readonly]{cursor:default}