@charset "UTF-8";
code,kbd,samp,sub,sup,tt{font-size:100%}
:link,:visited,a:hover,ins{text-decoration:none}
:focus,a.hidefocus,a:focus{outline:0}
h3,h5{line-height:2}
blockquote,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,optgroup,strong,th,var{font-style:normal;font-weight:400}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;font-family:"Microsoft YaHei"}
abbr,acronym{border:0;font-variant:normal}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sub,sup{vertical-align:baseline}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a:link,a:visited{color:#333}
a:active{color:#666}
a:hover{color:#38adff}
pre{font-family:inherit;word-break:break-all;word-wrap:break-word;white-space:pre-wrap}
.hide{display:none}
.hidden{visibility:hidden}
.show{display:block}
.fl{float:left}
.fr{float:right}
.tc{text-align:center}
.tl{text-align:left}
.tr{text-align:right}
.cf:after,.cf:before{content:"";display:table}
.cf:after,.cl{clear:both}
.cf{zoom:1}
button.hidefocus::-moz-focus-inner{border:none}
a:focus{-moz-outline:none}
input,textarea{outline:0}
h2{font-size:20px}
h3{font-size:16px}
h5{font-size:14px}
.item-list{width:1240px;margin-left:-20px}
.item-list .item-box{float:left;box-shadow:0 0 1px 0 #eee;-o-box-shadow:0 0 1px 0 #eee;-ms-box-shadow:0 0 1px 0 #eee;-moz-box-shadow:0 0 1px 0 #eee;-webkit-box-shadow:0 0 1px 0 #eee;padding:10px;text-align:center;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;background:#fff;width:250px;position:relative;-webkit-transition:box-shadow .3s ease 0s;transition:box-shadow .3s ease 0s;margin:0 20px 40px}
.item-list .item-box:hover{box-shadow:0 0 4px 2px #eee inset,0 0 4px 2px #eee;-moz-box-shadow:0 0 4px 2px #eee inset,0 0 4px 2px #eee;-webkit-box-shadow:0 0 4px 2px #eee inset,0 0 4px 2px #eee;-ms-box-shadow:0 0 4px 2px #eee inset,0 0 4px 2px #eee;-o-box-shadow:0 0 4px 2px #eee inset,0 0 4px 2px #eee}
.item-box .item-img img{width:100%;height:160px}
.item-box .item-corner{position:absolute;top:10px;right:10px;width:50px;height:50px;z-index:999}
.item-box .item-corner.pass{background:url(../oldimg/icon-pass.png) no-repeat}
.item-box .item-corner.nopass{background:url(../oldimg/icon-nopass.png) no-repeat}
.item-list .item-desc{position:relative;vertical-align:top}
.item-desc .item-title{text-align:left;padding-left:5px;font-size:16px;font-weight:700}
.item-desc .item-title span.ellipsis{display:block;width:180px}
.item-desc .item-title a{color:#3F98D2;width:180px;transition:color .3s;-webkit-transition:color .3s;-o-transition:color .3s;-ms-transition:color .3s;-moz-transition:color .3s;text-overflow:ellipsis}
.item-desc .item-title a:hover{color:#b00;text-decoration:underline}
.item-desc .item-label{padding:2px 5px;height:26px;line-height:26px}
.item-desc .item-label span{font-size:12px;display:block}
.item-desc .item-label span.absolute{position:absolute;right:5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.item-desc .item-label span.absolute.left{position:absolute;left:5px;right:auto}
.item-desc .item-label span.first{top:0}
.n-exambtn a[class^=ui-button-],.ui-dialog-buttonset a.ui-button-b{margin-top:10px;display:inline-block;vertical-align:middle;padding:0 10px;background:#ccc;border-radius:3px}
.n-exambtn a.ui-button-d{cursor:default}
.n-exambtn a.ui-button-d:hover{color:#333}
.n-exambtn a.ui-button-b{background:#38adff!important;color:#fff;cursor:pointer}
.n-exambtn a.ui-button-b:hover{background:#0096FF;color:#fff}
.ctrl-ft a.ui-button-f span{color:#333}
.pagination-box{margin-bottom:30px}
.pagination-box .pagination{text-align:center;position:inherit}
.pagination-box .pagination:after{content:"";display:block;height:0;clear:both}
.pagination-box .pagination a,.pagination-box .pagination span{display:inline-block;float:left;margin-right:10px;border-radius:2px;padding:0 18px;height:37px;line-height:37px;background:#ddd}
.pagination-box .pagination a:hover,.pagination-box .pagination span{background:#38adff;color:#fff}
.pagination-box .pagination .prev{width:80px;margin:0 10px 0 0}
.pagination-box .pagination .next{width:80px;margin:0 0 0 10px}
.pagination-box .pagination span.current{border-color:#38adff;background:#38adff;color:#fff}
.pagination-box .page-input{display:inline-block;margin:0 0 0 40px;color:grey;font-size:14px;vertical-align:middle;float:right}
.pagination-box .page-input input{width:46px;height:21px;line-height:21px;margin:0 5px;padding:7px 5px;border:1px solid #d8d8d8;outline:0;vertical-align:middle;border-radius:3px}
.pagination-box .page-input input:focus{border-color:#38adff}
.pagination-box .page-input input.select-page-btn{width:58px;height:36px;border:1px solid #d8d8d8;background:#fff;color:grey}
.pagination-box .page-input input.select-page-btn:active{border-color:#d8d8d8;outline-color:#d8d8d8}
.pagination-box .page-input input.select-page-btn:hover{color:#fff;cursor:pointer;background:#38adff;border:1px solid #38adff}
.pagination-box .pagination-info{margin:24px 0 0;font-size:14px}
.pagination-box .pull-left{float:left}
.pagination-box .pull-right{float:right}
.left-list .item-list{width:880px;margin-left:15px;padding-bottom:30px}
.left-list .item-list .item-box{width:233px;margin:30px 15px 0;box-shadow:0 0 2px 1px #eee inset,0 0 2px 1px #eee;height:266px}
.left-list .item-list .item-box:hover{box-shadow:0 0 4px 2px #eee inset,0 0 4px 2px #eee}
.left-list .item-box{width:880px;margin-left:15px;padding-bottom:30px}
.left-list .item-box li{width:253px;margin:30px 15px 0;box-shadow:0 15px 15px rgba(0,0,0,.1)}
.left-list .item-box li .item-img{width:253px;height:169px}
.left-list .pro-tit{margin:30px 0 0 30px}
.left-list .pro-tit span{font-size:20px;padding:0 10px}
@font-face{font-family:elearning;src:url(../../fonts/elearning.eot?4rzqfm);src:url(../../fonts/elearning.eot?4rzqfm#iefix) format("embedded-opentype"),url(../../fonts/elearning.ttf?4rzqfm) format("truetype"),url(../../fonts/elearning.woff?4rzqfm) format("woff"),url(../../fonts/elearning.svg?4rzqfm#elearning) format("svg");font-weight:400;font-style:normal}
[class*=" icon-"],[class^=icon-]{font-family:elearning;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;vertical-align:middle;display:inline-block;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
[class*=" icon-"]:before,[class^=icon-]:before{display:inline-block}
.icon-add:before{content:"\e900"}
.icon-min:before{content:"\e901"}
.icon-search:before{content:"\e902"}
.icon-phone:before{content:"\e903"}
.icon-rarrow:before{content:"\e904"}
.icon-larrow:before{content:"\e905"}
.icon-rsj:before{content:"\e906"}
.icon-dsj:before{content:"\e907"}
.icon-view:before{content:"\e908"}
.icon-user:before{content:"\e909"}
.icon-close:before{content:"\e90a"}
.icon-play:before{content:"\e90b"}
.icon-star2:before{content:"\e90c"}
.icon-star1:before{content:"\e90d"}
.icon-darrow:before{content:"\e90e"}
.icon-uparrow:before{content:"\e90f"}
.icon-question:before{content:"\e910"}
.icon-document:before{content:"\e911"}
.icon-study:before{content:"\e912"}
.icon-sort:before{content:"\e913"}
.icon-halfstar:before{content:"\e914"}
.icon-study2:before{content:"\e915"}
.icon-exam2:before{content:"\e916"}
.icon-note2:before{content:"\e917"}
.icon-answer2:before{content:"\e918"}
.icon-auth2:before{content:"\e919"}
.icon-sort2:before{content:"\e91a"}
.icon-check-yes:before{content:"\e91b"}
.icon-radio:before{content:"\e91c"}
.icon-gz:before{content:"\e91d"}
.x-project-rank body,.x-project-rank html{box-sizing:border-box;font:14px/1.5 "Microsoft Yahei","Hiragino Sans GB",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif;color:#333}
.x-project-rank em,.x-project-rank i{font-style:normal}
.x-project-rank body{overflow-y:scroll;position:relative;box-sizing:border-box;padding-bottom:157px;min-width:1200px;background-color:#f2f2f2}
.x-project-rank [data-render]{display:none}
.x-project-rank .boxs{box-shadow:0 1px 5px 1px #ccc}
.x-project-rank .vm{vertical-align:middle}
.x-project-rank .vb{vertical-align:bottom}
.x-project-rank .ovh{overflow:hidden}
.x-project-rank .icon-m i{margin-right:8px}
.x-project-rank .lh1{line-height:1}
.x-project-rank .ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.x-project-rank .nodata{min-height:300px;line-height:200px;text-align:center}
.x-project-rank .mt20{margin-top:20px!important}
.x-project-rank .ml20{margin-left:20px}
.x-project-rank .mr20{margin-right:20px}
.x-project-rank .mb20{margin-bottom:20px}
.x-project-rank .mb30{margin-bottom:30px!important}
.x-project-rank .mt30{margin-top:30px!important}
.x-project-rank .mb40{margin-bottom:40px!important}
.x-project-rank .mtb15{margin:15px 0}
.x-project-rank .mtb10{margin:10px 0}
.x-project-rank .pd15{padding:15px}
.x-project-rank .pos_r{position:relative}
.x-project-rank .pos_a{position:absolute}
.x-project-rank .bc-f2{background:#f2f2f2}
.x-project-rank .bc-c5{background:#c5c5c5}
.x-project-rank .bc-f{background:#fff}
.x-project-rank .bc-blue{border:1px solid #38adff;background:#38adff}
.x-project-rank .bc-o{background:#f60}
.x-project-rank .bc-transparent{background-color:rgba(0,0,0,.3)}
.x-project-rank .blue{color:#38adff!important}
.x-project-rank .fc3{color:#333!important}
.x-project-rank .fc6{color:#666!important}
.x-project-rank .fc9{color:#999!important}
.x-project-rank .white{color:#fff}
.x-project-rank .fs12{font-size:12px!important}
.x-project-rank .fs13{font-size:13px!important}
.x-project-rank .fs14{font-size:14px!important}
.x-project-rank .fs16{font-size:16px!important}
.x-project-rank .fs18{font-size:18px!important}
.x-project-rank .fs20{font-size:20px!important}
.x-project-rank .fs24{font-size:24px!important}
.x-project-rank a.s-btn{display:inline-block;padding:0 20px;height:30px;line-height:30px;color:#fff}
.x-project-rank a.mb-btn{display:inline-block;border:1px solid #38adff;border-radius:4px;padding:0 50px;height:40px;font-size:18px;line-height:40px;color:#fff}
.x-project-rank a.l-btn{display:inline-block;box-sizing:border-box;border-radius:4px;padding:0 65px;height:50px;font-size:22px;line-height:50px;color:#fff}
.x-project-rank a.l-btn.bc-blue:hover{box-sizing:border-box;border:1px solid #008aeb;background:#0f9cff}
.x-project-rank .s-img,.x-project-rank .side-pro .s-img{width:80px;height:54px}
.x-project-rank a.l-btn.bc-o:hover{background:#e35b00}
.x-project-rank a.l-btn.blue:hover{background:rgba(56,173,255,.9);box-shadow:0 1px 3px 1px #ccc}
.x-project-rank .borb{border-bottom:1px solid #d8d8d8}
.x-project-rank .bor{border:1px solid #d8d8d8}
.x-project-rank .box-flex{display:-webkit-flex;display:-webkit-box;display:-ms-flexbox;display:flex}
.x-project-rank .flex-one{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1}
.x-project-rank .flex-two{-webkit-box-flex:2;-moz-box-flex:2;-ms-box-flex:2;-o-box-flex:2;box-flex:2}
.x-project-rank .w{width:100%}
.x-project-rank .wrap{margin:0 auto;width:1200px}
.x-project-rank .container{margin:0 auto 30px;width:1200px;min-height:540px}
.x-project-rank .col-center{float:left;width:880px}
.x-project-rank .col-right{float:right;width:300px}
.x-project-rank .s-u-pic,.x-project-rank .s-u-pic img{display:inline-block;border-radius:50%;width:30px;height:30px}
.x-project-rank .m-u-pic{display:inline-block;border-radius:50%;width:40px;height:40px}
.x-project-rank .l-u-pic{display:inline-block;border-radius:50%;width:50px;height:50px}
.x-project-rank .tip-icon{display:inline-block;width:18px;height:10px;background:url(../newimages/tip-icon.png) center no-repeat}
.x-project-rank .break{display:block;word-break:break-all}
.x-project-rank .header a:hover{color:#fff}
.x-project-rank .header{border-bottom:1px solid #0096ff;height:70px;background:#38adff}
.x-project-rank .header .logo{display:inline-block;float:left;margin-top:15px}
.x-project-rank .header .logo img{max-width:204px;height:40px}
.x-project-rank .header .main-nav{float:left;margin-left:55px;line-height:69px}
.x-project-rank .header .main-nav a{display:inline-block;padding:0 18px;height:70px;font-size:16px;line-height:70px;color:#fff;position:relative;float:left}
.x-project-rank .header .main-nav a:after{content:"";height:2px;width:100%;background:#38adff;position:absolute;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transition:-webkit-transform .1s;transition:-webkit-transform .1s;transition:transform .1s;transition:transform .1s,-webkit-transform .1s;bottom:0;left:0;-webkit-transform-origin:50% 50%;transform-origin:50% 50%}
.x-project-rank .header .main-nav a.on:after,.x-project-rank .header .main-nav a:hover:after{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1);-webkit-transition-timing-function:cubic-bezier(.22,.61,.36,1);transition-timing-function:cubic-bezier(.22,.61,.36,1);-webkit-transition-duration:.4s;transition-duration:.4s;font-weight:700;color:#fff;background:#fff}
.x-project-rank .header .top-link{float:right}
.x-project-rank .header .top-link .logined.link-a{position:relative}
.x-project-rank .header .top-link .logined .user-list a:hover{color:#38adff}
.x-project-rank .header .top-link .logined .user-nav{display:none;position:absolute;top:70px;right:-10px;z-index:99;border:1px solid #d2d2d2;padding:15px;width:130px;line-height:1.5;background:#fff}
.x-project-rank .header .logined .user-info{padding-bottom:15px}
.x-project-rank .header .logined .user-info img{vertical-align:middle}
.x-project-rank .header .logined .user-info .user-name{display:inline-block;overflow:hidden;margin-left:10px;width:70px;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis;color:#333}
.x-project-rank .header .logined .user-nav .user-list a{display:block;border-bottom:1px dotted #d2d2d2;height:36px;line-height:36px}
.x-project-rank .header .logined .user-nav .tip-icon{position:absolute;top:-10px;right:16px}
.x-project-rank .search-wrapper{float:left;position:relative;margin-top:17px}
.x-project-rank .search-wrapper .input-holder{height:36px;background:rgba(255,255,255,0);border-radius:6px;position:relative;width:36px;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;overflow:hidden}
.x-project-rank .search-wrapper.active .input-holder{border-radius:30px;width:222px;background:#fff;-webkit-transition:all .5s cubic-bezier(0,.105,.035,1.57);transition:all .5s cubic-bezier(0,.105,.035,1.57);border:1px solid #fff;overflow:visible}
.x-project-rank .search-wrapper.active .input-holder .searchinput{width:100%;height:100%;padding:0 36px 0 20px}
.x-project-rank .search-wrapper .input-holder .searchinput{width:36px;height:36px;padding:0;position:absolute;top:0;left:0;background:0 0;box-sizing:border-box;border:none;outline:0;font-weight:400;line-height:20px;color:#666;-webkit-transition-delay:.2s;transition-delay:.2s;display:inline-block}
.x-project-rank .search-wrapper .input-holder .search-icon{width:36px;height:36px;line-height:36px;border:none;border-radius:6px;background:#38adff;padding:0;outline:0;position:relative;z-index:2;float:right;cursor:pointer;text-align:center;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;display:block}
.x-project-rank .search-wrapper .input-holder .search-icon i{color:#fff;vertical-align:middle;font-size:16px}
.x-project-rank .search-wrapper.active .input-holder .search-icon{width:30px;height:30px;line-height:30px;margin:3px;border-radius:30px;background:#fff}
.x-project-rank .search-wrapper.active .input-holder .search-icon i{color:#38adff}
.x-project-rank .search-wrapper .input-holder .search-icon span{width:22px;height:22px;display:inline-block;vertical-align:middle;position:relative;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:all .4s cubic-bezier(.65,-.6,.24,1.65);transition:all .4s cubic-bezier(.65,-.6,.24,1.65)}
.x-project-rank .search-wrapper.active .input-holder .search-icon span{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.x-project-rank .search-wrapper .input-holder .search-icon span::after,.x-project-rank .search-wrapper .input-holder .search-icon span::before{position:absolute;content:''}
.x-project-rank .search-wrapper .input-holder .search-icon span::before{width:4px;height:11px;left:9px;top:18px;border-radius:2px;background:#974BE0}
.x-project-rank .search-wrapper .input-holder .search-icon span::after{width:14px;height:14px;left:0;top:0;border-radius:16px;border:4px solid #974BE0}
.x-project-rank .search-wrapper .close{position:absolute;z-index:1;top:5px;right:5px;width:25px;height:25px;line-height:25px;text-align:center;cursor:pointer;opacity:0;-webkit-transition:all .3s cubic-bezier(.285,-.45,.935,.11);transition:all .3s cubic-bezier(.285,-.45,.935,.11);-webkit-transition-delay:.2s;transition-delay:.2s}
.x-project-rank .search-wrapper .close i{color:#333;font-size:16px;vertical-align:baseline;font-weight:700}
.x-project-rank .search-wrapper.active .close{right:-25px;opacity:1;-webkit-transform:rotate(90deg);transform:rotate(90deg);-webkit-transition:all .6s cubic-bezier(0,.105,.035,1.57);transition:all .6s cubic-bezier(0,.105,.035,1.57);-webkit-transition-delay:.3s;transition-delay:.3s}
.x-project-rank .search-wrapper .result-container{width:100%;position:absolute;top:80px;left:0;text-align:center;font-family:"Open Sans",Arial,Verdana;font-size:14px;display:none;color:#B7B7B7}
.x-project-rank .link-mobile:target .link-down{display:block}
.x-project-rank .link-mobile{position:relative}
.x-project-rank .link-mobile .link-down{display:none;position:absolute;top:71px;left:-115px;z-index:100;border:1px solid #d2d2d2;padding:20px;width:260px;background:#fff}
.x-project-rank .link-mobile .link-down i.tip-icon{position:absolute;top:-10px;left:calc(50% - 8px);z-index:101}
.x-project-rank .link-mobile .link-down .link-code{display:inline-block;float:left;width:120px;height:120px}
.x-project-rank .link-mobile .link-down .down-r{float:right;width:120px;line-height:1.5}
.x-project-rank .link-mobile .link-down .down-r p{line-height:2.8}
.x-project-rank .link-mobile .link-down .down-r a.dbtn{display:inline-block;margin-top:10px;border-radius:4px;padding:0 15px;width:90px;height:30px;line-height:30px;color:#fff;background:#38adff}
.x-project-rank .link-mobile .link-down .down-r a.dbtn.off{background:#c5c5c5}
.x-project-rank .link-mobile .link-down .down-r a.dbtn.off:hover{text-decoration:none;background:#c5c5c5;cursor:not-allowed}
.x-project-rank .link-mobile .link-down .down-r a.dbtn:hover{text-decoration:none;background:#0598ff;cursor:pointer}
.x-project-rank .link-mobile .link-down .down-r a.dbtn i{display:inline-block;margin-right:5px;width:16px;height:16px;background:url(../../images/icon-down.png) no-repeat}
.x-project-rank .link-mobile .link-down .down-r a.dbtn i.icon-apple{background-position:0 0}
.x-project-rank .link-mobile .link-down .down-r a.dbtn i.icon-android{background-position:0 -30px}
.x-project-rank .header .top-link .link-a{float:left;position:relative;margin-left:30px;line-height:70px}
.x-project-rank .header .top-link .link-a span,.x-project-rank .header .top-link .link-a>a i,.x-project-rank .header .top-link .link-a>a span,.x-project-rank .header .top-link .link-a>i{color:#fff}
.x-project-rank .header .top-link .logined.link-a{margin-left:0;padding-left:30px}
.x-project-rank .header .top-link .link-a:hover{color:#ccc}
.x-project-rank .header .top-link .link-a:hover .link-down{color:#333}
.x-project-rank .header .top-link .link-a .s-u-pic{display:inline-block;border-radius:50%;vertical-align:middle}
.x-project-rank .header .top-link .link-a .s-u-pic img{vertical-align:top}
.x-project-rank .header .top-link .link-a span{vertical-align:middle}
.x-project-rank .header .search{border:1px solid #dcdcdc;width:330px;height:34px;font-size:16px;line-height:34px}
.x-project-rank .header .search em{display:inline-block;float:right;width:34px;height:34px;text-align:center;background:#fff}
.x-project-rank .header .search input{display:inline-block;float:right;box-sizing:border-box;padding:0 10px;width:290px;height:34px;line-height:34px}
.x-project-rank .footer{position:absolute;bottom:0;left:0;width:100%;background:#333a4b}
.x-project-rank .footer .footer-inner{padding:38px 0 50px}
.x-project-rank .footer .ez-link{margin:10px 0}
.x-project-rank .footer .ez-link a{display:inline-block;font-size:16px;color:#fff}
.x-project-rank .footer .ez-link em{display:inline-block;margin:0 15px;width:1px;height:10px;background:#5c616f}
.x-project-rank .footer .ez-link em:last-child{display:none}
.x-project-rank .footer .qr-code{display:inline-block;float:left;border:2px solid #fff;width:65px;height:65px}
.x-project-rank .footer .footer-text{float:right;margin-left:15px}
.x-project-rank .footer .footer-text span{display:inline-block;margin-bottom:15px;line-height:1;color:#fff}
.x-project-rank .footer .footer-text p{font-size:12px;color:#9a9ca2}
.x-project-rank .copyright{color:#9a9ca2}
.x-project-rank .copyright a,.x-project-rank .copyright span{display:inline-block;margin:0 10px;color:#fff}
.x-project-rank .crumbs-nav{margin-bottom:20px}
.x-project-rank .crumbs-nav>div{float:left}
.x-project-rank .crumbs-nav>div a{color:#666}
.x-project-rank .crumbs-nav>div a:hover{color:#38adff}
.x-project-rank .crumbs-nav>div i{display:inline-block;margin:0 6px}
.x-project-rank .crumbs-nav>span{display:inline-block;float:left;color:#999}
.x-project-rank .load-box:after{display:inline-block;font-size:16px;line-height:50px;vertical-align:middle;color:#999;content:"正在加载"}
.x-project-rank .load-ani{display:inline-block;position:relative;right:0;left:0;z-index:10;margin-right:40px;width:50px;height:50px;vertical-align:middle;-webkit-transition:all .3s ease-in-out 0;transition:all .3s ease-in-out 0}
.x-project-rank .load-box{display:none}
.x-project-rank .load-box.animate{display:block}
.x-project-rank .sk-circle .sk-child{position:absolute;top:0;left:0;width:100%;height:100%}
.x-project-rank .sk-circle .sk-child:before{display:block;margin:0 auto;border-radius:100%;width:15%;height:15%;background-color:#38adff;-webkit-animation:sk-circleBounceDelay 1.2s infinite ease-in-out both;animation:sk-circleBounceDelay 1.2s infinite ease-in-out both;content:""}
.x-project-rank .sk-circle .sk-circle2{-webkit-transform:rotate(30deg);transform:rotate(30deg)}
.x-project-rank .sk-circle .sk-circle3{-webkit-transform:rotate(60deg);transform:rotate(60deg)}
.x-project-rank .sk-circle .sk-circle4{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.x-project-rank .sk-circle .sk-circle5{-webkit-transform:rotate(120deg);transform:rotate(120deg)}
.x-project-rank .sk-circle .sk-circle6{-webkit-transform:rotate(150deg);transform:rotate(150deg)}
.x-project-rank .sk-circle .sk-circle7{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.x-project-rank .sk-circle .sk-circle8{-webkit-transform:rotate(210deg);transform:rotate(210deg)}
.x-project-rank .sk-circle .sk-circle9{-webkit-transform:rotate(240deg);transform:rotate(240deg)}
.x-project-rank .sk-circle .sk-circle10{-webkit-transform:rotate(270deg);transform:rotate(270deg)}
.x-project-rank .sk-circle .sk-circle11{-webkit-transform:rotate(300deg);transform:rotate(300deg)}
.x-project-rank .sk-circle .sk-circle12{-webkit-transform:rotate(330deg);transform:rotate(330deg)}
.x-project-rank .sk-circle .sk-circle2:before{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.x-project-rank .sk-circle .sk-circle3:before{-webkit-animation-delay:-1s;animation-delay:-1s}
.x-project-rank .sk-circle .sk-circle4:before{-webkit-animation-delay:-.9s;animation-delay:-.9s}
.x-project-rank .sk-circle .sk-circle5:before{-webkit-animation-delay:-.8s;animation-delay:-.8s}
.x-project-rank .sk-circle .sk-circle6:before{-webkit-animation-delay:-.7s;animation-delay:-.7s}
.x-project-rank .sk-circle .sk-circle7:before{-webkit-animation-delay:-.6s;animation-delay:-.6s}
.x-project-rank .sk-circle .sk-circle8:before{-webkit-animation-delay:-.5s;animation-delay:-.5s}
.x-project-rank .sk-circle .sk-circle9:before{-webkit-animation-delay:-.4s;animation-delay:-.4s}
.x-project-rank .sk-circle .sk-circle10:before{-webkit-animation-delay:-.3s;animation-delay:-.3s}
.x-project-rank .sk-circle .sk-circle11:before{-webkit-animation-delay:-.2s;animation-delay:-.2s}
.x-project-rank .sk-circle .sk-circle12:before{-webkit-animation-delay:-.1s;animation-delay:-.1s}
@-webkit-keyframes sk-circleBounceDelay{0%,100%,80%{-webkit-transform:scale(0);transform:scale(0)}
40%{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes sk-circleBounceDelay{0%,100%,80%{-webkit-transform:scale(0);transform:scale(0)}
40%{-webkit-transform:scale(1);transform:scale(1)}
}
.x-project-rank .pop-mask{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:999;background-color:rgba(0,0,0,.7)}
.x-project-rank .side-nodata{font-size:16px;line-height:100px;text-align:center;color:#999}
.x-project-rank ul.cookie-list,.x-project-rank ul.search-cookie{position:absolute;left:0;top:37px;width:100%;box-sizing:border-box;background:#fff;border:1px solid #d2d2d2;border-top:0;border-radius:5px;z-index:989;display:none}
.x-project-rank ul.cookie-list li,.x-project-rank ul.search-cookie li{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin:0 15px;height:32px;line-height:32px;text-align:left;padding:0 15px}
.x-project-rank ul.cookie-list li:last-child,.x-project-rank ul.search-cookie li:last-child{border:none}
.x-project-rank ul.cookie-list li.active,.x-project-rank ul.cookie-list li:hover,.x-project-rank ul.search-cookie li.active,.x-project-rank ul.search-cookie li:hover{background:#eee;cursor:pointer}
.x-project-rank ul.cookie-list{width:190px;left:15px}
.x-project-rank .user-left{width:180px;min-height:540px;background:#f9f9f9}
.x-project-rank .user-left .info{padding:40px 0;text-align:center}
.x-project-rank .user-left .info .user-img{margin-bottom:10px}
.x-project-rank .user-left .info .user-img img{display:inline-block;width:100px;min-height:100px;border-radius:50%}
.x-project-rank .user-left .info .user-name{font-size:16px}
.x-project-rank .user-left .info .user-dl{color:#999}
.x-project-rank .user-left .info .user-dl .user-dd{width:50%;box-sizing:border-box}
.x-project-rank .user-left .info .user-dl .user-dd:first-child{border-right:1px solid #e0e0e0}
.x-project-rank .user-left .info .user-dl .user-dd span{display:block}
.x-project-rank .user-left .info .user-dl .user-dd span i{color:#38adff}
.x-project-rank .user-left .user-nav{text-align:center;font-size:16px}
.x-project-rank .user-left .user-nav a{box-sizing:inherit;display:block;height:60px;line-height:60px}
.x-project-rank .user-left .user-nav a i{color:#999;margin-right:8px;font-weight:700;font-size:18px}
.x-project-rank .user-left .user-nav a span{display:inline-block;vertical-align:middle}
.x-project-rank .user-left .user-nav a.active,.x-project-rank .user-left .user-nav a.active i,.x-project-rank .user-left .user-nav a:hover,.x-project-rank .user-left .user-nav a:hover i{color:#38adff}
.x-project-rank .user-left .user-nav a.active{border-left:2px solid #38adff;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;margin-right:-1px;position:relative;z-index:10;background-color:#fff}
.x-project-rank .user-center{width:1020px;border:1px solid #e0e0e0;background:#fff;box-sizing:border-box;overflow:hidden;min-height:540px}
.x-project-rank .user-center .tit{position:relative;color:#999;height:60px;line-height:60px;padding-left:30px;border-bottom:1px solid #e0e0e0}
.x-project-rank .user-center .tit .tit-name{color:#666;font-size:26px}
.x-project-rank .user-center .tit .tit-desc{font-size:12px;line-height:42px}
.x-project-rank .user-center .tit .tit-tab{position:absolute;right:10px;bottom:-1px;z-index:9}
.x-project-rank .user-center .tit .tit-tab a{display:inline-block;padding:0 20px;border-color:2px solid transparent}
.x-project-rank .user-center .tit .tit-tab a.active{color:#38adff;border-bottom:2px solid #38adff}
.x-project-rank .user-center .tit-total{height:48px;line-height:48px;text-align:center;overflow:hidden}
.x-project-rank .user-center .tit-total .total-content{display:inline-block;padding:0 80px 30px;border-radius:0 0 100px 100px;background-image:-webkit-linear-gradient(bottom,#fffde0,#fffccd);background-image:linear-gradient(0deg,#fffde0,#fffccd)}
.x-project-rank .user-center .tit-total .total-content i{display:inline-block;margin:0 5px;font-size:20px}
.x-project-rank .nodata-box{padding:120px 0;text-align:center}
.x-project-rank .nodata-box i{font-size:150px;color:#e0e0e0}
.x-project-rank .nodata-box p{font-size:24px;color:#ccc}
.mod-content{display:none}
.item-box{margin-left:-20px;padding-top:8px;width:1240px}
.item-box li{float:left;margin:0 20px 40px}
.item{position:relative;width:270px;-webkit-transition:all .2s linear;transition:all .2s linear;cursor:pointer}
.item a{display:block;width:100%;height:100%}
.item:hover{box-shadow:0 15px 30px rgba(0,0,0,.1);-webkit-transform:translate3d(0,-2px,0);transform:translate3d(0,-2px,0)}
.item .item-info{padding:15px;background:#fff}
.item .item-img{overflow:hidden}
.item .item-img,.item .item-img img{display:block;width:270px;height:180px;background:#fff}
.item .item-icon em,.item .item-icon span,.item .item-icon span i,.item .item-label,.item .item-label-box a.apply-btn,.item .item-ldt,.item .item-name span,.item .item-view em,.item:hover a.btn.pos-tr,.my-study .tit .tab-tit a,.pro-info .pro-dd span em,.side-pro .info em,.status-icon{display:inline-block}
.item .item-img img{-webkit-transition:all .3s;transition:all .3s}
.item:hover .item-img img{-webkit-transform:scale(1.2);transform:scale(1.2)}
.item .item-name{font-size:18px}
.item .item-icon{line-height:1}
.item .item-icon em,.pro-info .pro-dd span em,.side-pro .info em{margin:0 8px;width:1px;height:8px;background:#ccc}
.item .item-icon span{color:#999}
.item .item-icon span i{overflow:hidden;vertical-align:top;white-space:nowrap;text-overflow:ellipsis;color:#38adff}
.item .item-view{font-size:12px;color:#999}
.item .item-view em{vertical-align:middle}
.item .item-view i{margin-right:5px;font-size:16px;color:#b7b7b7}
.item .item-label{position:absolute;top:0;left:0;padding:0 10px;height:24px;font-size:12px;line-height:24px;color:#fff;background:#49a8ed}
.item-label-box .item-dd{overflow:hidden;margin-left:7px;max-width:72px;font-size:12px;vertical-align:middle;color:#999;cursor:pointer}
.item-label-box .item-dd:hover{text-decoration:underline}
/*!
 * 图片加载动画
 * 容器(.loading)绝对定位占满定位父级窗口;
 * 动画类型:.dot-style(点状加载)
 */
.loading-stage.dot-style .dots .dot{display:inline-block;border-radius:50%;width:1.425em;height:1.425em;background-color:rgba(158,215,255,.7);-webkit-animation-name:dot;animation-name:dot;-webkit-animation-duration:.9s;animation-duration:.9s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
.loading-stage,.loading-stage.dot-style .dots{position:absolute;top:0;right:0;bottom:0;left:0}
.loading-stage{font-size:14px}
.loading-stage.dot-style .dots{margin:auto;width:5.275em;height:1.425em;text-align:center}
.loading-stage.dot-style .dots .dot:nth-child(1){-webkit-animation-delay:0;animation-delay:0}
.loading-stage.dot-style .dots .dot:nth-child(2){-webkit-animation-delay:.3s;animation-delay:.3s}
.loading-stage.dot-style .dots .dot:nth-child(3){-webkit-animation-delay:.6s;animation-delay:.6s}
@-webkit-keyframes dot{0%,100%{-webkit-transform:scale(.9);transform:scale(.9)}
50%{-webkit-transform:scale(.5);transform:scale(.5)}
}
@keyframes dot{0%,100%{-webkit-transform:scale(.9);transform:scale(.9)}
50%{-webkit-transform:scale(.5);transform:scale(.5)}
}
.my-study{padding-bottom:20px}
.my-study .tit .tab-tit a{padding:0 50px;height:59px;line-height:59px;color:#666}
.my-study .tit .tab-tit a.active{margin-bottom:-1px;border-bottom:2px solid #38adff;height:58px;font-weight:700;line-height:58px;color:#38adff}
.my-study .study-list{padding:20px 50px 0;width:110%}
.my-study .study-list li{float:left;margin:0 52px 48px 0}
.my-study .study-list .item-info{border:1px solid #e0e0e0}
.pagination-box{padding:0 50px}
.pagination-box .pagination span.next,.pagination-box .pagination span.prev{color:#fff;background:#b3b3b3}
.item .item-label-box{overflow:inherit;position:relative;min-height:24px}
.item .item-img,.item .item-info{position:relative}
.item .item-view i.date{font-size:12px}
.item .item-ldt{position:absolute;bottom:0;left:0;padding:0 20px;height:24px;font-size:12px;line-height:24px;color:#fff;background-image:-webkit-linear-gadient(90deg,rgba(0,0,0,.5) 60%,rgba(255,255,255,.3));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5) 60%,rgba(255,255,255,.3));background-image:linear-gradient(90deg,rgba(0,0,0,.5) 60%,rgba(255,255,255,.3))}
.item:hover .item-name,.status-icon.yes{color:#38adff}
.item a.btn{position:absolute;right:0;bottom:0}
.status-icon{position:absolute;right:0;bottom:0;width:54px;height:54px;font-size:54px}
.status-icon:after{display:block;position:absolute;top:0;left:0;margin:auto;width:100%;height:100%;font-family:inherit;font-size:12px;line-height:54px;text-align:center;-webkit-transform:rotate(-16deg);transform:rotate(-16deg);content:attr(data-flag)}
.status-icon.no{color:#ff7c7c}
.status-icon.finished{color:#a0a0a0}
.status-icon.ended{color:#38adff}
a.btn{display:inline-block;border-radius:4px;padding:0 10px;width:auto;height:30px;line-height:30px;color:#fff}
a.btn.pos-tr{display:none;top:0;padding:0 7px;height:24px;font-size:12px;line-height:24px}
a.btn.no-point{pointer-events:none}
.study-process{position:absolute;top:0;left:-1px;width:270px;height:6px;background:#eee}
.study-process .inner{display:inline-block;position:absolute;top:0;left:0;width:0;height:100%;background:#38adff;-webkit-transition:all .3s;transition:all .3s}
.click-load{color:#666}
.click-load a,.click-load span{display:inline-block;border:1px solid #e6e6e6;border-radius:16px;padding:0 20px;height:33px;line-height:33px}
.book-icon{font-size:100px;color:#999}
.text-panel{margin-top:-30px;height:auto;line-height:2.5}
.text-panel span{display:block;color:#999}