@charset "UTF-8";
.item .item-icon span i,.pro-info .pro-name,.side-pro .name{white-space:nowrap;text-overflow:ellipsis}
.ask-li .side-item p,.pro-info .pro-desc,.review-dt .dt-text{word-break:break-all}
.mod-content{display:none}
.item-box{margin-left:-20px;padding-top:8px;width:1240px}
.item-box li{float:left;margin:0 20px 40px}
.item{position:relative;width:270px;-webkit-transition:all .2s linear;transition:all .2s linear}
.item a{display:block;width:100%;height:100%}
.item:hover{box-shadow:0 15px 30px rgba(0,0,0,.1);-webkit-transform:translate3d(0,-2px,0);transform:translate3d(0,-2px,0)}
.item .item-info{padding:15px;background:#fff}
.item .item-img{overflow:hidden;position:relative}
.item .item-img,.item .item-img img{display:block;width:270px;height:180px;background:#fff}
.item .item-img img{-webkit-transition:all .3s;transition:all .3s}
.item:hover .item-img img{-webkit-transform:scale(1.2);transform:scale(1.2)}
.item .item-name{font-size:18px}
.item .item-icon{line-height:1}
.item .item-icon em,.pro-info .pro-dd span em,.side-pro .info em{display:inline-block;margin:0 8px;width:1px;height:8px;background:#ccc}
.item .item-icon span{display:inline-block;color:#999}
.item .item-icon span i{display:inline-block;overflow:hidden;vertical-align:top;color:#38adff}
.item .item-view{font-size:12px;color:#999}
.item .item-view em{display:inline-block;vertical-align:middle}
.item .item-view i{margin-right:5px;font-size:16px;color:#b7b7b7}
.item .item-label{display:inline-block;position:absolute;top:0;left:0;padding:0 10px;height:24px;font-size:12px;line-height:24px;color:#fff;background:#49a8ed}
.item-label-box .item-dd{overflow:hidden;margin-left:7px;max-width:72px;font-size:12px;vertical-align:middle;color:#999;cursor:pointer}
.item-label-box .item-dd:hover{text-decoration:underline}
.listpage{padding:20px 0 80px}
.listpage a,.listpage strong{display:inline-block;float:left;margin-right:10px;border-radius:2px;padding:0 18px;height:37px;line-height:37px;background:#ddd}
.listpage a.on,.listpage a:hover{background:#38adff;color:#fff}
.page-r a span{display:inline-block;margin-right:30px}
.listpage .topage{display:block;width:38px;height:35px;line-height:35px;padding:0 10px;border:1px solid #d2d2d2;border-radius:3px;background:0 0}
.listpage .topage:focus{border-color:#38adff}
.pop-box{width:550px;position:fixed;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.pop-box .tit{height:50px;line-height:50px;color:#666;font-size:16px;position:relative;padding:0 30px;background:#fff;border-bottom:1px solid #e0e0e0}
.pop-box .tit .icon-close{font-size:22px;color:#b7b7b7;cursor:pointer;float:right;margin-top:0;margin-right:-20px;-webkit-transition:all .3s;transition:all .3s}
.pop-box .tit .icon-close:hover{color:#38adff;-webkit-transform:rotate(360deg);transform:rotate(360deg)}
.pop-box .content{padding:30px;background:#f9f9f9}
.pop-btn{margin-top:25px}
.proFilter{background:#fff;padding:6px 30px;margin-bottom:35px;box-shadow:0 1px 2px 2px #ddd}
.proFilter .pro-attr{border-bottom:1px dotted #dcdcdc;line-height:26px;padding:11px 0 3px;position:relative;height:auto;-webkit-transition:all .2s ease-in;transition:all .2s ease-in}
.proFilter .pro-attr:last-child{border-bottom:none}
.proFilter .pro-attr .attr-label{float:left;width:90px;margin-right:10px;font-weight:700;text-align:right}
.proFilter .pro-attr .attr-values{float:left;width:950px;position:relative}
.proFilter .pro-attr .attr-values a{display:inline-block;float:left;line-height:26px;padding:0 15px;margin:0 20px 8px 0}
.attr-values a.active,.attr-values a.active:hover,.attr-values a.on{background:#38adff;color:#fff;border-radius:4px}
.attr-values a:hover{color:#38adff}
.pro-attr .attr-more{color:#38adff;font-size:12px;position:absolute;right:10px;top:10px}
.pro-attr .attr-more i{margin-left:5px;color:#8c8c8c;transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-webkit-transition:transform .2s ease-in;-webkit-transition:-webkit-transform .2s ease-in;transition:-webkit-transform .2s ease-in;transition:transform .2s ease-in;transition:transform .2s ease-in,-webkit-transform .2s ease-in;vertical-align:initial}
.proFilter .pro-attr.on .attr-values{height:34px;overflow:hidden}
.proFilter .pro-attr .attr-more:before{content:attr(data-up)}
.proFilter .pro-attr.on .attr-more:before{content:attr(data-down)}
.proFilter .pro-attr.on .icon-darrow{transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);cursor:default}
.review-view>span{vertical-align:middle;display:inline-block}
.star-mask{width:50px;overflow:hidden;position:absolute;top:0;left:0;max-width:100px}
.star-block,.star-box{width:100px;display:inline-block;vertical-align:middle}
.star-mask .star-box i{color:#38adff}
.star-block{position:relative}
.star-box:after{clear:both}
.star-box i{color:#cdcdcd;font-size:20px;height:22px;float:right}
.star-box.star-hover i{cursor:pointer}
.star-box i.on,.star-box i.on~i{color:#38adff}
.star-box i:nth-of-type(1){right:0}
.star-box i:nth-of-type(2){right:1em}
.star-box i:nth-of-type(3){right:2em}
.star-box i:nth-of-type(4){right:3em}
.star-box i:nth-of-type(5){right:4em}
.star-box~span{margin-left:3px;display:inline-block;vertical-align:middle}
.review-view span{vertical-align:middle}
.tab-review .tit{padding:50px 30px 10px;border-bottom:1px solid #e5e5e5}
.tab-review .tit .send-btn{display:inline-block;float:right;color:#38adff}
.tab-review .content{padding:0 30px 30px}
.review-list li{border-bottom:1px dashed #e5e5e5}
.review-list li .more{width:100%;text-align:center;display:block;margin:10px}
.review-dt-li li:last-child{border:none}
.review-dt{padding:20px 0;border-bottom:1px dashed #e5e5e5}
.review-dd{padding:20px 0;margin-left:70px;border-top:1px dashed #e5e5e5}
.review-dt .review-dd.first{margin-top:20px}
.review-dt .review-dd:last-child{padding-bottom:0}
.review-dt .dt-r{width:750px}
.review-dt .dt-r .tool a{color:#38adff;display:inline-block;float:left}
.review-dd .dd-r .tool span,.review-dt .dt-r .tool span{display:inline-block;float:right}
.review-dd .dd-r{width:680px}
.review-dd .dd-r .tool a{color:#999;pointer-events:none}
.reivew-text{border:1px solid #d8d8d8;display:block;width:468px;padding:10px;height:100px;resize:none;overflow-y:auto}
/*!
 * 图片加载动画
 * 容器(.loading)绝对定位占满定位父级窗口;
 * 动画类型:.dot-style(点状加载)
 */
.loading-stage.dot-style .dots .dot{display:inline-block;border-radius:50%;width:1.425em;height:1.425em;background-color:rgba(158,215,255,.7);-webkit-animation-name:dot;animation-name:dot;-webkit-animation-duration:.9s;animation-duration:.9s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
.loading-stage,.loading-stage.dot-style .dots{position:absolute;top:0;right:0;bottom:0;left:0}
.loading-stage{font-size:14px}
.loading-stage.dot-style .dots{margin:auto;width:5.275em;height:1.425em;text-align:center}
.loading-stage.dot-style .dots .dot:nth-child(1){-webkit-animation-delay:0;animation-delay:0}
.loading-stage.dot-style .dots .dot:nth-child(2){-webkit-animation-delay:.3s;animation-delay:.3s}
.loading-stage.dot-style .dots .dot:nth-child(3){-webkit-animation-delay:.6s;animation-delay:.6s}
@-webkit-keyframes dot{0%,100%{-webkit-transform:scale(.9);transform:scale(.9)}
50%{-webkit-transform:scale(.5);transform:scale(.5)}
}
@keyframes dot{0%,100%{-webkit-transform:scale(.9);transform:scale(.9)}
50%{-webkit-transform:scale(.5);transform:scale(.5)}
}
.onload{text-align:center;color:#999;margin:10px 0 20px}
.w-banner{position:relative;height:400px}
.w-banner .banner-slide{position:absolute;left:0;right:0;top:0;bottom:0;background-repeat:no-repeat;background-position:center 0}
.index-content,.mt60{margin-top:60px}
.mod{margin-bottom:15px}
.mod .mod-tit{margin-bottom:20px}
.mod-tab a{display:inline-block;padding:0 12px;margin:0 5px;height:26px;line-height:26px;position:relative}
.mod-tab a i,.mod-tab a.spec.on i{display:none}
.mod-tab a i{position:absolute;left:50%;bottom:-8px;margin-left:-7px;color:#38adff}
.mod-tab a.spec{font-size:26px;padding-left:0;margin-left:0}
.mod-tab a.spec.on{background:0 0;color:#333}
.list-tool .tool-r a,.mod-tab a.on i,.pro-tit span,a.mod-btn{display:inline-block}
.mod-tab a.on{background:#38adff;color:#fff}
a.mod-btn{text-align:center;font-size:12px;color:#38adff;float:right;vertical-align:middle;margin-top:10px}
.pro-tit{margin-bottom:20px}
.pro-tit span{margin-right:10px;font-size:26px}
.list-tool .tool-r a{margin-left:20px;padding:2px 10px;color:#333;border-radius:4px}
.list-tool .tool-r a:hover{color:#38adff;background:#ddd}
.list-tool .tool-r a.active,.list-tool .tool-r a.on{color:#fff;background:#38adff}
.pro-info{background:#fff;padding:20px}
.pro-info .pro-img{position:relative;overflow:hidden}
.pro-info .pro-img,.pro-info .pro-img img{width:433px;height:300px}
.pro-info .pro-img span{display:block;width:100%;max-height:90px;text-align:center;padding:50px 0 15px;position:absolute;left:0;bottom:0;color:#fff;background:url(../newimages/opc.png) repeat-x}
.pro-info .pro-dt{position:relative;width:706px;height:300px}
.pro-info .pro-name{font-size:26px;overflow:hidden}
.pro-info .pro-desc{height:83px;overflow:hidden}
.pro-info .pro-dd{line-height:2}
.pro-info .pro-dd-h{height:56px}
.pro-info .pro-btn{position:absolute;left:0;bottom:0}
.sidebox{background:#fff}
.side-tit{position:relative;font-size:16px;font-weight:700;padding:18px 20px;border-bottom:1px solid #e5e5e5}
.side-tit .more,.sort-tab-t{position:absolute;right:20px}
.side-tit .more,.side-tit i{font-size:12px;font-weight:400}
.side-tit i{display:inline-block;margin-left:10px;color:#666}
.side-tit .more{bottom:18px;color:#666}
.side-content{padding:0 20px}
.side-content .side-item,.side-content a{display:block;border-bottom:1px dashed #e5e5e5;padding:20px 0}
.side-content .side-item:last-child{border-bottom:none}
.side-content a:last-child{border-bottom:0}
.side-pro .s-img{float:left}
.side-pro .info{width:165px;float:right}
.side-pro .name{display:block;font-size:16px;overflow:hidden}
.ask-li .side-item span,.ask-time em,.ask-time i,.side-friend .info .time,.side-pro .dt{font-size:12px}
.side-pro .dt{display:block;color:#999;margin-top:12px}
.side-pro .dt i{color:#38adff}
.ask-li .side-item span,.ask-time,.side-friend .info .time{color:#999}
.ask-time i{margin:0 5px 0 10px}
.ask-li .side-item p{margin:5px 0}
.side-friend .info{width:205px;float:right}
.side-friend li{width:66px;float:left;margin-right:31px;text-align:center;padding:20px 0}
.side-friend li:nth-child(3n){margin-right:0}
.side-friend li span{display:block}
.seven-sort li i{font-size:18px;display:inline-block;color:#666;width:30px;text-align:left;font-style:italic}
.seven-sort li{line-height:50px}
.seven-sort li i:nth-child(-n+3){color:#f60}
.seven-sort li .name{display:inline-block;margin-left:10px;width:84px}
.seven-sort li em,.seven-sort li i,.seven-sort li img,.seven-sort li span{vertical-align:middle}
.seven-sort li em b{width:58px;overflow:hidden;font-weight:400;vertical-align:middle}
.sort-tab-t em{height:8px;width:1px;background:#ccc;display:inline-block;margin:0 10px}
.pro-intro,.slider{background:#fff}
.sort-tab-t a.on{color:#38adff}
.sort-tab-t{top:20px}
.seven-sort li em{display:inline-block;float:right;color:#38adff}
.pro-intro .tab-tit{border-bottom:1px solid #e5e5e5}
.pro-intro .tab-tit a{display:inline-block;width:120px;height:58px;line-height:58px;font-size:16px;text-align:center;margin-left:20px;border-bottom:2px solid #fff}
.slider,.swiper{width:100%;overflow:hidden}
.pro-intro .tab-tit a.on,.pro-intro .tab-tit a:hover{font-weight:700;color:#38adff;border-bottom:2px solid #38adff}
.pro-intro .tab-descript{padding:40px;font-size:16px;word-break:break-word}
.tab-descript .tit{font-weight:700;margin-bottom:15px}
.tab-descript .p1{margin-bottom:40px}
.tab-descript .p2{margin-bottom:25px}
.tab-content>div:not(:first-child){display:none}
.swiper{height:400px}
.slider{text-align:center;font-size:18px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-ms-flex:0 0 auto;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;height:100%;position:relative}
.swiper .slider a,.swiper .slider img{display:block;width:1920px}
.swiper .slider .pic-tips{text-align:center;color:#fff;width:100%;height:40px;line-height:40px;position:absolute;bottom:0;left:0;z-index:999;background:rgba(0,0,0,.6)}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;box-sizing:content-box}
.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#38adff;opacity:.5;margin:0 5px;cursor:pointer}
.swiper-pagination-bullet-active{opacity:1;background:#38adff}
.swiper .pagination{position:absolute;text-align:center;-webkit-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10;bottom:50px;left:0;width:100%}