<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://s13.e.99.com/?f=/auxo/front/course/css/style/reset.css,/auxo/component/js-video/v1.0.0/style.min.css,/auxo/front/course/css/white/learnhome.css,/auxo/front/course/css/style/emoji.css&v=20171213322716"><link rel="stylesheet" href="http://s14.e.99.com/?f=/auxo/front/interactionqa/css/zh-CN/white/css/qa.css,/auxo/addins/jquery-udialog/v1.0.0/style/css/theme/zh-CN/white/udialog-common.css,/auxo/component/js-coin/v1.0.1/dist/css/theme/zh-CN/white/style.css,/auxo/front/course/css/white/styles.css,/auxo/component/js-course-learn-note/dist/css/theme/zh-CN/white/addNoteStyle.css,/auxo/component/js-note-item/dist/white/style.css,/auxo/addins/kindeditor/v4.1.10/themes/default/default.css&v=20171213322716">
   

	<title>测试笔记</title>
</head>
<body>
	<div id="content">
		<div data-bind="component: { name: 'x-course-learn-note', params: {data: model.note().viewModel.model.createBuildNote} }"></div>
	</div>
	 <script src="../../addins/jquery/v1.12.4/jquery.min.js"></script>
    <script src="../../addins/ko/v3.4.2/knockout.min.js"></script>
    <script src="../../addins/ko-i18n/v0.9.0/ko-i18n-min.js"></script>
    <script src="../../common/i18n/translate.js"></script>
    <script src="../../front/business_course/js/common/i18n/zh-CN.js"></script>
    <script src="./dist/index.js"></script>
	<script>
        var viewModel = {
            model: {
                note:ko.observable({
                	viewModel:{
                		model:{
                			createBuildNote: {
                				biz_param:{
                					resource_type: ko.observable(0),
                					resource_id:ko.observable('237bb092-6710-4b46-adb1-485c0c6ea35a'),
                					course_id:ko.observable('237bb092-6710-4b46-adb1-485c0c6ea35a')
                				},
                                refreshNotes: ko.observable(0),
                                editNoteInfo: ko.observable(0),
                                excerpt_note_id: function(){
                                    return 'f2376d64-d06b-4a5b-9786-c6cc09348cda'
                                },
                                note_id: 'f2376d64-d06b-4a5b-9786-c6cc09348cda',
                                videoCurrentTime: new Date().getTime(),
                                docInfo: 'adjkbkdfbvkf',
                            }
                		}
                	}
                })
            },
            init: function(){
                ko.applyBindings(this, document.getElementById('content'))
            }
        }
        viewModel.init();
    </script>
</body>
</html>