$white: #fff;
$greyc: #ccc;
$grey9: #999;
$grey6: #666;
$grey3: #333;

$border-bottom: #d8d8d8;
$bgc: #fff;
$color: #000;

$searchActive: #38adff;

$themeColor: #38adff; //user-list hover color
$themeColor2: #38adff; //active border-bottom bgc
$themeColor3: #fff; //hover <a> color

$iconfont-path:"../../";