a.s-btn, a.m-btn, a.gs-btn, a.gs-btn:hover, a.gm-btn, a.gm-btn:hover {
  text-align: center; }

.rotate18 {
  transform: rotate(180deg); }

.rotate9 {
  transform: rotate(-90deg); }

.w120 {
  width: 120px; }

a.btn i, a.btn span {
  vertical-align: middle; }

a.btn i {
  margin-right: 5px; }

a.btn:hover {
  text-decoration: none; }

a.s-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  background: #0cadb7;
  color: #fff; }
  a.s-btn:hover {
    color: #fff; }

a.m-btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  background: #0cadb7;
  color: #fff; }
  a.m-btn:hover {
    color: #fff; }

a.gs-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  background: #b3b3b3;
  color: #fff; }
  a.gs-btn:hover {
    background: #4d4d4d;
    color: #fff; }

a.gm-btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  background: #b3b3b3;
  color: #fff; }
  a.gm-btn:hover {
    background: #4d4d4d;
    color: #fff; }

.banner-header {
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 0 10px;
  box-shadow: 4px 0 0 #fff,-4px 0 0 #fff,0 2px 5px #ddd;
  *zoom: 1; }
  .banner-header:before, .banner-header:after {
    content: "";
    display: table; }
  .banner-header:after {
    clear: both;
    overflow: hidden; }
  .banner-header:before {
    display: inline-block;
    margin-right: 10px;
    border: 2px solid #0cadb7;
    border-radius: 50%;
    width: 10px;
    height: 10px; }
  .banner-header h2 {
    display: inline-block;
    font-size: 18px;
    font-weight: bold; }
  .banner-header a:hover {
    text-decoration: none; }
  .banner-header a.btn,
  .banner-header button {
    float: right;
    margin-right: 5px;
    vertical-align: bottom; }
    .banner-header a.btn:hover,
    .banner-header button:hover {
      text-decoration: none; }

.tool-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px 20px 12px 230px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 2px 2px #ddd; }
  .tool-footer a.btn,
  .tool-footer button {
    margin-left: 20px; }
    .tool-footer a.btn.left,
    .tool-footer button.left {
      float: left; }
    .tool-footer a.btn.right,
    .tool-footer button.right {
      float: right; }

a.s-btn, a.m-btn, a.gs-btn, a.gs-btn:hover, a.gm-btn, a.gm-btn:hover {
  text-align: center; }

.rotate18 {
  transform: rotate(180deg); }

.rotate9 {
  transform: rotate(-90deg); }

.w120 {
  width: 120px; }

a.btn i, a.btn span {
  vertical-align: middle; }

a.btn i {
  margin-right: 5px; }

a.btn:hover {
  text-decoration: none; }

a.s-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  background: #0cadb7;
  color: #fff; }
  a.s-btn:hover {
    color: #fff; }

a.m-btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  background: #0cadb7;
  color: #fff; }
  a.m-btn:hover {
    color: #fff; }

a.gs-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  background: #b3b3b3;
  color: #fff; }
  a.gs-btn:hover {
    background: #4d4d4d;
    color: #fff; }

a.gm-btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  background: #b3b3b3;
  color: #fff; }
  a.gm-btn:hover {
    background: #4d4d4d;
    color: #fff; }

.box {
  margin-bottom: 20px;
  margin-top: 5px; }
  .box .form-horizontal input[type="text"] {
    height: 26px; }
  .box .form-horizontal .img-sm {
    display: inline-block;
    width: 270px;
    height: 180px;
    border-radius: 3px;
    vertical-align: middle; }
    .box .form-horizontal .img-sm img {
      width: 100%;
      height: 100%; }
  .box .ztree {
    height: 300px;
    width: 270px;
    border: #AFA8A8 1px solid;
    overflow: scroll; }

html {
  overflow: auto; }

.status label {
  display: inline-block;
  margin: 5px 10px 0 0; }
  .status label span, .status label input {
    display: inline-block;
    vertical-align: middle; }

.form-horizontal.coures-feature .control-group {
  padding: 10px 0 5px; }
