@charset "UTF-8";
/** 清除内外边距 **/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0; }

/** 设置默认字体 **/
body,
button,
input,
select,
textarea {
  font: 12px/1.5  "微软雅黑",arial,tahoma, simsun;
  color: #333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%; }

address,
cite,
dfn,
em,
var {
  font-style: normal; }

/* 将斜体扶正 */
code,
kbd,
pre,
samp {
  font-family: tahoma, arial,"microsoft yahei", simsun, sans-serif; }

/* 统一等宽字体 */
pre {
  border: none;
  font-size: inherit;
  background: none; }

small {
  font-size: 12px; }

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/** 重置列表元素 **/
ul,
ol {
  list-style: none; }

/** 重置文本格式元素 **/
a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: underline; }

sup {
  vertical-align: text-top; }

/* 重置，减少对行高的影响 */
sub {
  vertical-align: text-bottom; }

/** 重置表单元素 **/
legend {
  color: #000; }

/* for ie6 */
fieldset,
img {
  border: 0; }

/* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
  vertical-align: middle; }

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table {
  border-spacing: 0;
  border-collapse: collapse; }

/* 重置 HTML5 元素 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block;
  margin: 0;
  padding: 0; }

mark {
  background: #ff0; }

.clear {
  clear: both; }

.bold {
  font-weight: bold; }

.over-hidden {
  overflow: hidden !important; }

.required {
  color: #a00; }
  .required:after {
    content: "  "; }

.ellipse,
.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.bc_f {
  background: #fff; }

.container-fluid {
  padding: 20px 20px 50px; }

.box,
.block {
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 10px 20px;
  background: #fff;
  background: #fff;
  box-shadow: 0 1px 2px 2px #ddd; }

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ""; }

.clearfix {
  zoom: 1; }

.cf:before,
.cf:after {
  display: table;
  content: ""; }

.cf:after,
.cl {
  clear: both; }

.cf {
  zoom: 1; }

.hide {
  display: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.show {
  display: block; }

.tc {
  text-align: center !important; }

.tl {
  text-align: left !important; }

.tr {
  text-align: right !important; }

.vm {
  display: inline-block;
  vertical-align: middle; }

.vb {
  display: inline-block;
  vertical-align: baseline; }

.vt {
  display: inline-block;
  vertical-align: top; }

p.break {
  word-break: break-all; }

.hidden {
  visibility: hidden; }

.fs12 {
  font-size: 12px !important; }

.fs14 {
  font-size: 14px !important; }

.fs16 {
  font-size: 16px !important; }

.fs18 {
  font-size: 18px !important; }

.fs20 {
  font-size: 20px !important; }

.fs22 {
  font-size: 22px !important; }

.fs24 {
  font-size: 24px !important; }

.fs26 {
  font-size: 26px !important; }

body {
  background: #ebebeb; }

.is-hidden {
  visibility: hidden; }

iframe html body {
  padding-bottom: 50px; }

* {
  box-sizing: border-box; }

.controls > .radio {
  padding-top: 5px; }

/*滚动条*/
::-webkit-scrollbar {
  height: 8px;
  width: 8px; }

::-webkit-scrollbar-button {
  height: 0;
  width: 0; }

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
  display: block; }

::-webkit-scrollbar-button:vertical:start:increment, ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none; }

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal, ::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
  border-style: solid;
  border-color: transparent;
  border-radius: 8px; }

::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
  background-clip: padding-box;
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 28px;
  padding-top: 100px;
  border-radius: 8px; }

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.4); }

::-webkit-scrollbar-thumb:active {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
  border-width: 0; }

::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05); }

::-webkit-scrollbar-track:active {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
  background-color: rgba(0, 0, 0, 0.05); }

@font-face {
  font-family: 'elearning-admin';
  src: url("../fonts/elearning-admin.eot?me95au");
  src: url("../fonts/elearning-admin.eot?me95au#iefix") format("embedded-opentype"), url("../fonts/elearning-admin.ttf?me95au") format("truetype"), url("../fonts/elearning-admin.woff?me95au") format("woff"), url("../fonts/elearning-admin.svg?me95au#elearning-admin") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'elearning-admin';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: none;
  height: auto;
  width: auto; }

[class^=icon-]:before, [class*=" icon-"]:before {
  display: inline-block; }

.icon-class:before {
  content: "\e601"; }

.icon-course:before {
  content: "\e602"; }

.icon-plan:before {
  content: "\e603"; }

.icon-run:before {
  content: "\e605"; }

.icon-czd:before {
  content: "\e606"; }

.icon-ctj:before {
  content: "\e607"; }

.icon-tj:before {
  content: "\e608"; }

.icon-ts:before {
  content: "\e609"; }

.icon-approve:before {
  content: "\e60a"; }

.icon-add:before {
  content: "\e901"; }

.icon-article:before {
  content: "\e902"; }

.icon-change:before {
  content: "\e903"; }

.icon-Chart:before {
  content: "\e904"; }

.icon-chat:before {
  content: "\e905"; }

.icon-clear:before {
  content: "\e906"; }

.icon-close:before {
  content: "\e907"; }

.icon-yes:before {
  content: "\e908"; }

.icon-home:before {
  content: "\e909"; }

.icon-xiasanjiao:before {
  content: "\e90a"; }

.icon-new-course:before {
  content: "\e90b"; }

.icon-delcourse:before {
  content: "\e90c"; }

.icon-online:before {
  content: "\e90d"; }

.icon-popup:before {
  content: "\e90e"; }

.icon-set:before {
  content: "\e90f"; }

.icon-Settings:before {
  content: "\e910"; }

.icon-Users:before {
  content: "\e911"; }

.icon-View:before {
  content: "\e912"; }

.icon-offline:before {
  content: "\e913"; }

.icon-pro:before {
  content: "\e914"; }

.icon-sanjiao:before {
  content: "\e915"; }

.icon-search:before {
  content: "\e916"; }

.icon-larrow:before {
  content: "\e917"; }

.icon-rarrow:before {
  content: "\e918"; }

.icon-uparrow:before {
  content: "\e919"; }

.icon-darrow:before {
  content: "\e91a"; }

.icon-star:before {
  content: "\e91b"; }

.icon-list:before {
  content: "\e91c"; }

.icon-gouxuan:before {
  content: "\e91d"; }

.icon-time:before {
  content: "\e91e"; }

.icon-arrow-right:before {
  content: "\e91f"; }

.icon-arrow-left:before {
  content: "\e920"; }

.icon-cloudcourse:before {
  content: "\e900"; }

/* bootstrap重置样式 */
.text-help {
  display: inline-block;
  vertical-align: top;
  color: #999; }
  .text-help em {
    margin: 0 2px;
    font-size: 1.2em;
    font-style: oblique;
    color: #0cadb7; }

.form-horizontal .help-block:empty {
  margin-top: 0; }

.form-horizontal .img-sm {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px;
  width: 300px;
  height: 200px;
  vertical-align: middle; }
  .form-horizontal .img-sm img {
    width: 100%;
    height: 100%; }

input[readonly]:hover, input[readonly="readonly"]:hover {
  background-color: #eee;
  border-color: #ddd;
  cursor: not-allowed; }

.input-readonly-cursor:hover {
  cursor: pointer !important; }

body {
  font-size: 14px;
  color: #555;
  background: url("../images/err-bg.jpg") repeat; }

a {
  color: #cd5c21; }

.green a {
  color: #0f6613; }

.blue a {
  color: #3c82ba; }

.err-i,
.err-img {
  background: url("../images/err-icon.png") no-repeat; }

.err-con {
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 700px;
  height: 40%;
  min-height: 450px; }

.err-img {
  padding: 0 0 0 80px;
  height: 230px;
  font: 400 32px/180px "microsoft yahei";
  text-align: center;
  color: #fff;
  background-position: -24px -220px; }

.green .err-img {
  background-position: -24px -0; }

.blue .err-img {
  background-position: -24px -460px; }

.err-wrapper {
  padding: 0 0 0 100px; }

.err-m textarea {
  display: none;
  margin: 10px 0 0;
  border: 1px solid #d1d1d1;
  padding: 15px;
  width: 490px;
  height: 150px;
  font-size: 12px;
  resize: none; }

.err-ctrl {
  margin: 50px 0 0;
  width: 520px;
  text-align: right; }

.err-ctrl a {
  margin: 0 0 0 15px; }

.arrow {
  display: inline-block;
  margin: 0 0 0 5px;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  background-position: 0 -68px; }

.green .arrow {
  background-position: 0 -56px; }

.blue .arrow {
  background-position: 0 -80px; }
