@charset "UTF-8";
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, textarea, th, td {
  margin: 0;
  padding: 0; }

/** 设置默认字体 **/
body,
button, input, select, textarea {
  font: 12px/1.5 '微软雅黑', arial, tahoma, simsun;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/** 重置列表元素 **/
ul, ol {
  list-style: none; }

/** 重置文本格式元素 **/
a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: underline; }

/* for ie6 */
fieldset, img {
  border: 0; }

/* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea {
  font-size: 100%;
  vertical-align: middle; }

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  display: block;
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both; }

.clearfix {
  zoom: 1; }

.clear {
  clear: both; }

.hide {
  display: none; }

.show {
  display: block; }

body {
  background: #fff; }

.header {
  height: 100px;
  overflow: hidden;
  margin: 20px 0 20px 0; }

.header > div {
  float: left;
  margin-right: 8px;
  height: 100%; }

.header .star {
  width: 200px;
  color: #9B9B9B; }

.header .star .ratio {
  height: 10px;
  background-color: #FFD596;
  margin-left: 10px;
  margin-right: 5px;
  display: -moz-inline-stack;
  display: inline-block; }

.header img, .header .pic {
  height: 100%;
  max-width: 160px; }

.header .desc {
  width: 200px; }

.header .desc h1 {
  font-size: 18px;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden; }

.header .desc p {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px; }

.header .desc p .score {
  font-size: 16px; }

.form-horizontal {
  height: 50px; }

.form-horizontal .form-control select {
  width: 250px;
  height: 30px;
  margin-right: 10px;
  padding-left: 5px; }

.form-horizontal .form-control .input-large {
  width: 250px;
  height: 28px;
  margin-right: 10px;
  padding-left: 5px; }

.review-box {
  width: 1000px; }

.clearfix:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both; }

.clearfix {
  zoom: 1; }

.clear {
  clear: both; }

.content .box {
  padding: 10px 20px; }

.content .box:not(:last-child) {
  border-bottom: 1px solid #ddd; }

.box-pic, .box-label {
  float: left;
  position: relative; }

.box-label .desc {
  width: 800px;
  padding: 3px 6px;
  word-wrap: break-word;
  word-break: break-all; }

.box-label .del {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: #2F7ED8;
  display: none; }

.box-pic {
  width: 100px;
  overflow: hidden; }

.box-pic img {
  width: calc(100% - 8px);
  height: 100%;
  border: 1px solid #ddd;
  padding: 3px;
  box-shadow: 0 0 1px #eee; }

.box-pic .course-name {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.box-label {
  margin-left: 10px;
  width: calc(100% - 120px); }

.left {
  float: left; }

.right {
  float: right; }

.box-label span {
  display: inline-block; }

.content-bottom {
  margin-bottom: 15px; }

.content div p {
  margin: 15px 0 10px 15px; }

.content div hr {
  width: 990px;
  height: 1px;
  margin-left: 5px;
  border: none;
  border-top: 1px solid #BCBCBC; }

.content div .text {
  width: 850px;
  word-wrap: break-word;
  word-break: break-all; }

.content div p .time {
  float: right;
  margin-right: 50px; }

.content div p .del {
  float: right;
  margin-right: -70px;
  color: #2F7ED8;
  cursor: pointer;
  display: none;
  margin-top: -8px; }

.page-widget {
  font-size: 14px;
  width: 1000px;
  margin-top: 15px; }

.manage-head {
  margin-top: 25px; }

.content .pic {
  height: 60px; }

.rv-spring {
  display: inline-block;
  background: url(../images/star.png); }

.star-icon {
  width: 68px;
  height: 12px;
  position: relative;
  margin: 3px 10px 0 0;
  background-position: 0 -13px;
  overflow: hidden; }

.star-icon .on {
  width: 68px;
  height: 12px;
  position: absolute;
  top: 0;
  background-position: 0 0px; }

.review-box {
  width: 1024px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 15px #ccc; }

.tab-group {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #ddd; }
  .tab-group a {
    height: 48px;
    line-height: 48px;
    display: inline-block;
    float: left;
    padding: 0 40px;
    position: relative;
    border-bottom: 2px solid transparent;
    box-sizing: border-box; }
    .tab-group a.btn-tab-selected {
      border-bottom: 2px solid #0097DA; }
      .tab-group a.btn-tab-selected:before {
        display: inline-block;
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 5px solid #0097DA;
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%); }

.item-nodata {
  text-align: center;
  display: block;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 20px;
  color: #999;
  display: none; }

.cf:after {
  height: 0;
  content: "";
  clear: both;
  zoom: 1; }

.content div p {
  display: inline;
  margin: 0; }
