
.wh-login {
    border-top: 1px solid #dfdfdf;
    width: 100%;
    height: 780px;
    background: #f5f8fa
}

.wh-login .user-login {
    width: 620px;
    height: 545px;
    margin: 117px auto 0;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0 231px;
    border: 1px solid #e4ecf3
}

.wh-login .user-login .wh-login-logo {
    display: inline-block;
    margin: -5px auto 0;
    width: 200px;
    height: 65px;
    background: url(../images/sprite.png) no-repeat
}

.wh-login .user-login .user-text {
    width: 100%;
    line-height: 60px;
    font-size: 28px;
    display: block;
    color: #333;
    margin: 20px 0
}

.wh-login .user-login input {
    width: 331px;
    height: 54px;
    line-height: 54px;
    background: 0 0;
    color: #33334c;
    font-size: 14px;
    padding: 0 13px;
    outline: 0;
    margin-bottom: 14px;
    border: 1px solid #e5e4e4
}

.wh-login .user-login input:hover {
    border: 1px solid #5095eb
}

.wh-login .user-login button {
    display: inline-block;
    width: 359px;
    height: 54px;
    color: #fff;
    border: 0;
    background: #5095eb;
    line-height: 56px;
    font-size: 16px;
    cursor: pointer
}

.wh-login .user-login button:hover {
    background: #67a6f5
}

.wh-login .user-login .wh-login-error {
    color: #e96642;
    font-size: 12px;
    width: 301px;
    margin: 0 auto 10px;
    line-height: 21px;
    text-align: left;
    padding: 0 25px;
    background: url(../images/sprite.png) -200px 0 no-repeat
}

.wh-login .user-login .third-login {
    width: 331px;
    margin: 0 auto;
    text-align: left
}

.wh-login .user-login .third-login p {
    float: left;
    height: 32px;
    line-height: 32px
}

.wh-login .user-login .third-login span a {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    float: left;
    display: block;
    background: url(../images/sprite.png) -88px -68px no-repeat;
    opacity: .8
}

.wh-login .user-login .third-login span a:hover {
    opacity: 1
}

.wh-login .user-login .third-login span .wh-thirdicon2 {
    background: url(../images/sprite.png) -178px -68px no-repeat
}

.wh-login .user-login .third-login span .wh-thirdicon3 {
    background: url(../images/sprite.png) -118px -68px no-repeat
}

.wh-login .user-login .third-login span .wh-thirdicon4 {
    background: url(../images/sprite.png) -148px -68px no-repeat
}

.wh-login .user-login .forget {
    display: block;
    text-align: right;
    padding: 10px 12px;
    width: 359px;
    margin: 0 auto
}