@import "mixins";

/* 常用类定义 */
.mask {
    z-index: 100;

    background-color: #000;

    @include opacity(0);
    @include position-absolute;
}
//超出... 
.ellipsis {
    @include text-overflow;
}
// 清除浮动
.clearfix {
    @include clearfix;
}
.hide {
    display: none !important;
}
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}
.show {
    display: block !important;
}
.tc {
    text-align: center !important;
}
.tl {
    text-align: left !important;
}
.tr {
    text-align: right !important;
}
.vm {
    @include v-position(middle);
}
@each $fs in 12 14 16 18 20 22 24 26 {
    .fs#{$fs} {
        font-size: $fs+0 !important;
    }
}
